.ChartModal__select {
  vertical-align: bottom;
}

.ChartModal__ButtonGroup {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.ChartModal__input {
  margin-right: 5px;
  display: inline-block;
}

.ChartModal__ErrorMessage {
  position: absolute;
}
