{
  "plugins": ["prettier", "testcafe"],
  "rules": {
    "prettier/prettier": "warn",
    "curly": "error"
  },
  "extends": ["react-app", "plugin:camunda-licensed/commercial", "plugin:testcafe/recommended"]
}
