{
  "plugins": ["testing-library", "prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "testing-library/await-async-query": "error",
    "testing-library/await-async-utils": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debug": "error",
    "testing-library/no-manual-cleanup": "error",
    "testing-library/no-wait-for-empty-callback": "error",
    "testing-library/prefer-explicit-assert": "error",
    "testing-library/prefer-find-by": "error",
    "testing-library/prefer-presence-queries": "error",
    "testing-library/prefer-screen-queries": "error",
    "testing-library/prefer-wait-for": "error",
    "import/no-anonymous-default-export": "off",
    "no-duplicate-imports": "error"
  },
  "extends": ["react-app", "plugin:camunda-licensed/commercial"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
