{
  "plugins": ["testing-library"],
  "extends": [
    "react-app",
    "plugin:camunda-licensed/commercial",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-anonymous-default-export": 0,
    "testing-library/await-async-query": "error",
    "testing-library/await-async-utils": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debugging-utils": "error",
    "testing-library/no-dom-import": "error",
    "testing-library/no-manual-cleanup": "error",
    "testing-library/no-wait-for-empty-callback": "error",
    "testing-library/prefer-explicit-assert": "error",
    "testing-library/prefer-find-by": "error",
    "testing-library/prefer-presence-queries": "error",
    "testing-library/prefer-screen-queries": "error",
    "testing-library/prefer-wait-for": "error",
    "no-duplicate-imports": "error"
  }
}
