@import 'shared-styles/shared-styles.scss';

.MessageBox {
  font-size: 0.875em;
  background-color: #f2f2f2;
  padding: 8px 16px;
  margin: 0;
  border-radius: 3px;
  margin-bottom: 1em;
  border: 1px solid #dddddd;
}

.MessageBox--blue {
  border: 1px solid $cam-blue;
  background-color: lighten($cam-blue, 45);
}

.MessageBox--yellow,
.MessageBox--warning {
  border: 1px solid #ffdfb9;
  background-color: #fff2e1;
}

.MessageBox--red,
.MessageBox--danger,
.MessageBox--error {
  border: 1px solid $cam-red;
  background-color: lighten($cam-red, 50);
}

.MessageBox--green,
.MessageBox--success {
  border: 1px solid $cam-green;
  background-color: lighten($cam-green, 50);
}
