.MessageBox {
  font-size: 0.875em;
  background-color: var(--silver-darken-94);
  padding: 8px 16px;
  margin: 0;
  border-radius: 3px;
  margin-bottom: 1em;
  border: 1px solid var(--silver-darken-87);
}

.MessageBox--warning {
  border: 1px solid var(--orange-base-60);
  background-color: var(--orange-lighten-85);
}

.MessageBox--error {
  border: 1px solid var(--red-base-62);
  background-color: var(--red-lighten-85);
}

.MessageBox--success {
  border: 1px solid var(--green-base-44);
  background-color: var(--green-lighten-80);
}
