@import 'diagram/diagram.styles';

.process-display {
  height: calc(100vh - #{$header-height + $footer-height});
  display: flex;
  flex-flow: column;

  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;

  .controls {
    flex: 0 1 auto;

    table {
      float: left;

      td {
        padding-right: 10px;
        vertical-align: top;
      }

      .list-group-item {
        float:left;
      }
    }
  }

  .diagram {
    flex: 1 1 auto;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
  }

  .help_screen {
    .no_definitions {
      text-align: center;
      padding-top: 10rem;

      .indicator {
        font-size: 7rem;
      }

      .title {
        font-size: 4rem;
      }

      .text {
        font-size: 1.5rem;
      }
    }

    .process_definition {
      font-size: 3rem;
      padding-left: 5rem;
    }
  }

  .loading_indicator {
    text-align: center;
    padding-top: 10rem;

    .spinner {
      font-size: 7rem;
    }

    .text {
      font-size: 4rem;
    }
  }

}
