@import 'diagram/diagram.styles';

.process-display {
  height: calc(100vh - #{$header-height + $footer-height});
  display: flex;
  flex-flow: column;

  .controls {
    flex: 0 1 auto;

    form {
      margin-top: 20px;
    }
    table {
      float: left;

      td {
        padding-right: 10px;
        vertical-align: top;
      }

      .list-group-item {
        float:left;
      }
    }
  }
}
