 /* The switch - the box around the slider */
 .Switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.Switch input {display:none;}

/* The slider */
.Switch__Slider--round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.Switch__Slider--round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .Switch__Slider--round {
  background-color: #b5152b;
}

input:focus + .Switch__Slider--round {
  box-shadow: 0 0 1px #b5152b;
}

input:checked + .Switch__Slider--round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.Switch__Slider--round {
  border-radius: 34px;
}

.Switch__Slider--round:before {
  border-radius: 50%;
} 