@import 'shared-styles/shared-styles.scss';

/* The switch - the box around the slider */
.Switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.Switch input {
  opacity: 0;
}

/* The slider */
.Switch__Slider--round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.Switch__Slider--round:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .Switch__Slider--round {
  background-color: $cam-green;
}

input:focus + .Switch__Slider--round {
  box-shadow: 0 0 5px $cam-blue;
}

input:checked + .Switch__Slider--round:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.Switch__Slider--round {
  border-radius: 34px;
}

.Switch__Slider--round:before {
  border-radius: 50%;
}
