.dark .Switch {
  .Switch__Slider--round {
    background-color: var(--silver-darken-80);
  }
  input:checked + .Switch__Slider--round {
    background-color: var(--blue-darken-55);
  }

  &.disabled {
    opacity: 0.6;
  }
}

/* The switch - the box around the slider */
.Switch {
  position: relative;
  display: inline-block;

  &.withLabel {
    display: flex;
    align-items: baseline;
  }

  /* Hide default HTML checkbox */
  input[type='checkbox'].Switch__Input {
    opacity: 0;
    height: 0;
    margin-right: 20px;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

/* The slider */
.Switch__Slider--round {
  position: absolute;
  height: 14px;
  width: 30px;
  min-width: 30px;
  cursor: pointer;
  top: 2px;
  bottom: 0;
  background-color: var(--silver-darken-80);
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &.disabled {
    cursor: not-allowed;
  }

  &.left {
    right: 0;
  }

  &.right {
    left: 0;
  }
}

.Switch__Slider--round:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 2px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .Switch__Slider--round {
  background-color: var(--blue-darken-55);
}

input.focus-visible + .Switch__Slider--round {
  box-shadow: var(--blue-darken-55) 0px 0px 0px 1px, var(--blue-lighten-75) 0px 0px 0px 4px;
  transition: box-shadow 0.05s ease-out 0s;
}

input:checked + .Switch__Slider--round:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.Switch__Slider--round {
  border-radius: 34px;
}

.Switch__Slider--round:before {
  border-radius: 50%;
}
