.AnalysisControlPanel {
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  padding: 12px;
  margin-bottom: 1em;
}

.AnalysisControlPanel__popover {
  display: inline-block;
  margin: 0 0.5em;
  line-height: normal;

  .Popover__button {
    padding-left: 20px;
  }
}

.AnalysisControlPanel__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.AnalysisControlPanel__item {
  display: inline-block;
  position: relative;
  padding-right: 20px;

  .Labeled .label {
    color: #626262;
    font-size: 0.875em;
    margin-bottom: 5px;
  }

  &.summary {
    line-height: 50px;
  }
}

.AnalysisControlPanel__item--select {
  width: 15%;
  min-width: 200px;
}

.AnalysisControlPanel__item--filter {
  display: inline;
  padding-top: 27px;
}

.AnalysisControlPanel__select {
  width: 100%;
}

.AnalysisControlPanel__config {
  cursor: default;
  display: inline-block;
  margin: 0 0.5em;
  line-height: 20px;
}

.AnalysisControlPanel__config--hover .ActionItem {
  background-color: rgba(48, 116, 142, 0.6);
}
