.OptimizeReport {
  padding: 10px;

  .titleBar {
    display: flex;

    .CarbonPopover .buttonWrapper .Button {
      opacity: 0;

      &.active,
      &.focus-visible {
        opacity: 1;
      }
    }
  }

  .EntityName {
    padding-right: 0;

    .CarbonPopover {
      margin-top: -2px;
      .buttonWrapper .Button {
        margin-left: 2px;
      }
    }

    .name-container .name {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      color: var(--grey-darken-23);
    }
  }

  .InstanceCount {
    margin-top: 0;
    > .countString {
      display: none;
    }

    > span {
      vertical-align: top;
    }

    .CarbonPopover {
      display: inline-block;
      margin-top: -2px;

      .buttonWrapper .Button {
        width: 20px;
        height: 20px;
      }
    }
  }

  .visualization {
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .Table {
      table-layout: fixed;
      min-width: 100%;
    }
  }
}
