@import 'shared-styles/shared-styles.scss';

.OptimizeReport {
  padding: 10px;

  .titleBar {
    display: flex;

    .Popover__button {
      opacity: 0;

      &.active,
      &.focus-visible {
        opacity: 1;
      }
    }
  }

  .EntityName {
    .Popover {
      margin-top: -2px;
    }

    .name-container .name {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      color: $grey-darken-23;
    }
  }

  .InstanceCount {
    margin-top: 0;
    > .countString {
      display: none;
    }

    .Popover .Popover__button {
      vertical-align: middle;

      &::after {
        content: '';
      }
    }
  }

  .visualization {
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .Table {
      table-layout: fixed;
      min-width: 100%;
    }
  }
}
