.TextReport {
  padding: 10px;

  .TextEditor {
    .Editor .editor {
      max-height: 100%;
      min-height: 0;
      border: none;
      padding: 0;
      padding-top: 0.5rem;
    }
  }

  .EditButton:not(.EditTextReport) {
    display: none;
  }

  .DeleteButton {
    right: 10px;
  }

  .EditButton {
    right: 39px;
  }
}

.DashboardView,
.Sharing {
  .EditTextReport {
    display: none;
  }
}
