.dark {
  .DashboardObject {
    background-color: #333;
    border: 1px solid #555;
  }
}

.DashboardObject {
  position: absolute;
  overflow: auto;
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  border-radius: 4px;
  flex-grow: 1;
  transition: background-color 0.3s, border 0.3s;
}
