.ChangeLog {
  display: flex;

  .Button {
    padding: 0 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    white-space: nowrap;
    font-size: 0.8em;

    &:hover {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      text-decoration: none;
    }
  }
}

.ChangeLogModal {
  font-size: 0.875em;

  .Modal__content {
    max-height: calc(100vh - 150px);
    overflow: auto;
  }

  h2 {
    font-size: 1.143em;
    font-weight: 600;
    margin: 24px 0 10px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  code {
    background-color: var(--silver-darken-94);
    font-size: 12px;
    padding: 0px 4px;
    border: 1px solid var(--silver-darken-87);
  }

  p {
    margin: 0 0 6px 0;
  }
}
