@import 'shared-styles/shared-styles.scss';

.ProcessPart {
  > .Button {
    width: 100%;
  }

  .ProcessPart__current {
    cursor: pointer;
    white-space: pre-wrap;

    .ActionItem .content {
      margin-top: -20px;

      span.highlighted {
        @include highlighted;
      }
    }
  }
}

.ProcessPartModal {
  .cds--modal-container {
    height: 100%;
  }

  .cds--modal-content {
    display: flex;
    flex-direction: column;

    .diagram-container {
      display: flex;
      flex-grow: 1;
    }

    .MessageBox {
      margin-top: 8px;
    }
  }
}
