@import 'shared-styles/shared-styles.scss';

.ProcessPart {
  > .Button {
    width: 100%;
  }

  .ProcessPart__current {
    cursor: pointer;
    white-space: pre-wrap;

    .ActionItem span.highlighted {
      @include highlighted;
    }
  }
}

.ProcessPartModal .Modal__content {
  display: flex;
  flex-direction: column;

  .diagram-container {
    display: flex;
    flex-grow: 1;
  }

  .MessageBox {
    margin-top: 8px;
  }
}
