@import 'shared-styles/shared-styles.scss';

.ProcessPart {
  > .Button {
    width: 100%;
  }

  .ProcessPart__current {
    cursor: pointer;
    white-space: pre-wrap;

    .ActionItem {
      width: 100%;
      span.highlighted {
        @include highlighted;
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
      }
    }
  }
}

.ProcessPartModal .Modal__content {
  display: flex;
  flex-direction: column;

  .diagram-container {
    display: flex;
    flex-grow: 1;
  }

  .MessageBox {
    margin-top: 8px;
  }
}
