:root {
  --silver-lighten-99: #fcfcfc;
  --silver-base-97: #f8f8f8;
  --silver-darken-94: #efefef;
  --silver-darken-87: #dedede;
  --silver-darken-80: #cdcdcd;
  --grey-lighten-56: #909090;
  --grey-lighten-50: #7f7f7f;
  --grey-base-40: #666666;
  --grey-darken-36: #5d5d5d;
  --grey-darken-33: #4c4c4c;
  --grey-darken-23: #3b3b3b;
  --grey-darken-13: #212121;
  --blue-lighten-93: #dbe9ff;
  --blue-lighten-82: #a2c5ff;
  --blue-lighten-75: #80b0ff;
  --blue-base-65: #4d90ff;
  --blue-darken-62: #3c85ff;
  --blue-darken-55: #1a70ff;
  --blue-darken-48: #005df7;
  --blue-darken-32: #003da3;
  --blue-darken-18: #00235c;
  --red-lighten-85: #ffb3b3;
  --red-base-62: #ff3d3d;
  --red-darken-52: #ff0a0a;
  --red-darken-42: #d60000;
  --red-darken-38: #c20000;
  --red-darken-26: #850000;
  --red-darken-18: #5c0000;
  --orange-base-60: #ffa533;
  --green-base-44: #10d070;
  --grey-darken-33-2: #535353;
  --color-ui-dark-01: #1c1f23;
}
