@font-face {
  font-family: 'IBM Plex Sans';
  src: local('IBMPlexSans-Bold'), url('https://fonts.camunda.io/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: local('IBMPlexSans-Medium'), url('https://fonts.camunda.io/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Medium.woff');
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: IBM Plex Sans;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.nsResizing {
  cursor: ns-resize !important;
}

body.ewResizing {
  cursor: ew-resize !important;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

button {
  font-family: IBM Plex Sans;
  cursor: pointer;
  border-width: 0;
}

button:disabled {
  cursor: not-allowed;
}

/* removes dotted default focus */
button::-moz-focus-inner {
  border: 0;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

svg {
  fill: currentColor;
}

.bjs-powered-by {
  display: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

textarea {
  margin: 0;
}
