@use '@carbon/react' as * with (
  $font-path: 'https://fonts.camunda.io'
);
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/grid';
@use '@carbon/layout/scss/convert';

@include grid.flex-grid(
  $breakpoints: (
    sm: (
      columns: 4,
      margin: 0,
      width: convert.rem(320px),
    ),
    md: (
      columns: 8,
      margin: 0,
      width: convert.rem(672px),
    ),
    lg: (
      columns: 16,
      margin: 0,
      width: convert.rem(1056px),
    ),
    xlg: (
      columns: 16,
      margin: 0,
      width: convert.rem(1312px),
    ),
    max: (
      columns: 16,
      margin: 0,
      width: convert.rem(1584px),
    ),
  )
);

.cds--g10 {
  @include theme.theme(themes.$g10);
}

.cds--g100 {
  @include theme.theme(themes.$g100);
}
