@font-face {
  font-family: 'IBMPlexSans';
  src: local('IBMPlexSans-Bold'), url('./fonts/IBMPlexSans-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: local('IBMPlexSans-Italic'), url('./fonts/IBMPlexSans-Italic.woff2');
  font-style: italic;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: local('IBMPlexSans-Medium'), url('./fonts/IBMPlexSans-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: local('IBMPlexSans-Regular'), url('./fonts/IBMPlexSans-Regular.woff2');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: local('IBMPlexSans-SemiBold'), url('./fonts/IBMPlexSans-SemiBold.woff2');
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: IBMPlexSans;
  margin: 0;
  padding: 0;
}

button {
  font-family: IBMPlexSans;
}

svg {
  fill: currentColor;
}

.bjs-powered-by {
  display: none;
}
