@use '@carbon/react' with (
  $css--reset: false
); // the 'with' part is temporary solution and has to be deleted when whole Optimize will be carbonized

@import 'shared-styles/shared-styles.scss';
@import '~@ibm/plex/css/ibm-plex.css';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

@import 'colors.scss';

:root {
  --cds-icon-primary: #161616;
  --cds-text-inverse: #fff;

  --z-notification: 1000;
  --z-login: 900;
  --z-tooltip: 800;
  --z-modal-popup: 700;
  --z-modal: 600;
  --z-popup: 500; //popovers, dropdowns, ...
  --z-header: 400;
  --z-above: 1;
  --z-below: -1;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--grey-darken-13);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  .dark {
    color: var(--silver-darken-87);
  }
}

.Root-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; // for firefox see https://stackoverflow.com/a/28639686
  flex-basis: 0%; // for IE 11 see https://github.com/philipwalton/flexbugs/issues/134
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

a {
  color: var(--blue-darken-55);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--blue-darken-55);
}

.focus-visible {
  outline: none;
  border-radius: 3px;
  box-shadow: var(--blue-darken-55) 0px 0px 0px 1px, var(--blue-lighten-75) 0px 0px 0px 4px;
  transition: box-shadow 0.05s ease-out 0s;
}

button,
select,
a,
input {
  &:focus {
    outline: none;
  }
}

button {
  margin: 0;
}

/* TYPOGRAPHY */
/* TEMP Heading styles -> use global CSS reset?
Use classes when more design work has been done */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input,
button,
select,
textarea,
option {
  font-family: inherit;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

section h1 {
  font-size: 1.5em;
}

.small {
  font-size: 0.875em;
}

.textBold {
  font-weight: bold;
}

/* UTILITIES */

.visually-hidden {
  @include visually-hidden;
}

a[disabled] {
  // support to disable links: https://github.com/ReactTraining/react-router/issues/1082
  pointer-events: none;
}
