* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="password"] {
  border: 1px solid lightgray;
  padding: 4px;
}

main {
  padding: 15px;
}


/* Form elements */
input[type="text"],
input[type="password"] {
  color: #333;
  font-size: .875em;
  padding: 4px 6px;
}

input[type="text"][disabled],
input[type="text"][disabled="disabled"],
input[type="password"][disabled],
input[type="password"][disabled="disabled"] {
  cursor: not-allowed;
}


select {
  font-size: .875em;
  color: #333;
  height: 2em;
}

select[disabled],
select[disabled="disabled"] {
  opacity: .65;
  cursor: not-allowed;
}
