* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="password"] {
  border: 1px solid lightgray;
  padding: 4px;
}

main {
  padding: 10px;
}
