.BarChartModal__select {
  vertical-align: bottom;
}

.BarChartModal__ButtonGroup {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.BarChartModal__input {
  margin-right: 5px;
}

.BarChartModal__ErrorMessage {
  position: absolute;
}
