.MultiValueInput {
	.textInput {
		height: auto;
		max-height: max-content;
		padding: 5px 10px 5px;
		display: inline-flex;
		flex-wrap: wrap;

		&:focus-within {
			outline: 2px solid var(--cds-focus, #0f62fe);
			outline-offset: -2px;
		}

		.textInput {
			border: 0.125rem solid transparent;
			background-clip: padding-box;
			outline: none;
			background-color: inherit;
			text-overflow: ellipsis;
			padding: 0 4px;
			min-width: 100px;
			max-width: 100%;
			flex-basis: 0;
			flex-grow: 1;
		}

		.RemovableTag {
			max-width: 220px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
