*.iml
.idea/
.classpath
.project
.settings
target/
.DS_Store
.vscode/
.git/

# Dockerignore files are not recursive :( - https://github.com/moby/moby/issues/20944
client/build
client/node_modules
client/src/node_modules
client/target
