*.iml
.idea/
.classpath
.project
.settings
target/
.DS_Store
.vscode/
.git/

# Dockerignore files are not recursive :( - https://github.com/moby/moby/issues/20944
operate/client/build
operate/client/node_modules
operate/client/src/node_modules
operate/client/target
