
[*]
indent_style = space
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_style = tab
indent_size = 4

[*.xml]
indent_size = 2

[*.html]
indent_size = 2

[*.md]
indent_size = 2

[*.yml,*.yaml]
indent_size = 2
