*.iml
.idea/
target/
**/dependency-reduced-pom.xml
# eclipse
.classpath
.project
.settings
.npmcache
.retry
nohup.out
errorShots/
.DS_Store

client/.vscode/
client/dist
client/*.md

qa/engine-rest-secure/overlays
