.idea/*
!.idea/codeStyles
!.idea/externalDependencies.xml
!.idea/google-java-format.xml
!.idea/saveactions_settings.xml
!.idea/copyright/Apache_2_0.xml
!.idea/copyright/profiles_settings.xml
!.idea/copyright/Zeebe_1_1.xml
!.idea/scopes/apache_license_scope.xml
target
.classpath
.checkstyle
.project
.checkstyle
.settings
.factorypath
build.properties
bin
.metadata
transaction.log
nbactions*.xml
nb-configuration.xml
/webapps/fox-platform-tasklist/server-work
dependency-reduced-pom.xml
faces-config.NavData
*.iml
*.sublime-project
*.sublime-workspace
*.h2.db
*.lock.db
.cache-main
.cache-tests
.jqwik-database
.run

*.DS_Store
.java-version
.gradle
.worktree
work/
public/
tngp-data
*.sst

.flattened-pom.xml

hs_err*.log
/data/
/metrics/
*.exe
/clients/go/.idea/

.vscode
.eslintcache
els-snapshots

optimize/client/.node/
.yarn
