*.iml
.idea/*
.idea
.vscode/
target/
**/dependency-reduced-pom.xml
**/dependency-reduced-pom-*.xml
# eclipse
.classpath
.project
.settings
.npmcache
.retry
nohup.out
errorShots/
.DS_Store

client/.vscode/
client/dist
client/*.md
client/.node/

qa/engine-rest-secure/overlays
qa/engine-rest-custom/overlays

# visual studio code workspace files
*.code-workspace

# Exclude IntelliJ copyright config
!.idea/copyright
!.idea/copyright/*

m2-repository/
/.run
/.run/*
