@keyframes appear {
  from {
    opacity: 0;
    margin-top: -60px;
  }
}

@keyframes disappear {
  to {
    opacity: 0;
    margin-top: -60px;
  }
}

.Notification {
  position: relative;
  pointer-events: auto;
  margin: auto;
  width: 731px;
  border-radius: 3px;
  background-color: var(--blue-base-65);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  padding: 20px 50px;
  margin-top: 34px;
  color: var(--silver-lighten-99);
  animation: appear 0.35s ease-in-out;

  > .Icon {
    position: absolute;
    left: 20px;
    top: 21px;
  }

  .Button.close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    border: none;
    color: var(--silver-lighten-99);
    padding: 1px;

    .Icon {
      margin-right: 0;
    }
  }

  &.success {
    background-color: var(--green-base-44);
  }

  &.warning {
    background-color: var(--orange-base-60);
  }

  &.error {
    background-color: var(--red-darken-38);
  }

  &.closing {
    animation: disappear 0.35s ease-in-out forwards;
  }
}
