.ProcessDefinitionSelection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 500px;
}

.ProcessDefinitionSelection--large {
  height: 400px;
}

.ProcessDefinitionSelection__selects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.ProcessDefinitionSelection__selects-item {
  display: flex;
  flex-grow: 1;
  position: relative;
  padding-top: 25px;

  margin-bottom: 25px;
}

.ProcessDefinitionSelection__version-select__warning {
  font-size: 12px;
  color: #888;
  margin-top: -20px;
  margin-bottom: 15px;
}

.ProcessDefinitionSelection__label {
  color: #626262;
  font-size: 0.875em;
  top: 0px;
  left: 0;
  position: absolute;
}

.ProcessDefinitionSelection__name-select {
  width: 100%;
  flex-grow: 1;
  margin-right: 20px;
}

.ProcessDefinitionSelection__version-select {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.ProcessDefinitionSelection__diagram {
  border-top: 1px solid #dfdfdf;

  padding: 10px;
  display: flex;
  flex-grow: 1;
}
