.Popover {
  position: relative;

  &.scrollable {
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}

.Popover__button--open,
.Popover__button {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding-right: 25px;

  .downIcon {
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right: 5px;
  }
}

.Popover__dialog {
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-top: 10px;
  z-index: 9998;
  overflow-y: scroll;
}
.Popover__dialog-arrow,
.Popover__dialog-arrow-border {
  bottom: -11px;
  z-index: 9999;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.Popover__dialog-arrow {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}
.Popover__dialog-arrow-border {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: lightgray;
  border-width: 11px;
  margin-left: -11px;
}
