<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.analytics.store.rdbms.metadata.DatasetSpecMapper">

  <select id="countSpecs" resultType="long">
    SELECT COUNT(*) FROM ANALYTICS_DATASET_SPEC
  </select>

  <select id="searchSpecs" resultType="io.camunda.analytics.store.rdbms.metadata.row.SpecRow">
    SELECT CUBE_ID, NAME, SOURCE_FACT, KIND, SPEC FROM ANALYTICS_DATASET_SPEC
    <where>
      <if test="name != null">AND NAME = #{name}</if>
      <if test="sourceFact != null">AND SOURCE_FACT = #{sourceFact}</if>
      <if test="kind != null">AND KIND = #{kind}</if>
    </where>
    ORDER BY CUBE_ID
  </select>

  <select id="selectSpecById" resultType="io.camunda.analytics.store.rdbms.metadata.row.SpecRow">
    SELECT CUBE_ID, NAME, SOURCE_FACT, KIND, SPEC FROM ANALYTICS_DATASET_SPEC WHERE CUBE_ID = #{cubeId}
  </select>

  <insert id="insertSpec" parameterType="io.camunda.analytics.store.rdbms.metadata.row.SpecRow">
    INSERT INTO ANALYTICS_DATASET_SPEC (CUBE_ID, NAME, SOURCE_FACT, KIND, SPEC)
    VALUES (#{cubeId}, #{name}, #{sourceFact}, #{kind}, #{spec})
  </insert>
</mapper>
