.NodeDuration {
  .content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
  }

  .diagram-container {
    height: 70%;
    display: flex;
  }

  .Message {
    text-align: right;
  }
}
