@import 'shared-styles/shared-styles.scss';
@import './ButtonGroup.colors.scss';

.ButtonGroup {
  display: flex;

  &.disabled {
    pointer-events: none;

    .Button,
    a.Button {
      color: $text-disabled;
      border-color: $border-disabled;

      &.isActive {
        color: $text-active-disabled;
        background: $bg-active-disabled;
        border: 1px solid $border-active-disabled;
      }
    }
  }

  .Button,
  a.Button {
    flex: 1 0 0;
    border-radius: 0;
    position: relative;

    &:not(:last-child) {
      border-right-width: 0;
    }

    &.isActive {
      color: white;
      background-color: $blue;
      border: 1px solid darken($blue, 5%);
      transition: background-color 0.2s, border-color 0.2s;
    }

    &:focus {
      z-index: 1;
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
