@import 'shared-styles/shared-styles.scss';

.ButtonGroup {
  display: flex;

  &.disabled {
    pointer-events: none;

    .Button,
    a.Button {
      border: 1px solid $silver-darken-87;
      color: $grey-lighten-56;

      &.active {
        color: $grey-lighten-56;
        background-color: $silver-darken-87;
        border: 1px solid $silver-darken-80;
      }
    }
  }

  .Button,
  a.Button {
    flex: 1 0 0;
    border-radius: 0;
    position: relative;

    &:not(:last-child) {
      border-right-width: 0;
    }

    &.active {
      color: $silver-base-97;
      background-color: $blue-darken-55;
      border: 1px solid $blue-darken-48;
    }

    &:focus {
      z-index: 1;
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
