.ButtonGroup {
  display: flex;

  &.disabled {
    pointer-events: none;

    .Button,
    a.Button {
      border: 1px solid var(--silver-darken-87);
      color: var(--grey-lighten-56);

      &.active {
        color: var(--grey-lighten-56);
        background-color: var(--silver-darken-87);
        border: 1px solid var(--silver-darken-80);
      }
    }
  }

  .Button,
  a.Button {
    flex: 1 0 0;
    border-radius: 0;
    position: relative;

    &:not(:last-child) {
      border-right-width: 0;
    }

    &.active {
      color: var(--silver-base-97);
      background-color: var(--blue-darken-55);
      border: 1px solid var(--blue-darken-48);
    }

    &:focus {
      z-index: var(--z-above);
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
