.DurationHeatmapModal {
  .cds--modal-container {
    height: 100%;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }

  .diagram-container {
    flex-grow: 1;
    display: flex;
  }

  .Table {
    max-height: 30%;
    height: auto;

    table {
      height: 100%;
    }

    .Dropdown {
      width: 130px;
    }
  }

  .Message {
    text-align: right;
  }

  .selection {
    display: flex;
    min-width: 0;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    .Input {
      min-width: 0;
      flex-grow: 1;
    }

    .Select {
      min-width: 0;
    }
  }
}
