.DurationHeatmapModal {
  .cds--modal-container {
    height: 100%;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .diagram-container {
    flex-grow: 1;
    display: flex;
  }

  .Table {
    max-height: 30%;
    height: auto;

    table {
      height: 100%;
    }

    .selection {
      display: flex;
      min-width: 0;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;

      .cds--form-item {
        min-width: 0;
        flex-grow: 1;
      }

      .CarbonSelect {
        margin-left: 0.5rem;
        min-width: 130px;
      }
    }
  }

  .errorMessage {
    margin-top: 1rem;
    max-width: 100%;
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
