.TargetValueDiagramBehavior__clickable {
  cursor: pointer;
}

.TargetValueDiagramBehavior__highlight .djs-outline {
  stroke-width: 2px !important;
  stroke: #276e8c !important;
  fill: rgba(48, 116, 142, 0.6) !important;
}
