@import 'shared-styles/shared-styles.scss';

.Input[type='text'],
.Input[type='password'],
.Input[type='number'],
.Input[type='email'],
textarea {
  color: #333;
  border: 1px solid lightgray;
  font-size: 0.875em;
  padding: 6px 10px;
  border-radius: 3px;

  &[disabled],
  &[disabled='disabled'] {
    cursor: not-allowed;
    color: graytext;
    background-color: #f8f8f8;
    border-color: #bbb;
  }

  &.isInvalid {
    border: 1px solid $cam-red;
  }
}
