.Input[type='text'],
.Input[type='password'],
.Input[type='number'],
.Input[type='email'],
textarea {
  color: var(--grey-darken-13);
  border: 1px solid var(--silver-darken-80);
  font-size: 0.875em;
  padding: 6px 10px;
  border-radius: 3px;

  &::placeholder {
    color: var(--grey-lighten-56);
    font-style: italic;
  }

  &[disabled],
  &[disabled='disabled'] {
    cursor: not-allowed;
    color: var(--grey-lighten-56);
    background-color: var(--silver-base-97);
    border-color: var(--silver-darken-80);
  }

  &.isInvalid {
    border: 1px solid var(--red-darken-38);
  }

  &:not(:valid) ~ .searchClear {
    display: none;
  }

  // remove x clear button in edge browser
  &::-ms-clear {
    display: none;
  }
}

.searchClear {
  position: absolute;
  display: flex;
  right: 10px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 100%;
  color: var(--grey-base-40);
  height: 16px;
  padding: 0px;
  margin: auto;

  &:focus {
    outline: none;
    border-radius: 100%;
  }

  &:hover {
    color: var(--grey-darken-23);
  }
}

input[type='radio'],
input[type='checkbox']:not(.cds--checkbox) {
  min-width: 14px;
  height: 14px;
  vertical-align: middle;
  padding: 0;
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--silver-darken-80);

  &:disabled {
    cursor: not-allowed;
    background-color: var(--silver-base-97);
    &:checked {
      opacity: 0.5;
    }
  }

  &:hover:not(:disabled) {
    border-color: var(--blue-darken-55);
  }
}

input[type='checkbox']:not(.cds--checkbox) {
  border-radius: 3px;

  &:checked {
    background: url('./check-small.svg');
    background-color: var(--blue-darken-55);
    border-color: var(--blue-darken-55);
    background-position: 0.5px;
    background-size: cover;
  }

  &:indeterminate {
    background: linear-gradient(var(--white), var(--white));
    background-color: var(--blue-darken-55);
    background-size: 6px 2px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

input[type='radio'] {
  border-radius: 50%;

  &:checked {
    background: radial-gradient(var(--white) 0, var(--white) 40%, var(--blue-darken-55) 60%);
    border-color: var(--blue-darken-55);

    &:focus {
      box-shadow: inset 0px 0px 0px 4px var(--blue-darken-55);

      &.focus-visible {
        box-shadow: inset 0px 0px 0px 4px var(--blue-darken-55),
          var(--blue-lighten-75) 0px 0px 0px 2px;
      }
    }

    &:not(:focus) {
      box-shadow: inset 0px 0px 0px 4px var(--blue-darken-55);
    }
  }
}
