.TargetValueBadge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: var(--silver-lighten-99);
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: var(--grey-lighten-50);
  border-radius: 10px;
}
