.CarbonChecklist {
  &.customHeader {
    th:first-child {
      display: none;
    }
  }

  .cds--search {
    flex: 1;
  }

  table {
    tbody {
      min-height: 300px;

      tr {
        cursor: pointer;
      }
    }
  }

  &.headerHidden {
    thead {
      display: none;
    }
  }
}
