.TemplateModal {
  .cds--modal-container {
    height: 100%;

    .gridContainer {
      height: 100%;
    }
  }

  &.noProcess .definitionSelection {
    align-items: center;
    justify-content: center;

    .formArea,
    .diagramArea {
      display: none;
    }

    .noProcessHint {
      font-size: 14px;
      color: var(--grey-lighten-56);
    }
  }

  .definitionSelection {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    .Form .FormGroup {
      padding: 0;
    }

    .formArea {
      min-height: 100px;
      margin-bottom: 15px;
    }

    .diagramArea {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      border-radius: 3px;
      border: solid 1px var(--silver-darken-87);
      overflow-y: auto;
      position: relative;

      .diagramContainer {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-direction: column;
        padding: 15px;
        min-height: 0;

        &:not(:last-child) {
          border-bottom: 1px solid var(--silver-darken-87);
        }

        .title {
          font-size: 14px;
          font-weight: 600;
          padding-bottom: 5px;
        }

        .BPMNDiagram {
          .ZoomControls {
            display: none;
          }

          &:hover .ZoomControls {
            display: block;
          }
        }
      }

      ol {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        align-self: center;
        color: var(--grey-lighten-56);
        font-size: 14px;

        li {
          margin: 5px 0;
        }
      }
    }
  }

  .configurationSelection {
    padding: 20px 0px 20px 20px;
    border-left: 1px solid var(--silver-darken-87);
    overflow-y: auto;

    .templateContainer {
      .groupTitle {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 15px;
      }

      .Button {
        display: block;
        width: 100%;
        padding: 1px;
        margin-bottom: 20px;
        background-color: var(--white);
        text-align: left;

        &:disabled {
          opacity: 0.3;
        }

        &.active {
          padding: 0;
          border: 2px solid var(--blue-base-65);

          .name,
          .subTitle {
            background-color: var(--blue-lighten-93);
          }
        }

        &.hasSubtitle {
          .name {
            padding-top: 8px;
            padding-bottom: 0;
            min-height: 26px;
          }

          .subTitle {
            color: var(--grey-base-40);
            font-size: 12px;
            line-height: 1.5;
            padding: 0 10px;
            padding-bottom: 6px;
          }
        }

        img,
        .imgPlaceholder {
          margin: 10px;
          margin-bottom: 0;
          width: calc(100% - 20px);
          height: 80px;
        }

        .name {
          color: var(--grey-darken-23);
          font-size: 14px;
          font-weight: 500;
          min-height: 40px;
          padding: 10px;
          line-height: 20px;
        }
      }
    }
  }
}
