target/
test-output/
.settings/
.classpath/
*.project
.idea
*.classpath
*.iml
.DS_Store
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
*.pyc
core/data/
agent/data/
data/
.data/
.sts4-cache/
