.StringInput {
  .valueSelection {
    width: 100%;
    position: relative;

    .title {
      position: absolute;
      font-size: 0.875em;
      top: 10px;
    }

    .Checklist {
      margin-bottom: 10px;

      .header .selectAll {
        display: none;
      }
    }
  }

  &.hasMore .Checklist {
    border-bottom: 1px solid var(--silver-darken-87);
  }
}
