.Sharing {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 36px 20px 0px 20px;
}

.Sharing__header {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 32px;
}

.Sharing__title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-grow: 1;
  padding-right: 48px;
}

.Sharing__content {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;

  .Table {
    min-width: 25%;
  }

  .OptimizeReport:hover {
    .Popover__button {
      opacity: 1;
    }
  }
}
