.Sharing {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 25px 0 40px;

  .ReportDetails .modalsButtons {
    display: none;
  }

  > .header {
    flex-shrink: 0;
    margin-bottom: 40px;

    .title-button {
      flex-shrink: 0;
    }

    > .InstanceCount {
      margin-top: 0;

      .Popover {
        .countString,
        .filterListHeading {
          display: none;
        }
      }
    }
  }

  .title-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  > .content {
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;

    .Table {
      min-width: 25%;
    }
  }

  .OptimizeReport:hover {
    .Popover__button {
      opacity: 1;
    }
  }

  &.compact {
    padding: 10px;

    > .header {
      margin-bottom: 15px;

      .EntityName {
        padding-right: 10px;

        > .name-container .name {
          font-size: 14px;
          font-weight: bold;
          line-height: 30px;
        }

        .Popover {
          margin-top: 4px;
        }
      }

      .title-button {
        border: none;
        box-shadow: none;
        font-size: 14px;
        padding: 5px;
        height: 30px;
        min-width: 55px;

        &:not(:hover):not(.active):not(:active) {
          background: transparent;
        }
      }
    }

    > .content {
      margin-bottom: 0;
    }
  }
}
