.ShareEntity {
  width: 300px;

  .ShareEntity__enable {
    border-bottom: 1px solid lightgray;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
  }

  .ShareEntity__enable-text {
    vertical-align: middle;
    font-weight: bold;
  }

  .ShareEntity__icon {
    width: 125px;
    height: 100px;
    position: relative;
    top: 50px;
    margin-right: 13px;
    display: inline-block;
    background-repeat: no-repeat;
  }

  .ShareEntity__icon-container {
    display: inline-flex;
    width: 100%;
  }

  .ShareEntity__link-area--disabled {
    opacity: 0.5;
  }

  .ShareEntity__label {
    color: #626262;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block;
  }

  .ShareEntity__label-description {
    color: #626262;
    font-size: 0.8em;
    padding-bottom: 5px;
    display: block;
  }

  .ShareEntity__clipboard {
    width: 100%;
    padding-top: 25px;
  }
}
