@import 'shared-styles/shared-styles.scss';

.OptionsList {
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #bbb;
  border-radius: 3px;
  z-index: var(--z-popup);
  position: absolute;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;
  max-height: 350px;

  &:empty {
    display: none;
  }

  .DropdownOption {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    height: auto;
    &.isActive {
      background-color: rgba(216, 220, 227, 0.5);
      color: black;
      border: none;
      transition: none;
    }

    &:hover {
      background-color: $blue;
      color: #fff;
      .subText {
        color: #fff;
      }
    }

    &.message {
      color: grey;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover,
      &:focus {
        color: grey;
        background-color: #fff;
        cursor: auto;
      }
    }
  }
}
