.OptionsList {
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--silver-darken-80);
  border-radius: 3px;
  z-index: var(--z-popup);
  position: absolute;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--silver-lighten-99);
  width: 100%;
  max-height: 350px;

  &:empty {
    display: none;
  }

  .DropdownOption {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    height: auto;
    &.isActive {
      background-color: rgba(216, 220, 227, 0.5);
      color: var(--grey-darken-13);
      border: none;
      transition: none;
    }

    &:hover {
      background-color: var(--blue-darken-55);
      color: var(--silver-lighten-99);
      .subText {
        color: var(--silver-lighten-99);
      }
    }

    &.message {
      color: var(--grey-lighten-50);
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover,
      &:focus {
        color: var(--grey-lighten-50);
        background-color: var(--silver-lighten-99);
        cursor: auto;
      }
    }
  }
}
