@import 'shared-styles/shared-styles.scss';

.Typeahead {
  width: 100%;
  position: relative;
  .Input {
    width: 100%;
    padding-left: 20px;

    &::placeholder {
      font-style: italic;
      color: #bbbbbb;
    }
  }

  .optionsButton {
    position: absolute;
    right: 0px;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .Icon {
      margin-right: 0px;
    }
  }

  .searchResultsList {
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #bbb;
    border-radius: 3px;
    z-index: 99999;
    position: absolute;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;

    .searchResult {
      &.isActive {
        background-color: rgba(216, 220, 227, 0.5);
        color: black;
        border: none;
        transition: none;
      }

      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
