.Typeahead {
  width: 100%;
  position: relative;

  .Input {
    width: 100%;
    padding-right: 40px;

    &.selectionVisible::placeholder {
      font-style: normal;
    }
  }

  .optionsButton {
    position: absolute;
    right: 0px;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: none;
    border: none;
    max-height: 32px;
    padding: 0 12px 5px 0;

    .Icon {
      margin-right: 0px;
    }
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
