.FilterList {
  display: inline;
  margin: 0;
  padding: 0;
}

.FilterList__item {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
  background: #fbfbfb;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 20px;
  }

}

.FilterList__itemConnector {
  list-style-type: none;
  display: inline-block;
  margin: 0 .5em;
}

.FilterList__parameter-name {
  font-style: italic;
  font-weight: bold;
}

.FilterList__value {
  background-color: #7FA8C5;
  padding: 1px 8px 2px;
  border-radius: 10px;
  color: #fff;
}
