@import 'shared-styles.scss';

.Filter {
  display: inline;

  .instanceCount {
    white-space: nowrap;
  }

  .Labeled {
    display: inline;
  }

  .Labeled .label {
    @include visually-hidden;
  }
}

.Filter__dropdown {
  margin: 11px 1em 10px 0;
}
