.FilterList {
  display: inline;
  margin: 0;
  padding: 0;
}

.FilterList__item {
  list-style-type: none;
  display: inline-block;
  margin: 0 .5em;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;

  &:first-child {
    margin-left: 0;
  }

}

.FilterList__item-content {
  padding: 0 4px;
  font-size: .875em;
}

.FilterList__itemConnector {
  list-style-type: none;
  display: inline-block;
}

.FilterList__deleteButton,
.FilterList__deleteButton:hover,
.FilterList__deleteButton:active {
  border: 0;
  border-radius: 0;
  border-right: 1px solid #ccc;
}
