@import 'shared-styles.scss';

.Filter {
  display: inline;

  .instanceCount {
    white-space: nowrap;
  }

  .Labeled {
    display: inline;
  }

  .Labeled .label {
    @include visually-hidden;
  }
}

.Filter__dropdown {
  margin-bottom: 24px;
  margin-right: 1em;
}
