.ConfigureProcessModal {
  .infoContainer .Icon {
    opacity: 0.26;

    &:hover {
      opacity: 1;
    }
  }

  .digestSwitch {
    border-radius: 10px;
    margin: 20px 0;
    font-size: 14px;
  }
}
