.GoalSummary {
  width: 100px;
  height: 26px;
  padding: 1px 13px 1px 6px;
  border-radius: 14px;
  border: solid 1px var(--silver-darken-80);
  background-color: #fff;
  position: relative;

  .Icon {
    color: var(--red-darken-38);

    &.success {
      color: var(--green-base-44);
    }

    &:nth-child(3) {
      margin-left: 15px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 0.5px);
        height: 24px;
        border-left: 1px solid var(--silver-darken-80);
      }
    }
  }

  > span.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  > span.height-center {
    vertical-align: middle;
  }
}
