@import 'shared-styles/shared-styles.scss';

.Processes {
  height: 100%;

  .processOverview {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: var(--grey-darken-23);
    margin: 30px 0 0 65px;
    flex-grow: 1;
  }

  .fullscreen {
    height: 500px;
    padding: 0 65px;

    .DashboardView .head > .EntityName {
      display: none;
    }

    .EntityName .Popover,
    .InstanceCount .Popover {
      display: none;
    }

    .tools {
      margin-top: 40px;
      display: none;
    }

    .FiltersView {
      border: none;
      padding: 0;
      margin: 20px 0 5px 0;

      > h3 {
        display: none;
      }
    }
  }

  .EntityList {
    .ListItem .meta,
    .columnHeaders .meta {
      flex-basis: 130px;
    }

    .ListItemAction {
      width: 0;
      margin: 0;
    }

    .columnHeaders {
      padding-right: 0;

      .meta:last-child span {
        visibility: hidden;
      }
    }

    .ownerInfo {
      display: flex;
      align-items: center;
      gap: 10px;

      .ownerName {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .setGoalBtn {
      margin: 4px;
    }

    .summaryContainer {
      display: inline-block;
    }

    .ListItem:not(:hover) {
      .setGoalBtn,
      .processHoverBtn {
        opacity: 0;
        width: 0px;

        &.active,
        &.focus-visible {
          opacity: 1;
        }
      }
    }

    .goalInfo {
      font-size: 14px;

      .highlighted {
        @include highlighted;
        display: inline;
      }
    }
  }
}
