@import 'shared-styles/shared-styles.scss';

.Processes {
  height: 100%;

  .EntityList {
    .ListItem .meta,
    .columnHeaders .meta {
      flex-basis: 250px;
    }

    .ownerInfo {
      display: flex;
      align-items: center;
      gap: 10px;

      .ownerName {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .setGoalBtn {
      margin: 4px;
    }

    .summaryContainer {
      display: inline-block;
    }

    .ListItem:not(:hover) {
      .setGoalBtn,
      .setOwnerBtn {
        opacity: 0;
        width: 0px;

        &.active,
        &.focus-visible {
          opacity: 1;
        }
      }
    }

    .goalInfo {
      font-size: 14px;

      .highlighted {
        @include highlighted;
        display: inline;
      }
    }
  }
}
