@import 'shared-styles/shared-styles.scss';

.NodeFilter {
  .cds--modal-container {
    height: 100%;
  }

  .modalContent {
    display: flex;
    flex-direction: column;

    .diagramContainer {
      margin-top: 25px;
      flex-grow: 1;
      display: flex;
    }

    .preview {
      margin-bottom: 24px;

      .parameterName {
        @include highlighted;
      }

      .previewList {
        display: inline;
        padding: 0px;
        line-height: 30px;

        .previewItem {
          list-style-type: none;
          display: inline-block;

          .previewItemOperator {
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}
