.NodeFilter {
  .modalContent {
    display: flex;
    flex-direction: column;

    .diagramContainer {
      margin-top: 25px;
      flex-grow: 1;
      display: flex;
    }

    .note {
      &.hidden {
        visibility: hidden;
      }

      font-size: 13px;
      color: var(--grey-lighten-56);
      margin-top: 0;
      margin-bottom: 24px;
    }

    .preview {
      .parameterName {
        font-style: italic;
        font-weight: bold;
      }

      .previewList {
        display: inline;
        padding: 0px;
        line-height: 30px;

        .previewItem {
          list-style-type: none;
          display: inline-block;

          .previewItemOperator {
            white-space: pre-wrap;
          }

          .PreviewItemValue {
            display: inline;
          }
        }
      }
    }
  }
}
