.statisticsContainer {
  &.open {
    min-height: 200px;

    .drag-handle {
      height: 5px;
      border-top: 1px solid lightgray;
      cursor: n-resize;
      transition: background-color .218s ease;

      &:hover {
        background-color: lightgray;
      }
    }

    .chart-container {
      display: inline-block;
    }
  }

  .close {
    outline: none;
  }

  .chart-container {
    display: none;
    width: 600px;
    height: 100%;
    vertical-align: top;

    .chart-header {
      height: 50px;
      line-height: 50px;
      text-align: center;
    }

    .chart {
      height: ~"calc(100% - 50px)";
      position: relative;

      .no-data-indicator {
        position: absolute;
        height: 100%;
        width: 100%;
        pointer-events: none;

        div {
          background-color: rgba(212, 212, 212, 0.7);
          margin-left: 20px;
          text-align: center;
          font-size: 3em;
          padding-top: 2em;
          margin-right: 20px;
          height: 100%;
        }
      }

      .bar {
        fill: rgba(181, 21, 43, .6);
        stroke: rgb(181, 21, 43);

        &:hover {
          fill: rgb(181, 21, 43);
        }
      }

      .axis-x path {
        display: none;
      }

      .axis-y .tick line {
        stroke: rgba(0,0,0,0.2);
      }
    }
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 3;

  /* Creates a small triangle extender for the tooltip */
  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  &.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
}

.diagram .djs-container g.chart-hover path {
  stroke: #b5152b !important;
  stroke-width: 3px !important;
}
