.AlertList {
  .EntityList {
    .meta1 {
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .meta2 {
      width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .meta3 {
      display: none;
    }
  }
}
