@import 'shared-styles/shared-styles.scss';

.Collection {
  height: 100%;
  position: relative;

  > .header {
    height: 135px;
    border-bottom: 1px solid $silver-darken-87;
    margin: -36px -20px 0;
    position: relative;

    > .Icon {
      display: inline-block;
      margin-left: 63px;
      margin-top: 38px;
      width: 24px;
      height: 24px;
      position: relative;
      color: $grey-darken-23;

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
      }
    }

    .text {
      display: inline-block;
      top: 35px;
      position: absolute;
      left: 97px;
      right: 100px;
      font-size: 17px;
      height: 32px;
      line-height: 32px;
      color: $grey-darken-33;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: calc(100% - 43px);
        height: 100%;
        vertical-align: middle;
        padding-top: 1px;
      }

      .Dropdown {
        margin-left: 4px;
        width: 32px;
        height: 32px;

        .activateButton {
          width: 32px;
          height: 32px;
          background-color: white;
          color: $grey-darken-23;
          border: none;
          border-radius: 50%;
          padding: 0;
          transform: translate(0, -1px);

          &:hover {
            background-color: $silver-darken-94;
          }

          &.isActive {
            background-color: $silver-darken-80;
          }

          .Icon {
            margin: 4px;
            margin-top: 2px;
          }
        }

        .menu {
          margin-top: -4px;
        }

        .DropdownOption {
          padding-left: 10px;

          .Icon {
            width: 14px;
            height: 14px;
            margin-right: 8px;
          }
        }
      }

      .downIcon {
        display: none;
      }

      .Icon {
        width: 24px;
        height: 24px;
      }
    }

    .navigation {
      display: inline-block;
      position: absolute;
      bottom: 3px;
      left: 56px;
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: 15px;

      li {
        display: inline-block;
        margin-right: 20px;
        color: $grey-darken-36;

        a {
          padding: 4px 8px;
          display: inline-block;
          color: inherit;
          text-decoration: inherit;
        }

        &:hover {
          box-shadow: 0 3px 0 $silver-darken-80;
        }

        &.active {
          font-weight: 500;
          color: $grey-darken-23;
          box-shadow: 0 3px 0 $grey-darken-23;
        }
      }
    }
  }

  > .content {
    position: absolute;
    padding-top: 34px;
    bottom: -36px;
    left: -20px;
    right: -20px;
    top: 135px;
    overflow: auto;
  }

  .EntityList {
    .header {
      margin-top: -34px;
      padding-top: 54px;
    }

    .ListItem {
      &.report .indicator {
        background-color: #00acac;
      }
      &.dashboard .indicator {
        background-color: #0565b2;
      }
    }
  }
}
