.Collection {
  height: 100%;
  display: flex;
  flex-direction: column;

  > .header {
    padding: 30px 65px;
    align-items: center;
    margin-right: auto;

    .text {
      font-size: 17px;
      line-height: 22px;
      color: var(--grey-darken-33);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;

    .cds--tabs {
      padding-left: calc(65px - var(--cds-layout-density-padding-inline-local));
    }

    .cds--tab-content {
      flex: 1;
      overflow: auto;
      padding: 0;
    }
  }

  > input.hidden {
    display: none;
  }
}
