.Home {
  .data-hint {
    text-align: center;
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 20px;

    .Icon {
      min-width: 14px;
      min-height: 14px;
    }
  }

  .EntityList {
    .ListItem {
      &.report .indicator {
        background-color: #00acac;
      }
      &.dashboard .indicator {
        background-color: #0565b2;
      }
      &.collection .indicator {
        background-color: #5b2e96;
      }
    }
  }
}
