@import 'shared-styles/shared-styles.scss';

.Home {
  height: 100%;
  display: flex;
  flex-direction: column;

  .welcomeMessage {
    height: 110px;
    border-bottom: 1px solid $silver-darken-87;
    line-height: 110px;
    color: $grey-darken-23;
    opacity: 0.8;
    font-size: 19px;
    padding-left: 66px;
  }

  > .content {
    overflow: auto;
    flex: 1;
  }
}
