.UserList {
  height: 100%;
}

.AddUserModal,
.EditUserModal {
  .FormGroup {
    .LabeledInput {
      display: inline-block;
      width: 90%;

      .checkLabel {
        align-items: unset;
      }

      label p {
        font-size: 0.8em;
        color: var(--grey-lighten-50);
        margin-top: 0;
      }
    }
  }
}
