.UserList {
  .EntityList {
    .header .Button {
      width: 95px;
    }

    .name {
      width: 532px;
    }

    .meta3 {
      display: none;
    }
  }
}

.AddUserModal,
.EditUserModal {
  .FormGroup {
    .LabeledInput {
      display: inline-block;
      width: 90%;

      p.label {
        font-size: 0.8em;
        color: gray;
        margin-top: 0;
      }
    }
  }
}
