.Tooltip {
  position: relative;
  display: inline-block;
  padding: 5px 0;

  &.light {
    .Tooltip__text-top,
    .Tooltip__text-bottom {
      background: #fff;
      color: #000;
      border: 1px solid grey;

      // border bellow the arrow
      &:before {
        content: ' ';
        position: absolute;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
      }
    }

    .Tooltip__text-top {
      &:before {
        top: 100%;
        left: 50%;
        border-color: gray transparent transparent transparent;
      }

      &:after {
        border-color: #fff transparent transparent transparent;
      }
    }

    .Tooltip__text-bottom {
      &:before {
        bottom: 100%;
        left: 50%;
        border-color: transparent transparent gray transparent;
      }

      &:after {
        border-color: transparent transparent #fff transparent;
      }
    }
  }

  .Tooltip__text-top {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px 10px;
    border-radius: 6px;
    bottom: 100%;
    font-size: 0.8em;
    font-weight: bold;

    position: relative;
    z-index: 1;
  }

  .Tooltip__text-bottom {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px 10px;
    border-radius: 6px;
    bottom: 100%;
    font-size: 0.8em;
    font-weight: bold;

    position: relative;
    z-index: 1;
  }

  .Tooltip__text-top::after {
    // draw arrow below tooltip
    content: ' ';
    position: absolute;
    top: calc(100% - 1px); /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .Tooltip__text-bottom::after {
    // draw arrow below tooltip
    content: ' ';
    position: absolute;
    bottom: calc(100% - 1px); /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
}
