.Tooltip {
  position: relative;
  display: inline-block;
  padding: 8px 0;
}

.Tooltip__text-top {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px 10px;
  border-radius: 6px;
  bottom: 100%;
  font-size: 0.8em;
  font-weight: bold;

  position: relative;
  z-index: 1;
}

.Tooltip__text-bottom {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px 10px;
  border-radius: 6px;
  bottom: 100%;
  font-size: 0.8em;
  font-weight: bold;

  position: relative;
  z-index: 1;
}

.Tooltip__text-top::after {
  // draw arrow below tooltip
  content: ' ';
  position: absolute;
  top: calc(100% - 0.5px); /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.Tooltip__text-bottom::after {
  // draw arrow below tooltip
  content: ' ';
  position: absolute;
  bottom: calc(100% - 0.5px); /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
