/*
 * Copyright Camunda Services GmbH
 *
 * BY INSTALLING, DOWNLOADING, ACCESSING, USING, OR DISTRIBUTING THE SOFTWARE ("USE"), YOU INDICATE YOUR ACCEPTANCE TO AND ARE ENTERING INTO A CONTRACT WITH, THE LICENSOR ON THE TERMS SET OUT IN THIS AGREEMENT. IF YOU DO NOT AGREE TO THESE TERMS, YOU MUST NOT USE THE SOFTWARE. IF YOU ARE RECEIVING THE SOFTWARE ON BEHALF OF A LEGAL ENTITY, YOU REPRESENT AND WARRANT THAT YOU HAVE THE ACTUAL AUTHORITY TO AGREE TO THE TERMS AND CONDITIONS OF THIS AGREEMENT ON BEHALF OF SUCH ENTITY.
 * "Licensee" means you, an individual, or the entity on whose behalf you receive the Software.
 *
 * Permission is hereby granted, free of charge, to the Licensee obtaining a copy of this Software and associated documentation files to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject in each case to the following conditions:
 * Condition 1: If the Licensee distributes the Software or any derivative works of the Software, the Licensee must attach this Agreement.
 * Condition 2: Without limiting other conditions in this Agreement, the grant of rights is solely for non-production use as defined below.
 * "Non-production use" means any use of the Software that is not directly related to creating products, services, or systems that generate revenue or other direct or indirect economic benefits.  Examples of permitted non-production use include personal use, educational use, research, and development. Examples of prohibited production use include, without limitation, use for commercial, for-profit, or publicly accessible systems or use for commercial or revenue-generating purposes.
 *
 * If the Licensee is in breach of the Conditions, this Agreement, including the rights granted under it, will automatically terminate with immediate effect.
 *
 * SUBJECT AS SET OUT BELOW, THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * NOTHING IN THIS AGREEMENT EXCLUDES OR RESTRICTS A PARTY’S LIABILITY FOR (A) DEATH OR PERSONAL INJURY CAUSED BY THAT PARTY’S NEGLIGENCE, (B) FRAUD, OR (C) ANY OTHER LIABILITY TO THE EXTENT THAT IT CANNOT BE LAWFULLY EXCLUDED OR RESTRICTED.
 */
@use '@carbon/type';
@use '@carbon/layout';

$SPACING: var(--cds-spacing-05);
$ENTRY_DEFAULT_BORDER_WIDTH: 1px;
$ENTRY_SELECTED_BORDER_WIDTH: 4px;
$ENTRY_FOCUSED_BORDER_WIDTH: 2px;

.label {
  @include type.type-style('label-01');
  color: var(--cds-text-secondary);

  &.labelPrimary {
    color: var(--cds-text-primary);
  }

  &.contextWrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}

.name {
  @include type.type-style('body-short-02');
  color: var(--cds-text-primary);
}

.flex {
  min-height: layout.to-rem(20px);
  display: flex;

  &.flexRow {
    flex-direction: row;
    justify-content: space-between;
  }

  &.flexColumn {
    flex-direction: column;
    justify-content: center;
  }

  & .clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.alignItemsEnd {
    align-items: flex-end;
  }
}

.taskLink {
  all: unset;
  height: 100%;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
}

.stack {
  width: 100%;
  height: 100%;
}

.container {
  cursor: pointer;

  &.active .taskLink {
    background-color: var(--cds-layer-selected);
    border-left: $ENTRY_SELECTED_BORDER_WIDTH solid
      var(--cds-border-interactive);
    padding: $SPACING $SPACING $SPACING
      calc($SPACING - $ENTRY_SELECTED_BORDER_WIDTH);
  }

  &.active:last-child .taskLink {
    padding: $SPACING $SPACING $SPACING
      calc($SPACING - $ENTRY_SELECTED_BORDER_WIDTH);
  }

  &.active + & .task-link:not(:focus) {
    border-top: none;
    padding: $SPACING;
  }

  &:not(.active) {
    &:hover .task-link {
      background-color: var(--cds-layer-hover);
    }

    &:last-child .taskLink {
      border-bottom: $ENTRY_DEFAULT_BORDER_WIDTH solid
        var(--cds-border-subtle-selected);
      padding: calc($SPACING - $ENTRY_DEFAULT_BORDER_WIDTH) $SPACING;
    }

    & .taskLink {
      border-top: $ENTRY_DEFAULT_BORDER_WIDTH solid
        var(--cds-border-subtle-selected);
      padding: calc($SPACING - $ENTRY_DEFAULT_BORDER_WIDTH) $SPACING $SPACING
        $SPACING;
    }
  }

  & .taskLink:focus {
    border: none;
    padding: $SPACING;
    outline: $ENTRY_FOCUSED_BORDER_WIDTH solid var(--cds-focus);
    outline-offset: -$ENTRY_FOCUSED_BORDER_WIDTH;
  }

  &:last-child .taskLink:focus {
    padding: $SPACING;
  }

  &:first-child .taskLink {
    border-top-color: transparent;
  }
}

.taskSkeleton {
  min-height: layout.to-rem(136px);
  max-height: layout.to-rem(136px);

  &:last-child > * {
    border-bottom: $ENTRY_DEFAULT_BORDER_WIDTH solid
      var(--cds-border-subtle-selected);
    padding: calc($SPACING - $ENTRY_DEFAULT_BORDER_WIDTH) $SPACING;
  }

  & > * {
    border-top: $ENTRY_DEFAULT_BORDER_WIDTH solid
      var(--cds-border-subtle-selected);
    padding: calc($SPACING - $ENTRY_DEFAULT_BORDER_WIDTH) $SPACING $SPACING
      $SPACING;
  }
}

.dateLabel {
  padding: var(--cds-spacing-01);
}

.popoverContent {
  padding: var(--cds-spacing-03);
}

.inlineIcon {
  vertical-align: text-bottom;
  margin-right: var(--cds-spacing-01);
}
