.ReportBlankSlate {
  background-color: #f2f3f4;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 360px;
}

.ReportBlankSlate__message {
  font-size: 18px;
}

.ReportBlankSlate__illustrationDropdown {
  width: 200px;
  background-image: url('./dropdown-pointer.svg');
  height: 102px;
  background-repeat: no-repeat;
  background-size: contain;
}

.ReportBlankSlate__diagramIllustrations {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ReportBlankSlate__diagramIllustration {
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
}

.ReportBlankSlate__diagramIllustration-1 {
  background-image: url('./diagram-1.svg');
  margin-right: 30px;
}

.ReportBlankSlate__diagramIllustration-2 {
  background-image: url('./diagram-2.svg');
  margin-right: 20px;
}

.ReportBlankSlate__diagramIllustration-3 {
  background-image: url('./diagram-3.svg');
}
