.NumberInput__valueList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 90%;
  text-align: center;
  input[type='checkbox'] {
    margin-right: 0.75em;
  }
}

.NumberInput__valueList--inputs {
  width: 50%;

  input[type='text'] {
    width: 100%;
  }
}

.NumberInput__valueListItem {
  margin-bottom: 8px;
  display: flex;
}

.NumberInput__valueListWarning {
  text-align: center;
  margin-bottom: 8px;
}

.NumberInput__removeItemButton {
  border: 1px solid transparent;
  border-radius: 1;
}

.NumberInput__valueListButton {
  text-align: center;
}

.NumberInput__addValueButton {
  width: 100%;
}
