.ColumnRearrangement {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ColumnRearrangement .tableHeader {
  cursor: grab;
}

.ColumnRearrangement__draggedColumn {
  opacity: 0.3;
}

.Table tr .ColumnRearrangement__dropTarget--left {
  box-shadow: -2px 0 0 var(--green-base-44) inset;
}

.Table tr .ColumnRearrangement__dropTarget--right {
  box-shadow: 2px 0 0 var(--green-base-44) inset;
}

.Table tr .ColumnRearrangement__dropTarget--invalid-left {
  box-shadow: -2px 0 0 var(--red-base-62) inset;
}

.Table tr .ColumnRearrangement__dropTarget--invalid-right {
  box-shadow: 2px 0 0 var(--red-base-62) inset;
}

.ColumnRearrangement__dragPreview {
  background-color: var(--white);
  width: 250px;
  min-width: 0 !important;
  max-height: 400px;
  z-index: var(--z-above);
  transform: scale(0.7);
  transform-origin: top left;
  pointer-events: none;
  position: absolute;
  overflow: hidden;

  table {
    overflow: hidden;
    tr {
      max-width: max-content;

      .placeholder {
        display: none;
      }
    }
  }

  .tableFooter {
    display: none;
  }
}
