.UncontrolledMultiValueInput {
  border: 1px solid var(--silver-darken-80);
  padding: 5px 10px 0px;
  min-height: 32px;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .placeholder {
    position: absolute;
    font-size: 0.875em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-lighten-56);
    pointer-events: none;
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
  }

  &:hover {
    cursor: text;
  }

  &:focus-within {
    box-shadow: var(--blue-darken-62) 0px 0px 0px 1px, var(--blue-lighten-75) 0px 0px 0px 4px;
    transition: box-shadow 0.05s ease-out 0s;
  }

  .Tag {
    display: flex;
    margin-right: 6px;
    margin-bottom: 5px;
    order: 1;
    cursor: default;

    .tagText {
      pointer-events: none;
    }
  }

  .Input {
    border: none;
    padding: 0;
    margin-bottom: 5px;
    max-width: 100%;
    order: 2;

    &:focus {
      box-shadow: none;
    }

    &:disabled {
      visibility: hidden;
    }

    &:not(:valid) ~ .searchClear {
      display: flex;
    }
  }

  .searchClear {
    right: 5px;
    margin-top: 7px;
  }

  .sizer {
    padding: 5px;
    font-size: 0.875em;
    display: none;
  }
}
