.OptimizeReportTile {
  &[role='link']:hover:not(.canOnlyClickTitle),
  &.canOnlyClickTitle .titleBar:hover {
    cursor: pointer;
  }

  &[role='link']:hover .EntityName a {
    text-decoration: underline;
  }

  .titleBar {
    display: flex;
    padding: 10px 10px 0px 10px;
    min-height: 45px;

    .Popover .buttonWrapper .ButtonTrigger {
      opacity: 0;

      &.active,
      &.focus-visible {
        opacity: 1;
      }
    }

    .EntityName {
      padding-right: 0;

      .Popover {
        margin-top: 0;
      }
    }

    .name-container .name {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .InstanceCount {
    height: auto;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;

    > .countString {
      display: none;
    }

    > span {
      vertical-align: top;
    }

    .Popover {
      display: inline-block;
    }
  }

  .visualization {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;

    .Table {
      table-layout: fixed;
      min-width: 100%;
    }
  }
}

.DashboardView .OptimizeReportTile:hover {
  .Popover .buttonWrapper .ButtonTrigger {
    opacity: 1;
  }
}
