.DecisionTable {
  .dmn-decision-table-container .tjs-container {
    grid-template-columns: unset;

    table {
      width: 100%;

      thead {
        .annotation {
          width: 192px !important;
        }

        tr:last-child th {
          border-bottom: 0;
        }
      }
    }
  }
}

.dark .DecisionTable {
  .CustomCell,
  .hit.header,
  tfoot td {
    border: inherit;
  }
}
