.dark .Table {
  table {
    border-color: var(--grey-darken-33);
  }

  thead tr {
    &:not(.groupRow) {
      border-color: var(--grey-darken-33);
    }

    .tableHeader:not(:first-child):not(.placeholder):before {
      background: var(--grey-darken-33);
    }
  }

  tbody tr {
    color: var(--white);
    background-color: rgba(33, 33, 33, 0.6);

    &:not(:last-child) {
      border-color: var(--grey-darken-33);
    }

    &:nth-child(odd) {
      background-color: rgba(33, 33, 33, 0.2);
    }
  }

  &.highlight tbody tr:hover {
    background-color: var(--grey-darken-13);
  }

  .tableFooter {
    background-color: var(--grey-darken-23);
    border-color: var(--grey-darken-23);
  }
}

.Table {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  table {
    border: 1px solid var(--silver-darken-87);
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 0;
    min-height: 0;
    min-width: 100% !important;
    overflow: auto;
  }

  thead tr {
    user-select: none;
    overflow: hidden;
    min-width: max-content !important;

    &:not(.groupRow) {
      border-bottom: 1px solid var(--silver-darken-87);
    }

    &.groupRow th {
      font-weight: normal;
    }

    .tableHeader {
      padding: 0;
      display: flex;
      align-items: center;

      &:not(:first-child):not(.placeholder):before {
        content: ' ';
        position: absolute;
        bottom: 0px;
        left: 0;
        height: 38px;
        width: 1px;
        background: var(--silver-darken-87);
      }

      &:first-child .cellContent {
        padding-left: 20px;
      }

      .cellContent {
        padding: 10px 5px 10px 10px;
        text-align: left;
        display: flex;
        align-items: center;
        min-width: 0;
        width: 100%;

        .text {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          flex-grow: 1;
        }
      }

      .resizer {
        display: inline-block;
        width: 10px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%);
        z-index: var(--z-above);
        overflow: hidden;
      }

      &.placeholder .resizer {
        display: none;
      }
    }
  }

  tbody {
    overflow-y: auto;
    min-width: max-content;
    overflow-x: hidden;

    tr {
      color: var(--grey-base-40);
      min-height: 39px;

      &:not(:last-child) {
        border-bottom: 1px solid var(--silver-darken-87);
      }

      &:nth-child(odd) {
        background-color: var(--silver-base-97);
      }

      td {
        &:first-child {
          padding-left: 20px;
        }
        padding: 10px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.noOverflow {
          overflow: visible;
        }
      }
    }
  }

  &.highlight tbody tr:hover {
    background-color: var(--silver-darken-94);
  }

  .tableFooter {
    background: var(--silver-base-97);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--silver-darken-87);
    border-top: none;
    white-space: nowrap;

    .size {
      flex-grow: 1;
      margin-right: 10px;

      .Select {
        margin-left: 10px;
        min-width: 85px;

        .menu {
          top: -130px;
          height: max-content;
        }
      }
    }

    .controls {
      margin-left: 50px;
      display: flex;
      align-items: center;

      .Button.previous {
        margin-right: 10px;
      }

      .Button.next {
        margin-left: 10px;
      }

      .Button.first,
      .Button.last {
        transform: rotate(-90deg);
      }
    }
  }

  .noData {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: var(--grey-lighten-56);
  }

  &.loading {
    table {
      opacity: 0.5;
    }

    .LoadingIndicator {
      background: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
