@import '~react-table/react-table.css';

.Table__container {
  display: flex;
  flex-direction: column;
}

.Table__unscrollable-mode {
  .rt-tbody,
  .rt-table {
    overflow: hidden;
  }
}

.Table {
  min-height: 0;
  font-size: 14px;
  border: none;

  .rt-thead.-header {
    box-shadow: none;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
  }

  .rt-table {
    min-height: 0;
  }

  .rt-noData {
    background: rgba(255, 255, 255, 1);
    font-weight: bold;
  }

  .rt-thead .rt-tr {
    text-align: left;
  }

  .rt-th {
    &:focus {
      outline: none;
    }
  }

  .-pagination {
    padding: 5px;
    box-shadow: none;

    .-previous,
    .-next {
      flex: 1 0;
      padding: 0 20px;
    }

    .-previous {
      text-align: right;
    }

    .-next {
      text-align: left;
    }

    .-center {
      flex: 0 1;
    }

    .-pageInfo {
      margin: 0;
    }
  }
}
