$color-red: #ff444b;

html {
  font-size: 16px;
}

body {
  background-image: url('./cat.jpg');
  margin: 0;
}

.start-loader {
  margin: 45vh auto;
  width: 32px;
  height: 32px;
  background-image: url('./loader.gif');
}

@import 'main/main.styles';
