.DMNDiagram {
  .view-drd,
  .powered-by {
    display: none;
  }
}

.dark .DMNDiagram {
  .dmn-decision-table-container {
    color: inherit;

    .tjs-table tbody tr:nth-child(2n) {
      background-color: var(--grey-darken-23);
    }

    .decision-table-properties {
      color: inherit;
      background-color: inherit;
    }
  }
}
