.EntityList {
  width: 100%;
  height: 100%;
  padding: 0 65px;
  overflow: auto;

  .empty {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--grey-lighten-56);
  }

  &.scrolled .header {
    border-bottom: 1px solid var(--silver-darken-80);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &.embedded {
    padding: 0;

    .header {
      margin: 0;
      padding: 18px 0;
      width: 100%;

      .titleBar h1 {
        font-weight: bold;
        font-size: 16px;
        color: initial;
        line-height: normal;
        align-self: flex-end;
      }
    }
  }

  .header {
    margin: 0 -65px;
    padding: 0 65px;
    width: calc(100% + 130px);
    position: sticky;
    padding-top: 32px;
    top: 0;
    background-color: var(--white);
    box-shadow: none;
    border-bottom: 1px solid transparent;
    transition: box-shadow 0.2s, border 0.2s;
    z-index: var(--z-above);

    .titleBar {
      line-height: 32px;
      display: flex;
      padding-bottom: 18px;

      h1 {
        font-size: 24px;
        line-height: 32px;
        font-weight: normal;
        color: var(--grey-darken-23);
        margin: 0;
        flex-grow: 1;
      }

      .headerText {
        padding-right: 20px;
        border-right: 1px solid var(--silver-darken-87);
        margin-right: 20px;
      }

      > .action:not(:empty) {
        margin-left: 20px;
      }

      .sortMenu {
        width: 32px;
        height: 32px;
        margin-left: 20px;
        margin-top: 2px;

        .activateButton .Icon {
          font-size: 24px;
        }
        .downIcon {
          display: none;
        }
        .menu {
          margin-top: -6px;
        }
      }

      .bulkMenu {
        margin-left: 20px;
      }
    }
  }

  .columnHeaders {
    display: flex;
    padding-bottom: 11px;
    padding-left: 0px;
    padding-right: 61px;
    color: var(--grey-lighten-56);
    font-size: 14px;
    line-height: 18px;

    > .Input[type='checkbox'] {
      margin-left: 20px;
      margin-right: 0;
      flex: 0 0 18px;
      height: 18px;
      margin-right: 60px;

      &.hidden {
        visibility: hidden;
      }
    }

    > div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 10px;

      &.sortable > span {
        cursor: pointer;

        &:hover {
          color: var(--grey-darken-23);
        }
      }

      &.sorted {
        color: var(--grey-darken-23);
      }

      .Icon {
        font-size: 24px;
        position: absolute;
        margin-left: 4px;
        margin-top: -3px;
        transition: 0.2s transform;

        &.desc {
          transform: rotate(180deg);
        }
      }
    }

    .name {
      flex: 1;
    }

    .meta {
      flex: 0 0 200px;
    }

    &:not(:hover) {
      .Input[type='checkbox'] {
        opacity: 0;

        &.active,
        &.focus-visible {
          opacity: 1;
        }
      }
    }
  }

  &.selectionMode {
    .ListItem:not(.selectable) {
      opacity: 0.5;

      .Input[type='checkbox'] {
        visibility: hidden;
      }
    }

    .columnHeaders:not(:hover) .Input[type='checkbox'] {
      opacity: 1;
    }
  }

  .itemsList {
    padding: 0;
    margin: 0 0 20px 0;
    transition: 0.1s opacity;

    &.isLoading {
      opacity: 0.34;
      pointer-events: none;
    }
  }

  .LoadingIndicator {
    margin-top: 50px;
    margin-left: calc(50% - 70px);
    position: absolute;
  }
}
