.EntityList {
  max-width: 1024px;
  margin: 0 auto 48px auto;
  width: 100%;

  .header {
    display: flex;
    margin-bottom: 18px;
    flex-wrap: wrap;
    align-items: center;
  }

  .heading {
    font-size: 2em;
    margin: 0;
    flex-grow: 1;
    margin-left: 14px;
  }

  .tools {
    flex-shrink: 0;
    display: flex;
    vertical-align: baseline;

    .combineButton {
      margin-right: 10px;
    }
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
