.EntityList {
  max-width: 1024px;
  margin: 0 auto 48px auto;
  width: 100%;
}

.EntityList__header {
  display: flex;
  margin-bottom: 18px;
}

.EntityList__heading {
  font-size: 2em;
  margin: 0;
  flex-grow: 1;
}

.EntityList__data--metadata {
  font-size: 14px;
  color: #666666;
  padding-left: 8px;
}

.EntityList__tools {
  flex-shrink: 0;
  vertical-align: baseline;
}

.EntityList__list {
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
}

.EntityList__item {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #ededed;
}

.EntityList__item:first-child {
  border-top: 1px solid #ededed;
}

.EntityList__item:nth-child(even) {
  background-color: #fafafa;
}

.EntityList__data {
  flex: 1 0 auto;
  flex-grow: 1;
  padding: 0 4px;
}

.EntityList__data:first-child {
  width: 440px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.EntityList__data--title a {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}

.EntityList__data--title a:active,
.EntityList__data--title a:visited {
  color: #333333;
}

.EntityList__data--tool {
  padding: 0 6px;
  flex-grow: 0;
  flex-shrink: 0;
}

.EntityList__editLink {
  font-size: 0.875em;
}

.EntityList__no-entities {
  font-style: italic;
}
