.ListItem {
  width: 100%;
  height: 60px;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px var(--silver-darken-87);
  background-color: var(--white);
  margin-bottom: 14px;
  list-style: none;
  position: relative;
  display: flex;

  &:not(.active) > a:hover {
    background-color: var(--silver-lighten-99);
  }

  &.active.selectable {
    background-color: var(--blue-lighten-93);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px var(--blue-base-65);

    .ListItemAction {
      visibility: hidden;
    }
  }

  > .Input[type='checkbox'] {
    margin-left: 20px;
    margin-right: 0;
    flex: 0 0 18px;
    height: 18px;
    align-self: center;
  }

  > a,
  > div {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none;
    flex-grow: 1;
    min-width: 0;

    > .Icon {
      flex: 0 0 24px;
      font-size: 24px;
      margin-left: 15px;
      margin-right: 0;
    }
  }

  .name {
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 10px;
    overflow: hidden;

    .type {
      color: var(--grey-lighten-50);
      font-size: 12px;
      line-height: 1.5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .entity {
      color: var(--grey-darken-23);
      font-size: 15px;
      line-height: 1.2;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .meta {
    color: var(--grey-lighten-50);
    font-size: 14px;
    flex: 0 0 200px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .warning {
    flex: 0 0 50px;
    color: var(--red-darken-38);
    text-align: center;
    position: relative;
    height: 18px;

    .Icon {
      margin: 0;
      font-size: 18px;
      vertical-align: initial;
    }
  }

  &:not(:hover) {
    .ListItemAction {
      .Button,
      &.Button {
        opacity: 0;

        &.active,
        &.focus-visible {
          opacity: 1;
        }
      }
    }

    .Input[type='checkbox'] {
      opacity: 0;

      &.active,
      &.focus-visible {
        opacity: 1;
      }
    }

    &.active .Input[type='checkbox'] {
      opacity: 1;
    }
  }

  &:not(.selectable) .Input[type='checkbox'] {
    visibility: hidden;
  }

  .Input[type='checkbox']:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 58px;
    cursor: pointer;
  }
}
