.SearchField {
  margin-top: 2px;
  height: 32px;
  position: relative;

  .Button {
    position: absolute;
    top: 0;
    right: 0;

    .Icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 24px;
      height: 24px;
      font-size: 24px;

      opacity: 1;
      transition: opacity 0.1s;

      &.hidden {
        opacity: 0;
      }
    }
  }

  .Input {
    width: 0;
    border-radius: 16px;
    background-color: transparent;
    border: none;
    height: 32px;
    padding-left: 12px;

    font-size: 14px;
    color: var(--grey-base-40);
    transition: width 0.3s, background-color 0.3s;

    &.open {
      width: 180px;
      background-color: var(--silver-darken-87);
    }

    &:focus {
      box-shadow: none;
    }
  }
}
