@import 'shared-styles/shared-styles.scss';

.NavItem {
  display: flex;
  height: 100%;
  min-width: 0;

  .arrow {
    align-self: center;
  }

  .breadcrumb {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }
}
