@import 'shared-styles/shared-styles.scss';

.Login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: white;
  padding-top: 164px;

  .label {
    @include visually-hidden;
  }

  > * {
    width: 340px;
    margin-left: calc(50vw - 170px);
  }
}

.Login__heading {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 36px;
  text-align: center;
}

.Login__logo {
  margin-right: 0.3em;
  width: 21px;
  height: 21px;
  vertical-align: baseline;
  position: relative;
  top: 2px;
}

.Login__controls {
  margin-bottom: 42px;
}

.Login__row {
  margin-bottom: 1.5em;
}

.Input.Login__input {
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 8px 6px;
}

.Login__button {
  display: block;
  font-size: 1em;
  padding: 8px 14px 9px;
}
