@import 'shared-styles/shared-styles.scss';

.PlatformLogin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-login);
  background-color: var(--white);
  padding-top: 200px;

  .label {
    @include visually-hidden;
  }

  > * {
    width: 340px;
    margin-left: calc(50vw - 170px);
  }

  h1 {
    color: var(--grey-base-40);
    font-size: 1.75em;
    font-weight: normal;
    margin-bottom: 78px;
    margin-top: 8px;
    text-align: center;
  }

  .controls {
    margin-bottom: 42px;

    .row {
      margin-bottom: 1.5em;
    }

    .Input {
      font-size: 1em;
      display: block;
      width: 100%;
      padding: 8px 6px;
    }
  }

  .Button {
    display: block;
    font-size: 1em;
    padding: 8px 14px 9px;
  }

  .privacyNotice {
    width: 340px;
    text-align: center;
    margin-top: 1.5em;
    font-size: 13px;
    font-weight: 500;

    a {
      color: inherit;
    }
  }
}
