.Dropdown {
  display: inline-block;
  position: relative;
}

.Dropdown__menu {
  position: absolute;
  margin-top: 3px;
  background-color: white;
  border: 1px solid #bbb;
  padding: 0;
  border-radius: 3px;
  z-index: 99999;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
}

.is-open .Dropdown__menu {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.is-open .Dropdown__button {
  color: #111;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
}

.Dropdown__button:focus {
  outline: none;
  border: 1px solid #00a8ff;
  box-shadow: 0 0 5px rgba(#00a8ff, 1);
}

.Dropdown__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Dropdown__caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
