.DropdownOption,
a.DropdownOption,
button.DropdownOption {
  white-space: nowrap;
  color: #333;
  text-decoration: none;
  padding: 6px 12px 6px 17px;
  font-size: 1em;
  background-color: white;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 0;

  &.is-active {
    border: none;
  }

  &.Typeahead__search-result {
    font-size: 0.875em;
  }

  &:hover {
    background-color: #008fe6; /* #00a8ff -> darken 10% */
    color: #fff;
    border: none;
    transition: none;
  }

  &:focus {
    box-shadow: inset 0 0 2px 2px rgba(#00a8ff, 1);
    border: none;
  }

  &[disabled],
  &[disabled='disabled'] {
    &:hover {
      background-color: #fff;
      border: none;
    }
  }
}

.Button .Icon.DropdownOption__checkMark {
  margin-left: -12px;
  margin-right: 2px;
  min-width: 10px;
  width: 10px;
}
