@import 'shared-styles/shared-styles.scss';

.dark {
  .Dropdown {
    &.is-open .activateButton {
      color: #ddd;
      background-color: #333;
      border: 1px solid #333;
    }
  }
}

.Dropdown {
  display: inline-block;
  position: relative;

  .activateButton {
    padding-right: 25px;
    padding-left: 20px;
    text-align: left;

    .downIcon {
      position: absolute;
      right: 0;
      display: inline-block;
      margin-right: 5px;
    }
  }

  &.is-open {
    .activateButton {
      color: #111;
      background-color: #e6e6e6;
      border: 1px solid #adadad;
    }

    .menu {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-in;
    }
  }

  .menu {
    position: absolute;
    margin: 3px 0;
    background-color: white;
    border: 1px solid #bbb;
    padding: 0;
    border-radius: 3px;
    z-index: 99999;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: auto;

    ul:not(:empty) + ul.fixedList {
      border-top: 1px solid #bbb;
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      flex: 1 1 auto;
      min-height: 0px;

      &.scrollable {
        overflow-y: scroll;
        @include scrollable;
      }
    }
  }
}
