.DropdownOption,
a.DropdownOption,
button.DropdownOption {
  display: block;
  white-space: nowrap;
  color: #333;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 1em;
  background-color: white;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 0;
  
  &.is-active {
    border: none;
  }

  &:hover {
    background-color: #008fe6; /* #00a8ff -> darken 10% */
    color: #fff;
    border: none;
    transition: none;
  }

  &:focus {
    box-shadow: inset 0 0 2px 2px rgba(#00a8ff, 1);
    border: none;
  }

  &[disabled],
  &[disabled='disabled'] {
    &:hover {
      background-color: #fff;
      border: none;
    }
  }
}
