@import 'shared-styles/shared-styles.scss';

.Submenu {
  padding-right: 20px;

  &.open {
    background-color: darken($cam-blue, 10%);
    color: #fff;
    border: none;
    transition: none;
  }

  .Icon.rightIcon {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 0;
  }

  .childrenContainer {
    position: absolute;
    top: 0px;
    min-width: 130px;
    background-color: white;
    border: 1px solid #bbb;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    overflow-y: auto;

    &.scrollable {
      @include scrollable;
    }
  }
}
