.NavItem {
  padding: 0 20px;
  border-left: 1px solid var(--silver-darken-87);
  height: 24px;
  display: flex;
  align-items: center;

  &.active {
    min-width: 0;
  }

  &:last-child {
    margin-right: 0;
    border-right: 1px solid var(--silver-darken-87);
  }

  .breadcrumb {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .arrow {
      padding: 0 10px;
    }
  }

  a {
    color: var(--grey-lighten-56);
  }

  .active {
    color: var(--grey-base-40);
  }
}
