@import 'shared-styles/shared-styles.scss';

.NavItem {
  display: inline-block;
  margin-right: 0.75em;
  height: 100%;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: #666;
  }

  &.active {
    border-bottom: 3px solid $cam-red;

    a {
      color: #333;
    }
  }
}
