.Breadcrumbs {
  margin: 0 40px;

  .breadcrumbEntityName {
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }
}
