@import 'shared-styles/shared-styles.scss';

.Select {
  font-size: 0.875em;
  color: #333;
  height: 2.15em;
  background-color: #f8f8f8;
  border-color: #bbb;

  &:focus {
    outline: none;
  }

  &.focus-visible {
    border: 1px solid $cam-blue;
    box-shadow: 0 0 5px rgba($cam-blue, 1);
  }

  &[disabled],
  &[disabled='disabled'] {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &.is-invalid {
    border: 1px solid $cam-red;
    background-color: lighten($cam-red, 55);
    color: $cam-red;
  }
}
