.Select {
  font-size: .875em;
  color: #333;
  height: 2.15em;
  background-color: #f8f8f8;
  border-color: #ccc;
}

.Select[disabled],
.Select[disabled="disabled"] {
  opacity: .65;
  cursor: not-allowed;
}
