.Select {
  font-size: 0.875em;
  color: #333;
  height: 2.15em;
  background-color: #f8f8f8;
  border-color: #bbb;

  &:focus {
    outline: none;
    border: 1px solid #00a8ff;
    box-shadow: 0 0 5px rgba(#00a8ff, 1);
  }

  &[disabled],
  &[disabled='disabled'] {
    opacity: 0.65;
    cursor: not-allowed;
  }
}
