@use '@carbon/styles/scss/spacing';

.OutlierControlPanel {
  background-color: var(--cds-layer);
  padding: spacing.$spacing-04;
  margin-bottom: 1em;

  .list {
    margin-top: calc(-1 * spacing.$spacing-04);

    > .item {
      display: inline;

      &.definitionSelection {
        width: 220px;
        display: inline-block;
        margin-top: spacing.$spacing-04;

        .buttonWrapper {
          line-height: 30px;
        }
      }

      &:not(:last-of-type) {
        padding-right: 20px;
      }
    }
  }

  .Filter {
    .filterHeader {
      display: inline-flex;
      margin: 0;
      margin-top: spacing.$spacing-04;

      .dropdownLabel {
        margin-right: 10px;
        flex-grow: 1;
      }

      .explanation {
        display: none;
      }
    }

    .emptyMessage,
    .linkingTip {
      display: none;
    }

    .FilterList {
      display: flex;

      > .listItem {
        display: inline-flex;
        width: auto;
        margin: spacing.$spacing-04 spacing.$spacing-04 spacing.$spacing-04 0;
      }
    }
  }

  .zScoreTooltip {
    margin-left: 0.5rem;
    height: 1rem;
    vertical-align: -3px;

    button {
      padding: 0;
      margin: 0;
      border: none;
      background: inherit;
      color: inherit;
    }
  }
}
