.MenuDropdown {
	.cds--list-box {
		background-color: var(--cds-field, #f4f4f4);
	}

	&Menu {
		.cds--menu-item .cds--menu {
			max-height: calc(100vh - 20px);
			overflow-y: auto;
		}
	}
}

.cds--modal .MenuDropdown .cds--list-box {
	background-color: var(--cds-field-02, #ffffff);
}
