<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.camunda.optimize" level="INFO" />
  <logger name="org.camunda.optimize.service" level="INFO" />
  <logger name="org.camunda.optimize.service.importing.engine.service.VariableUpdateInstanceImportService" level="OFF" />
  <logger name="org.camunda.optimize.service.importing.engine.mediator" level="DEBUG" />
  <logger name="org.camunda.optimize.service.es.writer" level="OFF" />
  <logger name="org.camunda.optimize.data.generation" level="OFF" />
  <logger name="org.camunda.optimize.data.generation.DataGenerationExecutor" level="INFO" />
  <logger name="org.camunda.optimize.service.es.ElasticsearchImportJobExecutor" level="DEBUG" />
  <logger name="org.elasticsearch.client.RestClient" level="OFF" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>