.input-daterange {
  margin-bottom: 30px;
}

.filter-list {
  margin: 0;

  .list-group-item {
    padding: 6px;

    .badge {
      float: none;
    }
  }
}

.four-button-row button {
  width:21%;
}

.three-button-row button {
  width: 28%;
}
