@import 'variable/styles';

.input-daterange {
  margin-bottom: 30px;
}

.filter-list {
  margin: 0;

  .list-group-item {
    padding: 6px;

    .badge {
      float: none;
    }
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }
}

.four-button-row button {
  width:21%;
}

.three-button-row button {
  width: 28%;
}

.filter {
  display: flex;
}
