.TargetValueModal__Table {
  max-height: 30%;
}

.TargetValueModal__modal-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.TargetValueModal__warning {
  text-align: right;
}

.TargetValueModal__DiagramContainer {
  height: 70%;
  display: flex;
}

.TargetValueModal__selection {
  display: flex;

  min-width: 0;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.TargetValueModal__selection--select {
  min-width: 0;
}

.TargetValueModal__selection--input {
  min-width: 0;
  flex-grow: 1;
}
