.TargetValueModal__Table {
  max-height: 250px;
}

.TargetValueModal__DiagramContainer {
  height: 350px;
  display: flex;
}

.TargetValueModal__selection {
  display: flex;

  min-width: 0;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.TargetValueModal__selection--select {
  min-width: 0;
}

.TargetValueModal__selection--input {
  min-width: 0;
}
