.CollectionsDropdown {
  .activateButton {
    border-radius: 15px;
    border: none;
    background: none;
    position: relative;
    height: 26px;
    font-size: 12px;
    padding: 5px 10px;
    padding-right: 25px;

    &:hover {
      background: rgba(#d8dce3, 0.5);
    }

    &.is-active {
      background: rgba(#d8dce3, 0.8);
      .Icon,
      .noCollection {
        visibility: visible;
      }
    }

    &:active {
      background: rgba(#d8dce3, 0.8);
      border: none;
    }

    .downIcon {
      bottom: 5px;
    }
  }
}
