.CollectionsDropdown {
  align-self: center;
  margin: 0 10px;
  min-width: 150px;

  .Button {
    border-radius: 15px;
    height: 30px;
    border: 1px solid transparent;
    background: none;
    position: relative;

    &:hover {
      background: rgba(#d8dce3, 0.5);
    }

    &:focus {
      background: rgba(#d8dce3, 0.8);
      .Icon,
      .noCollection {
        visibility: visible;
      }
    }

    &:active {
      background: rgba(#d8dce3, 0.8);
    }
  }
}
