.CollectionsDropdown {
  .Button {
    border-radius: 15px;
    border: 1px solid transparent;
    background: none;
    position: relative;
    height: 26px;
    font-size: 12px;
    padding: 5px 10px;
    padding-right: 25px;

    &:hover {
      background: rgba(#d8dce3, 0.5);
    }

    &:focus {
      background: rgba(#d8dce3, 0.8);
      .Icon,
      .noCollection {
        visibility: visible;
      }
    }

    &:active {
      background: rgba(#d8dce3, 0.8);
    }

    .downIcon {
      bottom: 5px;
    }
  }
}
