node_modules/
build/
dist/
target/
coverage/
**/*.bpmn
**/*.snap
**/*.svg
**/*.xml
src/fonts/
test-results/
playwright-report/
playwright/.cache/
.eslintcache
.env
package-lock.json
.prettierignore
.eslintignore
public/mockServiceWorker.js
