node_modules/
build/
target/
coverage/
**/*.bpmn
**/*.snap
**/*.svg
**/*.xml
src/fonts/
test-results/
playwright-report/
playwright/.cache/
yarn.lock
.eslintcache
.env
.prettierignore
.eslintignore
public/mockServiceWorker.js
