.Configuration {
  .Popover {
    fieldset {
      border: 1px solid #ddd;
      border-radius: 8px;
    }
  }

  .content {
    min-width: 250px;
    padding: 0.5em;

    .resetButton {
      margin: 1em 0;
      float: right;
    }

    .Switch {
      transform: scale(0.75);
      vertical-align: middle;
    }
  }
}
