.Configuration {
  .Popover__dialog {
    min-width: 320px;

    .Form:after {
      content: '';
      display: block;
      width: calc(100% + 40px);
      margin-left: -20px;
      border-bottom: 1px solid #d2d2d2;
    }

    .resetButton {
      margin-top: 15px;
      float: right;
      border: none;
      background: none;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    /* padding bottom workaround for firefox */
    padding-bottom: 0;
    &:after {
      content: '';
      height: 20px;
      display: block;
      clear: both;
    }
  }
}
