.NodeSelectionModal {
  .Modal__content {
    display: flex;
    flex-direction: column;

    .diagramActions {
      .Button:first-of-type {
        margin-right: 10px;
      }
    }

    .diagramContainer {
      flex-grow: 1;
      display: flex;
    }
  }

  .djs-shape,
  .djs-connection {
    opacity: 0.3;
  }

  .djs-shape.ClickBehavior__node {
    opacity: 1;
  }

  .djs-shape.ClickBehavior__node.hover .djs-outline {
    stroke-width: 2px !important;
    stroke: #276e8c !important;
    fill: rgba(188, 211, 220, 0.4) !important;
  }

  .djs-shape.ClickBehavior__node--selected .djs-outline {
    stroke-width: 2px !important;
    stroke: #276e8c !important;
    fill: rgba(48, 116, 142, 0.6) !important;
  }

  .djs-shape.ClickBehavior__node--selected.hover .djs-outline {
    stroke-width: 2px !important;
    stroke: #1d5770 !important;
    fill: rgba(29, 87, 112, 0.6) !important;
  }
}
