.Number {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .container {
    align-self: center;
    margin: 0 auto;

    .data {
      font-weight: bold;
      color: var(--grey-darken-23);
    }
    .label {
      font-size: 12px;
      color: var(--grey-base-40);
      white-space: normal;
    }
  }
}

.dark .Number {
  .container {
    .data,
    .label {
      color: var(--silver-darken-87);
    }
  }
}
