.NodesTable {
  table {
    height: 100%;
  }

  .selection {
    display: flex;
    min-width: 0;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    max-height: 100%;

    .Input {
      min-width: 0;
      flex-grow: 1;
    }

    .Dropdown {
      min-width: 0;
      width: 130px;

      &.operator {
        margin-right: 10px;
      }

      &.unit {
        margin-left: 10px;
        .menu {
          right: 50px;
          height: 250px;
        }
      }
    }
  }
}
