.NodeDuration {
  &.overflowVisible .cds--modal-container--lg {
    height: 96%;
  }

  .cds--modal-content {
    display: flex;
    flex-direction: column;
    min-height: 0;

    .diagramContainer {
      flex-grow: 2;
      display: flex;
    }

    .NodesTable {
      flex: 1;
    }

    .Message {
      text-align: right;
    }
  }
}
