$color: darken($cam-blue, 10%);
@mixin diagram-highlight {
  opacity: 1;

  .djs-visual {
    rect,
    circle,
    polygon,
    path {
      stroke: $color !important;
    }

    rect,
    polygon {
      stroke-width: 3px !important;
    }

    circle:not(:only-child) {
      stroke-width: 2px !important;
    }

    polygon + path,
    text {
      fill: $color !important;
    }
  }

  &.djs-connection {
    .djs-visual {
      path {
        marker-end: url('#sequenceflow-end-highlight') !important;
        stroke-width: 3px !important;
        fill: none !important;
      }
    }
  }
}

#sequenceflow-end-highlight path {
  stroke: $color !important;
  fill: $color !important;
}
