@import 'camunda.styles';
@import 'loginForm/loginForm.styles';
@import 'processDisplay/processDisplay.styles';

.spin {
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
