// these have to be the same as in
// https://github.com/camunda/camunda-commons-ui/blob/master/resources/less/shared/_variables.less
// until we have a way to compile the corporate design ourselves
$header-height: 65px;
$footer-height: 24px;

@import 'camunda.styles';
@import 'loginForm/loginForm.styles';
@import 'processDisplay/processDisplay.styles';

.spin {
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
