@import 'loginForm/styles';
@import 'processDisplay/styles';

@import 'header/styles';
@import 'footer/styles';

.spin {
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.site-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.page-wrap {
  position: absolute;
  top: 45px;
  bottom: 24px;
  right: 0;
  left: 0;
  z-index: 1;
}

.label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}
