{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
  },
  "plugins": ["prettier", "testcafe", "react-refresh", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
  },
  "rules": {
    "license-header/header": ["error", "./resources/license-header.js"],
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
      },
    ],
    "curly": "error",
  },
  "globals": {
    "flushPromises": "readonly",
    "JSX": "readonly",
  },
  "extends": [
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:camunda-licensed/commercial",
    "plugin:testcafe/recommended",
  ],
}
