.EventTable {
  position: relative;

  .cds--toolbar-content {
    height: auto;
    align-items: flex-start;
  }

  .Switch {
    font-size: 14px;
    color: var(--grey-lighten-50);
    margin-top: 12px;
    margin-left: 20px;
    .label {
      white-space: nowrap;
    }
  }

  b {
    font-size: 14px;
    color: var(--grey-darken-23);
    margin-left: 20px;
    margin-top: 16px;
    white-space: nowrap;
  }

  .collapseButton {
    margin-left: 10px;
  }

  .Table {
    .cds--data-table-content {
      transition: height 0.25s;
      height: 300px;
    }

    &.collapsed .cds--data-table-content {
      height: 0;
      overflow: hidden;
    }

    .cds--search {
      max-width: 250px;
    }

    .cds--data-table-header {
      padding-bottom: 0;
    }

    .cds--data-table-header__description {
      display: none;
    }

    table {
      thead tr {
        .tableHeader:first-child {
          min-width: 0;
          visibility: hidden;
        }

        .tableHeader:nth-child(2):before {
          width: 0;
        }
      }

      tr > :first-child {
        min-width: 0 !important;
        width: 60px !important;
        max-width: 60px !important;
      }

      tbody {
        .Dropdown {
          .activateButton {
            border: 0;
            background: none;
            padding: 0 30px 0 0;
            font-size: 1em;
          }

          .menu {
            left: auto !important;
            width: 100px;
          }
        }

        tr {
          &.mapped:hover {
            cursor: pointer;
          }

          &:not(.disabled).mapped {
            color: var(--white);

            .Button {
              color: var(--white);
            }
          }

          &.suggested {
            border-left: 10px solid var(--blue-darken-62);
          }

          span.disabled {
            opacity: 0.36;
          }
        }
      }
    }
  }
}
