.EventTable {
  border: solid 1px var(--silver-darken-87);
  border-bottom: none;
  position: relative;

  > .header {
    border-bottom: solid 1px var(--silver-darken-87);
    background-color: var(--silver-base-97);
    display: flex;
    align-items: flex-start;
    min-height: 43px;

    .Switch {
      font-size: 14px;
      color: var(--grey-lighten-50);
      margin-top: 12px;
      margin-left: 20px;
      .label {
        white-space: nowrap;
      }
    }

    b {
      font-size: 14px;
      color: var(--grey-darken-23);
      margin: 12px 0px 12px 20px;
      white-space: nowrap;
    }

    .SearchInput {
      .Input {
        border-radius: 3px;
        margin-top: 5px;
      }

      .searchIcon {
        top: 50%;
      }
    }

    .collapseButton {
      margin-top: 5px;
      border: none;
      border-left: 1px solid var(--silver-darken-87);
      margin-left: 10px;
      border-radius: 0;

      &:hover,
      &:active {
        background-color: unset;
      }

      .Icon {
        margin-right: 0;
      }
    }
  }

  .Table {
    height: 300px;
    transition: height 0.25s;

    &.collapsed {
      height: 0;
      overflow: hidden;
    }

    table {
      thead tr {
        .tableHeader:first-child {
          min-width: 0;
          visibility: hidden;
        }

        .tableHeader:nth-child(2):before {
          width: 0;
        }
      }

      tr > :first-child {
        min-width: 0 !important;
        width: 60px !important;
        max-width: 60px !important;
      }

      tbody {
        .Dropdown {
          .activateButton {
            border: 0;
            background: none;
            padding: 0 30px 0 0;
            font-size: 1em;
          }

          .menu {
            left: auto !important;
            width: 100px;
          }
        }

        tr {
          &.mapped:hover {
            cursor: pointer;
          }

          &.suggested {
            border-left: 10px solid var(--blue-darken-62);
          }

          span.disabled {
            opacity: 0.36;
          }
        }
      }
    }
  }
}
