.EventsSourceModal {
  .ButtonGroup {
    margin-bottom: 30px;
  }

  .DefinitionSelection {
    min-height: 82px;

    .info {
      display: none;
    }
  }

  .Message.error {
    margin-top: -10px;
  }

  .sourceOptions {
    > .FormGroup {
      .label.after {
        padding: 10px 0;
      }
      .displayHeader {
        display: flex;

        h4 {
          font-weight: bold;
          margin-bottom: 10px;
          color: var(--grey-darken-36);
          margin-right: 10px;
        }
      }
    }
  }
}
