@use '@carbon/styles/scss/spacing';

.IngestedEvents {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
  }

  .deleteLimitReached {
    max-width: 100%;
  }

  .Table {
    flex-grow: 1;
    margin-bottom: spacing.$spacing-04;

    .cds--batch-actions--active {
      // we do this because otherwise the search icon is colliding
      z-index: 2;
    }
  }
}
