.IngestedEvents {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    margin: 0;
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .selectionActions {
    flex-shrink: 0;
    align-self: center;
    margin-inline: 10px;
    .Button {
      border-radius: 32px;
    }
  }

  .Table {
    flex-grow: 1;
    margin-bottom: 10px;

    .selectAll .label {
      margin-left: 10px;
    }
  }
}
