.Process {
  height: 100%;

  > .ProcessView,
  > .ProcessEdit {
    > .header {
      margin-bottom: 1em;

      .head {
        display: flex;

        .name-container {
          flex-grow: 1;
          padding-right: 48px;
          width: 100%;

          .name {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }
      }

      .tools {
        flex-wrap: nowrap;
        align-items: baseline;
        display: flex;
        flex-shrink: 0;
        margin-top: 8px;

        .tool-button {
          margin-right: 6px;
        }

        .tool-button:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .djs-overlay-MAPPED {
    pointer-events: none;

    img {
      width: 18px;
      height: 18px;
    }
  }
}
