.ProcessView {
  height: 100%;
  display: flex;
  flex-direction: column;

  .progressLabel {
    margin-right: 15px;
    font-size: 13px;
    color: var(--grey-lighten-50);
  }

  .header .MessageBox {
    margin-top: 10px;
  }
}
