@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';

:not(.ProcessEdit) > .BPMNDiagram {
  .djs-element.hover .djs-outline,
  .djs-element.selected .djs-outline {
    stroke: none;
  }
}

.ProcessEdit {
  height: 100%;
  display: flex;
  flex-direction: column;
}
