.UsersModal {
  .inputGroup {
    display: flex;
    align-items: flex-end;

    .userTypeahead {
      flex-grow: 1;
      margin-right: 10px;
    }
  }

  .description {
    color: #717171;
    margin-top: 0;
    font-size: 0.875em;
  }

  .EntityList {
    margin-top: 32px;

    .meta ~ .meta {
      flex: 0 0 32px;
      padding: 0 5px;

      .Button {
        background: none;
        border: none;
        padding: 0;
        min-width: 0;
        box-shadow: none;
        .Icon {
          margin-right: 0;
        }
      }
    }

    .dropdownPlaceholder {
      display: none;
    }
  }
}
