// Safari fix
.djs-container {
  svg {
    position: absolute;
  }

  .djs-overlay-container {
    z-index: 2;
  }
}

.BPMNDiagram {
  flex-grow: 1;
  position: relative;
}

.bjs-powered-by {
  display: none !important;
}
