.ZoomControls {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;

  .Button {
    position: relative;

    &.reset {
      margin-bottom: 20px;
    }

    &:focus {
      z-index: 1;
    }

    &.zoomIn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0px;
    }

    &.zoomOut {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    display: block;
    width: 28px;
    height: 28px;
    padding: 5px;
  }
}
