.error {
  border-color: red;

  &:focus {
    border-color: red;
  }
}

.start {
  border-right-width: 0;
}

.end {
  border-left-width: 0;
}

.button-row {
  display: flex;

  button {
    flex: auto;
    margin: 0 1px;
  }
}
