.OutlierAnalysis {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .noOutliers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    background-color: var(--silver-darken-94);
    font-size: 1.4em;
    padding: 1em;
    color: var(--grey-lighten-50);
  }

  .OutlierAnalysis__diagram {
    display: flex;
    flex-grow: 1;

    &.empty .BPMNDiagram {
      opacity: 0.2;
      pointer-events: none;
    }
  }

  .Tooltip__text-top,
  .Tooltip__text-bottom {
    padding: 10px;
  }

  .nodeTooltip {
    text-align: left;
    overflow: hidden;
    padding: 0 1px;

    .tooltipTitle {
      font-weight: normal;
      white-space: nowrap;
    }

    .description {
      font-weight: normal;
      width: max-content;
    }

    .Button {
      float: right;
      margin-left: 10px;

      .Icon {
        min-height: 14px;
      }
    }
  }
}
