.OutlierDetailsModal {
  width: 70%;
  .description {
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .diagramContainer {
    width: 100%;
    height: 500px;
  }

  .tableContainer {
    margin-top: 40px;

    .Table {
      height: 500px;
    }

    button {
      float: right;
    }
  }
}
