.OutlierAnalysis {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .OutlierAnalysis__diagram {
    display: flex;
    flex-grow: 1;
  }

  .Tooltip__text-top,
  .Tooltip__text-bottom {
    padding: 10px;
  }

  .nodeTooltip {
    text-align: left;
    overflow: hidden;

    .tooltipTitle {
      font-weight: normal;
      white-space: nowrap;
    }

    .description {
      font-weight: normal;
      width: max-content;
    }

    .Button {
      float: right;
    }
  }
}
