@import 'shared-styles/shared-styles.scss';

.AddButton {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: none;

  &:focus {
    box-shadow: 0 0 5px rgba($blue, 1) inset;
  }

  &:hover,
  &:active {
    background-color: transparent;
    border: none;

    .AddButton__symbol {
      opacity: 1;
    }
  }
}

.AddButton__symbol {
  background-image: url(./plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px;
  width: 64px;
  height: 64px;
  margin-bottom: 12px;
  border-radius: 100%;
  border: 3px solid #333;
  opacity: 0.65;
}
