.ReportModal__externalSourceLink {
  font-size: 0.8em;
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.ReportModal {
  label {
    text-align: center;
  }
  .externalInput {
    width: 100%;
  }
  .muted {
    color: gray;
  }
}
