---
auth:
  defaultAuthentication:
    creationEnabled: false
engine-commons:
  connection:
    timeout: 40000
  read:
    timeout: 40000
container:
  host: {{ optimize_bind_ip }}
  ports:
    http: {{ optimize_port }}
engines:
  '1':
    name: {{ camunda_bpm_engine_name }}
    rest: {{ camunda_bpm_rest_endpoint }}
    authentication:
      enabled: false
      password: ''
      user: ''
    enabled: true
es:
  host: {{ es_host }}
  index: {{ es_index }}
  port: {{ es_port }}
