# jetty properties
camunda.optimize.container.http.port={{ optimize_port }}
camunda.optimize.container.host={{ optimize_bind_ip }}

# es connection
camunda.optimize.es.host={{ es_host }}
camunda.optimize.es.port={{ es_port }}
camunda.optimize.es.index={{ es_index }}

# engine connection
camunda.optimize.engine.rest={{ camunda_bpm_rest_endpoint }}
camunda.optimize.engine.name={{ camunda_bpm_engine_name }}

# import configuration
camunda.optimize.engine.import.page.size.max={{ optimize_import_page_size_max }}
camunda.optimize.engine.import.process-definition-xml.page.size.max=4
camunda.optimize.engine.import.process-instance.page.size.max=100
camunda.optimize.engine.import.variable.page.size.max=100
camunda.optimize.engine.import.jobqueue.size.max=100
camunda.optimize.engine.import.executor.thread.count=2
