.dark {
  .ProgressBar__label {
    color: #ddd;
  }
}

.ProgressBar {
  height: 65px;
  position: relative;
  border-radius: 4px;
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  margin-top: 20px;

  .goalOverlay {
    height: 100%;
    position: absolute;
    color: #b5152b;
    border-radius: 4px;
    background: linear-gradient(to bottom, #00a8ff 0%, #0082c4 100%);
    z-index: 1;

    .goalLabel {
      display: block;
      height: 100%;
      text-align: right;
      margin-left: 100%;
      margin-top: -28px;
      padding-right: 10px;
      padding-left: 10px;
      white-space: nowrap;
      font-size: 1.3em;

      &.rightSide {
        margin-left: 0%;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 135%;
        border-right: 2px solid #b5152b;
        z-index: -1;
      }
    }
  }
}

.ProgressBar__label {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 65px;
  font-size: 2.5em;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 0 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 2;
}

.ProgressBar--filled {
  height: 100%;
  background: linear-gradient(to bottom, #00a8ff 0%, #0082c4 100%);
  border-radius: 4px;
  min-width: 5px;

  &.goalExceeded {
    background: linear-gradient(to bottom, #005887 0%, #004568 100%);
  }
}

.ProgressBar__range {
  height: 25px;
  line-height: 28px;
  font-size: 1.3em;
}

.ProgressBar__range--right {
  float: right;
}
