.dark {
  .ProgressBar {
    background-color: #91b5c1;
  }

  .ProgressBar--filled {
    background-color: #3151af;
  }

  .ProgressBar__label {
    color: #ddd;
  }

  .ProgressBar__range {
    border-left: 2px solid #3151af;
    border-right: 2px solid #91b5c1;

    &.flippedColors {
      border-left: 2px solid #91b5c1;
      border-right: 2px solid #3151af;
    }
  }

  .ProgressBar__range--belowBase {
    border-left: 2px solid #91b5c1;
  }

  .ProgressBar__range--aboveTarget {
    border-left: 2px solid #3151af;
  }
}

.ProgressBar {
  height: 65px;
  position: relative;
  background-color: #add8e6;
  margin-top: 20px;

  .goalOverlay {
    height: 100%;
    position: absolute;
    color: #b5152b;
    background: lightBlue;
    z-index: 1;

    .goalLabel {
      display: block;
      height: 100%;
      text-align: right;
      margin-left: 100%;
      margin-top: -25px;
      padding-right: 10px;
      padding-left: 10px;
      white-space: nowrap;
      font-size: 1.3em;

      &.rightSide {
        margin-left: 0%;
      }
    }

    .goalLabel:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 135%;
      border-right: 2px solid #b5152b;
      z-index: -1;
    }
  }
}

.ProgressBar__label {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 65px;
  font-size: 2.5em;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 0 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 2;
}

.ProgressBar--filled {
  height: 100%;
  background-color: royalblue;
}

.ProgressBar__range {
  border-left: 2px solid royalblue;
  border-right: 2px solid lightBlue;
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.3em;

  &.flippedColors {
    border-left: 2px solid lightBlue;
    border-right: 2px solid royalblue;
  }
}

.ProgressBar__range--belowBase {
  border-left: 2px solid lightblue;
}

.ProgressBar__range--aboveTarget {
  border-right: 2px solid royalblue;
}

.ProgressBar__range--right {
  float: right;
}
