@import 'shared-styles/shared-styles.scss';

.TelemetrySettings {
  .options {
    margin-left: 40px;

    .checkLabel {
      align-items: unset;
    }

    .label.after {
      margin-left: 10px;

      h2 {
        font-weight: bold;
      }

      p {
        margin: 5px 0 0;
      }
    }
  }

  p {
    font-size: 14px;
    color: $grey-darken-36;
  }
}
