@import 'shared-styles/shared-styles.scss';

.Footer {
  line-height: 24px;
  font-size: 0.875em;
  background-color: #fff;
  border-top: 1px solid #eeeeee;
  color: #777777;
  cursor: default;
  flex-shrink: 0;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    > * {
      white-space: nowrap;
    }

    .error {
      font-size: 0.7em;
    }

    .timezone {
      margin: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      list-style: none;
      padding: 0;
      margin: 0;

      .statusItem {
        display: inline-block;
        margin-right: 10px;
        white-space: nowrap;

        &:before {
          content: '';
          display: inline-block;
          width: 0.65em;
          height: 0.65em;
          border-radius: 100%;
          margin-right: 4px;
          background-color: $cam-red;
        }

        &.is-connected:before {
          background-color: $cam-green;
        }

        &.is-in-progress:before {
          width: 0.8em;
          height: 0.8em;
          background-size: cover;
          background-color: white;
          background-image: url(./loading.svg);
        }
      }
    }
  }

  .colophon {
    white-space: nowrap;
  }
}
