.Footer {
  line-height: 24px;
  font-size: 0.875em;
  background-color: var(--white);
  border-top: 1px solid var(--silver-darken-94);
  color: var(--grey-lighten-50);
  cursor: default;
  flex-shrink: 0;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    > * {
      white-space: nowrap;
    }

    .timezone {
      margin: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .colophon {
    white-space: nowrap;
  }
}
