.Icon {
  display: inline-block;  
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: text-bottom;
  
  &:not(:last-child) {
    margin-right: .65em;
  }
  
}

// Create classes for all known icons to be used as a background-image:
$icons: (
  'autorefresh',
  'check',
  'close',
  'delete',
  'edit',
  'exit-fullscreen',
  'fullscreen',
  'plus',
  'share',
  'stop'
);

@each $icon in $icons {
  .Icon--#{$icon} {
    background-image: url('./icons/#{$icon}.svg');
  } 
}


.Icon--svg {
  
  svg {
    max-height: 1em;
    max-width: 1em;
  }
  
}

