.NumberInput {
  .undefinedOption {
    margin-bottom: 15px;
  }

  .valueList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 90%;
    text-align: center;
    input[type='checkbox'] {
      margin-right: 0.75em;
    }

    &.valueListInputs {
      width: 50%;

      input[type='text'] {
        width: 100%;
      }
    }
  }

  .valueListItem {
    margin-bottom: 8px;
    display: flex;
  }

  .removeItemButton {
    border: 1px solid transparent;
    border-radius: 1;
  }

  .valueListButton {
    text-align: center;
  }

  .addValueButton {
    width: 100%;
  }
}
