.NodeFilter__diagram-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-grow: 1;
  display: flex;

  margin-top: 70px;
}

.NodeFilter__preview {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
  flex-shrink: 0;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 20px;
  }

  &:empty {
    border: 0px solid #ccc;
  }
}

.NodeFilter__preview-item {
  list-style-type: none;
  display: inline-block;
}

.NodeFilter__parameter-name {
  font-style: italic;
  font-weight: bold;
}

.NodeFilter__preview-item-value {
  background-color: #7fa8c5;
  padding: 1px 8px 2px;
  border-radius: 10px;
  color: #fff;
}

.NodeFilter__preview-item-operator {
  margin: 0 0.5em;
}
