.CollectionHeader {
  align-items: center;
  margin-right: auto;
  min-width: 0;
  width: 100%;

  .text {
    display: inline-block;
    max-width: calc(60vw - 40px);
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  .skeletonText {
    margin: 0;
    width: 200px;
  }
}
