@import 'shared-styles/shared-styles.scss';

.Alerts {
  max-width: 1024px;
  margin: auto;
  width: 100%;

  h1 {
    display: inline-block;
  }

  .createButton {
    float: right;
    margin: 6px 0 0 10px;
  }

  ul.entityList {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
    width: 100%;

    li {
      display: flex;
      border-bottom: 1px solid #ededed;

      &:first-child {
        border-top: 1px solid #ededed;
      }

      &:nth-child(even) {
        background: rgba(0, 0, 0, 0.03);
      }

      &:not(.NoEntities):hover {
        background: rgba(0, 0, 0, 0.05);
      }

      .info {
        padding: 12px 0;
        display: flex;
        flex-grow: 1;
        text-decoration: none;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        .icon {
          padding: 10px;
          border-right: 1px solid #ededed;
          margin-right: 10px;
        }

        .textInfo {
          display: flex;
          margin-right: 20px;
          flex-grow: 1;
          justify-content: space-between;
          flex-direction: column;
          overflow: hidden;

          .dataTitle {
            margin-bottom: 7px;
            display: flex;

            h3 {
              color: #333333;
              font-size: 18px;
              font-weight: bold;
              display: inline-block;
              vertical-align: middle;
              text-overflow: ellipsis;
              max-width: 100%;
              overflow: hidden;
              white-space: nowrap;
            }
          }

          .extraInfo {
            display: flex;
            min-height: 30px;

            .dataIcons {
              max-width: 50px;
            }

            .custom {
              overflow: visible;
              color: #333333;
              font-size: 14px;
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 60%;
            }
          }
        }
      }

      .operations {
        padding: 12px 0;
        display: flex;
        flex-shrink: 0;
        align-self: center;

        > * {
          width: 32px;
          height: 32px;
          border-radius: 100%;
          margin-right: 9px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #dadee3;
          cursor: pointer;
          color: #6a727e;
          background: transparent;
          &:hover {
            background: #d6d6d6;
          }
        }

        span {
          margin: 0px;
          pointer-events: none;
        }

        a {
          color: #6a727e;
        }

        .editLink {
          font-size: 0.875em;
        }
      }

      .data {
        padding: 0 4px;
      }
    }
  }

  .metadata {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .highlight {
    background-color: #7fa8c5;
    padding: 1px 8px 2px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    margin-bottom: 5px;
  }
}
