.Collections {
  margin-top: 36px;

  .collectionBlankSlate {
    background: url('./entityIcons/collections-blank-slate-icon.svg') no-repeat 50% 10%;
    background-color: #f7f8f9;
    color: #bfc3c8;
    padding: 100px 0 30px 0;
    text-align: center;
    border: solid 1px #f2f2f2;
    .createLink {
      margin-top: 10px;
    }
  }

  .ToggleCollapse {
    width: 100%;
  }

  ul.entityList {
    .empty {
      padding: 30px 0;
    }

    .CollectionItem {
      .collapseIcon {
        margin-top: 0;
      }

      > .listItem {
        border-bottom: 1px solid #d1d1d1;
        &:hover {
          background: none;
        }

        .info .icon {
          border-right: none;
        }
      }

      h2 {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
