@import 'shared-styles/shared-styles.scss';

.Dashboards,
.Collections {
  margin-bottom: 50px;
}

.Overview {
  max-width: 1024px;
  margin: auto;
  width: 100%;
  margin-bottom: 48px;
  position: relative;

  .ToggleCollapse {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    text-align: left;

    .collapseIcon {
      position: absolute;
      left: -35px;
      margin-top: 10px;
      &.right {
        transform: rotate(-90deg);
      }
    }
  }

  .header {
    border-bottom: 1px solid #d1d1d1;
    min-height: 50px;

    h1 {
      display: inline-block;
    }

    .searchInput {
      width: 100%;
    }
  }

  .createButton {
    float: right;
    margin: 6px 0 0 10px;

    & > .Button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .Dropdown {
      border-left: 1px solid lightgreen;

      .downIcon {
        display: none;
      }

      .activateButton {
        padding-right: 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        color: white;
        background-color: $cam-green;
        border: 1px solid $cam-green;

        &:hover {
          background-color: darken($cam-green, 10%);
          border: 1px solid darken($cam-green, 10%);
        }

        .Icon {
          margin: 0;
        }
      }
    }
  }

  ul.entityList {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
    width: 100%;

    .item {
      display: flex;
      border-bottom: 1px solid #ededed;

      &:not(.NoEntities):hover {
        background: #f7f7f7;
        .operations {
          visibility: visible;
        }
      }

      .info {
        padding: 12px 0;
        display: flex;
        flex-grow: 1;
        text-decoration: none;
        align-items: center;
        overflow: hidden;

        .icon {
          padding: 10px;
          border-right: 1px solid #ededed;
          margin-right: 10px;
        }

        .textInfo {
          display: flex;
          margin-right: 20px;
          flex-grow: 1;
          justify-content: space-between;
          flex-direction: column;
          overflow: hidden;

          .dataTitle {
            margin-bottom: 7px;
            display: flex;

            h3 {
              color: #333333;
              font-size: 18px;
              font-weight: bold;
              display: inline-block;
              vertical-align: middle;
              text-overflow: ellipsis;
              max-width: 100%;
              overflow: hidden;
              white-space: nowrap;
            }

            > span {
              font-size: 12px;
              border-radius: 10px;
              height: 20px;
              font-weight: normal;
              background: #e5f6ff;
              color: darken($cam-blue, 10%);
              padding: 3px 10px;
              margin-left: 5px;
            }
          }

          .extraInfo {
            display: flex;
            min-height: 30px;

            .dataIcons {
              max-width: 50px;
            }

            .custom {
              overflow: visible;
              color: #333333;
              font-size: 14px;
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 60%;
            }
          }
        }
      }

      .operations {
        padding: 12px 0;
        display: flex;
        flex-shrink: 0;
        align-self: center;
        visibility: hidden;

        > * {
          width: 32px;
          height: 32px;
          border-radius: 100%;
          margin-right: 9px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: none;
          cursor: pointer;
          color: #6a727e;
          background: transparent;
          &:hover {
            background: #eceef1;
          }
          &:active {
            background: #dadee3;
          }
        }

        span {
          margin: 0px;
          pointer-events: none;
        }

        a {
          color: #6a727e;
        }

        .editLink {
          font-size: 0.875em;
        }
      }

      .data {
        padding: 0 4px;
      }
    }
  }
}
