@import 'shared-styles/shared-styles.scss';

.Dashboards,
.Collections {
  margin-bottom: 80px;
}

.Overview {
  max-width: 1024px;
  margin: auto;
  width: 100%;
  margin-bottom: 48px;
  position: relative;
  padding-top: 50px;

  .empty {
    text-align: center;
    padding: 50px 0;
    font-style: italic;
  }

  .ToggleCollapse {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    text-align: left;
    color: inherit;
    display: flex;

    .collapseIcon {
      margin-top: 10px;
      &.right {
        transform: rotate(-90deg);
      }
    }
  }

  .fixed {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    padding-top: 48px;
    background: #fff;
    z-index: 1;

    .header {
      max-width: 1024px;
      margin: 0px auto;
      margin-top: 40px;
    }

    :after {
      clear: both;
    }
  }

  .header {
    border-bottom: 1px solid #d1d1d1;
    min-height: 50px;

    h1 {
      font-size: 22px;
      display: flex;
      align-items: center;
      svg {
        margin: 0px 10px;
      }
    }

    .searchContainer {
      display: inline-block;
      width: 360px;
      position: relative;

      .searchIcon {
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        color: #c2c8d1;
      }

      .searchClear {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        border: none;
        background: none;
        border-radius: 100%;
        color: #6a727e;
        &:focus {
          outline: none;
          box-shadow: 0 0 5px #00a8ff;
        }

        &:hover {
          color: #2c3139;
        }
      }

      .searchInput {
        width: 100%;
        border-radius: 15px;
        padding-left: 35px;
        box-shadow: none;

        &:not(:valid) ~ .searchClear {
          display: none;
        }
      }
    }
  }

  .createReport,
  .createAllButton,
  .createDashboard {
    float: right;
    margin: 6px 0 0 10px;

    .Button {
      padding: 6px 20px;
    }
  }

  .createAllButton {
    .activateButton {
      padding-right: 40px;
      color: white;
      background-color: $cam-green;
      border: 1px solid $cam-green;

      &:hover {
        background-color: darken($cam-green, 10%);
        border: 1px solid darken($cam-green, 10%);
      }

      .Icon {
        margin-right: 10px;
      }
    }

    .menu {
      width: 164px;
    }
  }

  .createReport {
    & > .Button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .Dropdown {
      .downIcon {
        display: none;
      }

      .activateButton {
        padding: 6px 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;

        .Icon {
          margin: 0;
        }
      }
    }
  }

  ul.entityList {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    width: 100%;

    .listItem {
      display: flex;
      border-bottom: 1px solid #ededed;

      &:hover {
        background: #f7f7f7;

        .operations {
          visibility: visible;
        }

        .CollectionsDropdown {
          .Button {
            .downIcon,
            .noCollection {
              visibility: visible;
            }
          }
        }
      }

      &:not(:hover) {
        .CollectionsDropdown {
          .Button:not(:focus) {
            .downIcon,
            .noCollection {
              visibility: hidden;
            }
          }
        }
      }

      .info {
        padding: 12px 0;
        display: flex;
        flex-grow: 1;
        text-decoration: none;
        align-items: center;
        overflow: hidden;

        .icon {
          padding: 10px;
          border-right: 1px solid #ededed;
          margin-right: 10px;
          max-width: 50px;
        }

        .textInfo {
          display: flex;
          margin-right: 20px;
          flex-grow: 1;
          justify-content: space-between;
          flex-direction: column;
          overflow: hidden;

          .dataTitle {
            margin-bottom: 7px;
            display: flex;

            h3 {
              color: #333333;
              font-size: 18px;
              font-weight: bold;
              display: inline-block;
              vertical-align: middle;
              text-overflow: ellipsis;
              max-width: 100%;
              overflow: hidden;
              white-space: nowrap;
            }

            > span {
              font-size: 12px;
              border-radius: 10px;
              height: 20px;
              font-weight: normal;
              background: #e5f6ff;
              color: darken($cam-blue, 10%);
              padding: 3px 10px;
              margin-left: 5px;
            }
          }

          .extraInfo {
            display: flex;
            min-height: 30px;

            .dataIcons {
              max-width: 50px;
            }

            .custom {
              overflow: visible;
              color: #333333;
              font-size: 14px;
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 50%;
            }
          }
        }
      }

      .operations {
        padding: 12px 0;
        display: flex;
        flex-shrink: 0;
        align-self: center;
        visibility: hidden;
        min-width: 130px;
        justify-content: flex-end;

        > * {
          width: 32px;
          height: 32px;
          border-radius: 100%;
          margin-right: 9px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: none;
          cursor: pointer;
          color: #6a727e;
          background: transparent;
          &:hover {
            background: rgba(#d8dce3, 0.5);
          }
          &:active {
            background: rgba(#d8dce3, 0.8);
          }
        }

        span {
          margin: 0px;
          pointer-events: none;
        }

        a {
          color: #6a727e;
        }

        .editLink {
          font-size: 0.875em;
        }
      }
    }
  }
}
