@import 'shared-styles/shared-styles.scss';

.Reports {
  .createButton {
    & > .Button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .Dropdown {
      border-left: 1px solid lightgreen;

      .downIcon {
        display: none;
      }

      .activateButton {
        padding-right: 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        color: white;
        background-color: $cam-green;
        border: 1px solid $cam-green;

        &:hover {
          background-color: darken($cam-green, 10%);
          border: 1px solid darken($cam-green, 10%);
        }

        .Icon {
          margin: 0;
        }
      }
    }
  }
}
