@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.TopProcessesTable {
  width: 100%;
  padding: $spacing-03 $spacing-05 $spacing-05;

  .cds--data-table {
    background-color: $layer-01;

    th,
    td {
      white-space: nowrap;
    }

    thead {
      th {
        background-color: $layer-01;
        border-bottom: 1px solid $border-subtle-01;
      }
    }

    tbody {
      tr {
        background-color: $layer-01;

        &:hover {
          background-color: $layer-hover-01;
        }

        td {
          border-bottom: 1px solid $border-subtle-00;
        }
      }
    }
  }
}
