.TopProcessesTable {
  width: 100%;
  padding: 0.5rem 0.75rem 1rem;

  .cds--data-table {
    background-color: var(--white, #fff);

    th,
    td {
      white-space: nowrap;
    }

    thead {
      th {
        background-color: var(--white, #fff);
        border-bottom: 1px solid var(--silver-darken-80, #cdcdcd);
      }
    }

    tbody {
      tr {
        background-color: var(--white, #fff);

        &:hover {
          background-color: var(--silver-base-97, #f8f8f8);
        }

        td {
          border-bottom: 1px solid var(--silver-darken-94, #efefef);
        }
      }
    }
  }
}
