.TextEditor {
  height: 100%;

  &.CharCount {
    margin-top: 0.75rem;
    text-align: right;
    font-size: 14px;
    color: var(--grey-lighten-50);

    &.error {
      color: var(--red-darken-38);
    }
  }
}
