@import 'shared-styles/shared-styles.scss';

.FilterList {
  display: inline;
  padding: 0;

  .listItem {
    list-style-type: none;
    display: inline-flex;
    margin: 10px 0;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 20px;
    }

    &.notEditable {
      cursor: default;
    }

    .ActionItem {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      * {
        white-space: pre-wrap;
      }

      .parameterName {
        font-style: italic;
        font-weight: bold;
      }

      .previewItemValue {
        @include highlighted;
      }

      .previewList {
        padding: 0;
        .previewItem {
          list-style-type: none;
          display: inline-block;
        }
      }
    }
  }

  .listItemConnector {
    list-style-type: none;
    display: inline-block;
    margin: 0 0.5em;
  }
}
