.DragBehavior {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: grab;
}

.DragBehavior--dragging {
  box-shadow: 5px 5px 5px lightgray;
}

.DragBehavior__dropShadow {
  background-color: #f5f5f5;
  position: absolute;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
}

.DragBehavior__dropShadow--active {
  opacity: 1;
}

.DragBehavior__dropShadow--invalid {
  background-color: #ffe0e0;
}
