@import 'shared-styles/shared-styles.scss';

.DateInput {
  position: relative;

  .Input {
    width: 130px;

    &.highlight {
      border-color: rgb(0, 145, 255);
      background-color: rgba(0, 145, 255, 0.1);

      &.isInvalid {
        background-color: lighten($cam-red, 50);
      }
    }
  }

  .Icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    right: 5px;
    color: $text-disabled;
  }

  .DateInputWarning {
    position: absolute;
    top: 30px;
  }
}
