.DatePicker__inputs {
  margin-bottom: 36px;
  text-align: center;
}

.DatePicker__buttons {
  margin-bottom: 12px;
}

.DatePicker__buttonRow {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}
