@import 'shared-styles/shared-styles.scss';

.DateInput {
  position: relative;

  .Input {
    width: 130px;

    &.DateInput__start {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }

    &.DateInput__end {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }

    &.DateInput__start--highlight,
    &.DateInput__end--highlight {
      border-color: rgb(0, 145, 255);
      background-color: rgba(0, 145, 255, 0.1);
    }
  }

  .Icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    right: 5px;
    color: $text-disabled;
  }

  .DateInput__warning {
    position: absolute;
    top: 40px;
  }
}
