.dark .PickerDateInput {
  .Input {
    background-color: var(--grey-darken-36);
    border-color: var(--grey-base-40);
    color: var(--silver-darken-94);

    &.highlight {
      border-color: var(--grey-base-40);

      &.isInvalid {
        background-color: var(--red-darken-26);
      }
    }

    &.isInvalid {
      border-color: var(--red-darken-38);
    }
  }
}

.PickerDateInput {
  position: relative;

  .Input {
    width: 130px;

    &.highlight {
      border-color: var(--blue-base-65);
      background-color: rgba(0, 145, 255, 0.1);

      &.isInvalid {
        background-color: var(--red-lighten-85);
      }
    }
  }

  .Icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    color: var(--grey-lighten-56);
    margin-right: 0;
  }

  .PickerDateInputWarning {
    position: absolute;
    top: 30px;
  }
}
