.operators {
  margin-top: 1em;
  margin-bottom: 1em;

  button {
    margin-right: 1em;
  }
}

.variable-name {
  font-family: monospace;
  background-color: #eee;
}

.value-list-label {
  display: block;
  cursor: pointer;

  input {
    margin-right: 1rem;
    margin-left: .5rem;
  }
}
