.AddButton {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  border: 3px dashed gray;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  cursor: pointer;
}

.AddButton__symbol {
  font-weight: bold;
  font-size: 5em;
  margin-top: -.5em;
}
