.Dashboard {
  padding-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  .DashboardEdit {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .DashboardEdit,
  .DashboardView {
    & > .content {
      overflow-y: auto;
      padding: 0 40px 0 40px;
    }

    & > .header {
      margin: 0 40px 40px 40px;

      .head {
        display: flex;

        .info {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          flex-grow: 1;
        }
      }

      .tools {
        flex-wrap: nowrap;
        align-items: baseline;
        display: flex;
        flex-shrink: 0;

        .tool-button {
          margin-right: 6px;
        }

        .tool-button:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
