.dark {
  .fullscreen {
    background-color: #222;
  }
}

.fullscreen {
  transition: background-color 0.3s;
}

.fullscreen-enabled {
  overflow: auto;
  background-color: #f2f3f5;
}

.DashboardView {
  .share-button .Popover__dialog {
    padding: 20px 40px;
  }

  &.fullscreen {
    padding: 20px;
  }
}
