.Dashboard {
  padding: 30px 25px 0 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  .DashboardEdit {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .content {
      overflow-y: auto;
      width: 100vw;
      margin-left: -20px;
      padding: 0 20px;
    }
  }

  .header {
    margin-bottom: 40px;

    .head {
      display: flex;
    }

    .tools {
      flex-wrap: nowrap;
      align-items: baseline;
      display: flex;
      flex-shrink: 0;

      .tool-button {
        margin-right: 6px;
      }

      .tool-button:last-child {
        margin-right: 0;
      }
    }
  }
}
