.DashboardReport__wrapper {
  height: 100%
}

.DashboardReport__visualization {
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 10px;
}

.DashboardReport__header {
  position: absolute;
  top: 0;
  height: 2em;
  left: 0;
  right: 0;
  line-height: 2em;
  font-weight: bold;
  padding-left: 10px;
}

.DashboardReport__heading {
  font-size: 24px;
  margin: 0;
}

.DashboardReport__visualization { 

  .Table {
    table-layout: fixed;
    min-width: 100%;
  }
  
}
