.Dashboard__header {
  display: flex;
  margin-bottom: 32px;
}

.Dashboard__name-container {
  flex-grow: 1;
  padding-right: 48px;
}

.Dashboard__heading {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.Dashboard__metadata {
  font-size: 14px;
  color: #666666;
  margin-top: 6px;
}

input.Dashboard__name-input {
  font-size: 2em;
  width: 100%;
  font-weight: bold;
}

.Dashboard__tools {
  flex-shrink: 0;
  margin-top: 8px;
}

.Dashboard__tool-button {
  margin-right: 6px;
}

.Dashboard__tool-button:last-child {
  margin-right: 0;
}
