.ValueListInput {
  margin-bottom: 20px;

  .undefinedOption {
    margin-top: 14px;
    font-size: 14px;

    input[type='checkbox'] {
      margin-right: 10px;
    }
  }

  .singeValueInput {
    width: 100%;
  }

  .Message.error {
    margin-top: 5px;
  }

  .MultiValueInput {
    .Tag,
    .Tag .Button {
      background-color: var(--blue-lighten-75);
      color: var(--silver-lighten-99);
    }

    .Tag.invalid,
    .Tag.invalid .Button {
      background-color: var(--red-lighten-85);
      color: var(--grey-lighten-50);
    }
  }
}
