@import 'shared-styles/shared-styles.scss';

.ValueListInput {
  margin-bottom: 20px;

  .undefinedOption {
    margin-top: 14px;
    font-size: 14px;

    input[type='checkbox'] {
      margin-right: 10px;
    }
  }

  .singeValueInput {
    width: 100%;
  }

  .Message.error {
    margin-top: 5px;
  }

  .MultiValueInput {
    .Tag,
    .Tag .Button {
      background-color: #7fa8c5;
      color: white;
    }

    .Tag.invalid,
    .Tag.invalid .Button {
      background-color: $red-lighten-85;
      color: $grey-lighten-50;
    }
  }
}
