<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.AuditLogMapper">

  <select id="count" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM ${prefix}AUDIT_LOG
    <include refid="io.camunda.db.rdbms.sql.AuditLogMapper.searchFilter" />
  </select>

  <select id="search"
    parameterType="io.camunda.db.rdbms.read.domain.AuditLogDbQuery"
    resultType="io.camunda.db.rdbms.write.domain.AuditLogDbModel"
    statementType="PREPARED">
    SELECT * FROM (
      SELECT
        AUDIT_LOG_KEY,
        ENTITY_KEY,
        ENTITY_TYPE,
        OPERATION_TYPE,
        ENTITY_VERSION,
        ENTITY_VALUE_TYPE,
        ENTITY_OPERATION_INTENT,
        BATCH_OPERATION_KEY,
        BATCH_OPERATION_TYPE,
        TIMESTAMP,
        ACTOR_TYPE,
        ACTOR_ID,
        TENANT_ID,
        TENANT_SCOPE,
        RESULT,
        ANNOTATION,
        CATEGORY,
        PROCESS_DEFINITION_ID,
        DECISION_REQUIREMENTS_ID,
        DECISION_DEFINITION_ID,
        PROCESS_DEFINITION_KEY,
        PROCESS_INSTANCE_KEY,
        ROOT_PROCESS_INSTANCE_KEY,
        ELEMENT_INSTANCE_KEY,
        JOB_KEY,
        USER_TASK_KEY,
        DECISION_REQUIREMENTS_KEY,
        DECISION_DEFINITION_KEY,
        DECISION_EVALUATION_KEY,
        DEPLOYMENT_KEY,
        FORM_KEY,
        RESOURCE_KEY,
        PARTITION_ID,
        HISTORY_CLEANUP_DATE
      FROM ${prefix}AUDIT_LOG
      <include refid="io.camunda.db.rdbms.sql.AuditLogMapper.searchFilter" />
    ) t
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter" />
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy" />
    <include refid="io.camunda.db.rdbms.sql.Commons.paging" />
  </select>

  <sql id="searchFilter">
    <where>
      <!-- authorization filters -->
      <if test="authorizedTenantIds != null and !authorizedTenantIds.isEmpty()">
        AND (TENANT_SCOPE = 'GLOBAL' OR TENANT_ID IN
        <foreach collection="authorizedTenantIds" item="tenantId" open="(" separator="," close=")">
          #{tenantId}
        </foreach>)
      </if>
      <!-- basic filters -->
      <if test="filter.auditLogKeyOperations != null and !filter.auditLogKeyOperations.isEmpty()">
        <foreach collection="filter.auditLogKeyOperations" item="operation">
          AND AUDIT_LOG_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.entityKeyOperations != null and !filter.entityKeyOperations.isEmpty()">
        <foreach collection="filter.entityKeyOperations" item="operation">
          AND ENTITY_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.entityTypeOperations != null and !filter.entityTypeOperations.isEmpty()">
        <foreach collection="filter.entityTypeOperations" item="operation">
          AND ENTITY_TYPE
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.operationTypeOperations != null and !filter.operationTypeOperations.isEmpty()">
        <foreach collection="filter.operationTypeOperations" item="operation">
          AND OPERATION_TYPE
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.timestampOperations != null and !filter.timestampOperations.isEmpty()">
        <foreach collection="filter.timestampOperations" item="operation">
          AND TIMESTAMP
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.actorTypeOperations != null and !filter.actorTypeOperations.isEmpty()">
        <foreach collection="filter.actorTypeOperations" item="operation">
          AND ACTOR_TYPE
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.actorIdOperations != null and !filter.actorIdOperations.isEmpty()">
        <foreach collection="filter.actorIdOperations" item="operation">
          AND ACTOR_ID
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.tenantIdOperations != null and !filter.tenantIdOperations.isEmpty()">
        <foreach collection="filter.tenantIdOperations" item="operation">
          AND TENANT_ID
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.resultOperations != null and !filter.resultOperations.isEmpty()">
        <foreach collection="filter.resultOperations" item="operation">
          AND RESULT
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.categoryOperations != null and !filter.categoryOperations.isEmpty()">
        <foreach collection="filter.categoryOperations" item="operation">
          AND CATEGORY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.processInstanceKeyOperations != null and !filter.processInstanceKeyOperations.isEmpty()">
        <foreach collection="filter.processInstanceKeyOperations" item="operation">
          AND PROCESS_INSTANCE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.processDefinitionKeyOperations != null and !filter.processDefinitionKeyOperations.isEmpty()">
        <foreach collection="filter.processDefinitionKeyOperations" item="operation">
          AND PROCESS_DEFINITION_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.processDefinitionIdOperations != null and !filter.processDefinitionIdOperations.isEmpty()">
        <foreach collection="filter.processDefinitionIdOperations" item="operation">
          AND PROCESS_DEFINITION_ID
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.userTaskKeyOperations != null and !filter.userTaskKeyOperations.isEmpty()">
        <foreach collection="filter.userTaskKeyOperations" item="operation">
          AND USER_TASK_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.decisionDefinitionKeyOperations != null and !filter.decisionDefinitionKeyOperations.isEmpty()">
        <foreach collection="filter.decisionDefinitionKeyOperations" item="operation">
          AND DECISION_DEFINITION_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.jobKeyOperations != null and !filter.jobKeyOperations.isEmpty()">
        <foreach collection="filter.jobKeyOperations" item="operation">
          AND JOB_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.batchOperationKeyOperations != null and !filter.batchOperationKeyOperations.isEmpty()">
        <foreach collection="filter.batchOperationKeyOperations" item="operation">
          AND BATCH_OPERATION_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.deploymentKeyOperations != null and !filter.deploymentKeyOperations.isEmpty()">
        <foreach collection="filter.deploymentKeyOperations" item="operation">
          AND DEPLOYMENT_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.formKeyOperations != null and !filter.formKeyOperations.isEmpty()">
        <foreach collection="filter.formKeyOperations" item="operation">
          AND FORM_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.resourceKeyOperations != null and !filter.resourceKeyOperations.isEmpty()">
        <foreach collection="filter.resourceKeyOperations" item="operation">
          AND RESOURCE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.decisionEvaluationKeyOperations != null and !filter.decisionEvaluationKeyOperations.isEmpty()">
        <foreach collection="filter.decisionEvaluationKeyOperations" item="operation">
          AND DECISION_EVALUATION_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.elementInstanceKeyOperations != null and !filter.elementInstanceKeyOperations.isEmpty()">
        <foreach collection="filter.elementInstanceKeyOperations" item="operation">
          AND ELEMENT_INSTANCE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="io.camunda.db.rdbms.sql.AuditLogMapper$BatchInsertAuditLogsDto">
    INSERT INTO ${prefix}AUDIT_LOG (
      AUDIT_LOG_KEY,
      ENTITY_KEY,
      ENTITY_TYPE,
      OPERATION_TYPE,
      ENTITY_VERSION,
      ENTITY_VALUE_TYPE,
      ENTITY_OPERATION_INTENT,
      BATCH_OPERATION_KEY,
      BATCH_OPERATION_TYPE,
      TIMESTAMP,
      ACTOR_TYPE,
      ACTOR_ID,
      TENANT_ID,
      TENANT_SCOPE,
      RESULT,
      ANNOTATION,
      CATEGORY,
      PROCESS_DEFINITION_ID,
      DECISION_REQUIREMENTS_ID,
      DECISION_DEFINITION_ID,
      PROCESS_DEFINITION_KEY,
      PROCESS_INSTANCE_KEY,
      ROOT_PROCESS_INSTANCE_KEY,
      ELEMENT_INSTANCE_KEY,
      JOB_KEY,
      USER_TASK_KEY,
      DECISION_REQUIREMENTS_KEY,
      DECISION_DEFINITION_KEY,
      DECISION_EVALUATION_KEY,
      DEPLOYMENT_KEY,
      FORM_KEY,
      RESOURCE_KEY,
      PARTITION_ID,
      HISTORY_CLEANUP_DATE
    )
    VALUES
    <foreach collection="auditLogs" item="auditLog" separator=",">
      (
        #{auditLog.auditLogKey},
        #{auditLog.entityKey},
        #{auditLog.entityType},
        #{auditLog.operationType},
        #{auditLog.entityVersion},
        #{auditLog.entityValueType},
        #{auditLog.entityOperationIntent},
        #{auditLog.batchOperationKey},
        #{auditLog.batchOperationType},
        #{auditLog.timestamp, jdbcType=TIMESTAMP},
        #{auditLog.actorType},
        #{auditLog.actorId},
        #{auditLog.tenantId},
        #{auditLog.tenantScope},
        #{auditLog.result},
        #{auditLog.annotation},
        #{auditLog.category},
        #{auditLog.processDefinitionId},
        #{auditLog.decisionRequirementsId},
        #{auditLog.decisionDefinitionId},
        #{auditLog.processDefinitionKey},
        #{auditLog.processInstanceKey},
        #{auditLog.rootProcessInstanceKey},
        #{auditLog.elementInstanceKey},
        #{auditLog.jobKey},
        #{auditLog.userTaskKey},
        #{auditLog.decisionRequirementsKey},
        #{auditLog.decisionDefinitionKey},
        #{auditLog.decisionEvaluationKey},
        #{auditLog.deploymentKey},
        #{auditLog.formKey},
        #{auditLog.resourceKey},
        #{auditLog.partitionId},
        #{auditLog.historyCleanupDate, jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>

  <update id="updateProcessHistoryCleanupDate">
    UPDATE ${prefix}AUDIT_LOG SET
    HISTORY_CLEANUP_DATE = #{historyCleanupDate, jdbcType=TIMESTAMP}
    WHERE PROCESS_INSTANCE_KEY IN
    <foreach collection="processInstanceKeys" item="key" open="(" separator="," close=")">
      #{key}
    </foreach>
  </update>

  <delete id="deleteProcessInstanceRelatedData">
    <bind name="tableName" value="'AUDIT_LOG'"/>
    <bind name="primaryKeyColumn" value="'AUDIT_LOG_KEY'"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.historyDeletion"/>
  </delete>

  <delete id="cleanupHistory">
    <bind name="tableName" value="'AUDIT_LOG'"/>
    <bind name="primaryKeyColumn" value="'AUDIT_LOG_KEY'"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.historyCleanup"/>
  </delete>

</mapper>

