<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.camunda.db.rdbms.sql.CorrelatedMessageMapper">

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.CorrelatedMessageDbModel">
    INSERT INTO ${prefix}CORRELATED_MESSAGE (
      CORRELATION_KEY,
      CORRELATION_TIME,
      FLOW_NODE_ID,
      FLOW_NODE_INSTANCE_KEY,
      HISTORY_CLEANUP_DATE,
      MESSAGE_KEY,
      MESSAGE_NAME,
      PARTITION_ID,
      PROCESS_DEFINITION_ID,
      PROCESS_DEFINITION_KEY,
      PROCESS_INSTANCE_KEY,
      SUBSCRIPTION_KEY,
      TENANT_ID
    ) VALUES (
      #{correlationKey},
      #{correlationTime, jdbcType=TIMESTAMP},
      #{flowNodeId},
      #{flowNodeInstanceKey},
      #{historyCleanupDate, jdbcType=TIMESTAMP},
      #{messageKey},
      #{messageName},
      #{partitionId},
      #{processDefinitionId},
      #{processDefinitionKey},
      #{processInstanceKey},
      #{subscriptionKey},
      #{tenantId}
    )
  </insert>

  <update id="update" parameterType="io.camunda.db.rdbms.write.domain.CorrelatedMessageDbModel">
    UPDATE ${prefix}CORRELATED_MESSAGE SET
      CORRELATION_KEY = #{correlationKey},
      CORRELATION_TIME = #{correlationTime, jdbcType=TIMESTAMP},
      FLOW_NODE_ID = #{flowNodeId},
      FLOW_NODE_INSTANCE_KEY = #{flowNodeInstanceKey},
      HISTORY_CLEANUP_DATE = #{historyCleanupDate, jdbcType=TIMESTAMP},
      MESSAGE_NAME = #{messageName},
      PARTITION_ID = #{partitionId},
      PROCESS_DEFINITION_ID = #{processDefinitionId},
      PROCESS_DEFINITION_KEY = #{processDefinitionKey},
      PROCESS_INSTANCE_KEY = #{processInstanceKey},
      TENANT_ID = #{tenantId}
    WHERE SUBSCRIPTION_KEY = #{subscriptionKey} AND MESSAGE_KEY = #{messageKey}
  </update>

  <update id="updateHistoryCleanupDate" parameterType="io.camunda.db.rdbms.sql.ProcessBasedHistoryCleanupMapper$UpdateHistoryCleanupDateDto">
    UPDATE ${prefix}CORRELATED_MESSAGE SET
      HISTORY_CLEANUP_DATE = #{historyCleanupDate, jdbcType=TIMESTAMP}
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </update>

  <delete id="cleanupHistory" parameterType="io.camunda.db.rdbms.sql.HistoryCleanupMapper$CleanupHistoryDto">
    <bind name="tableName" value="'CORRELATED_MESSAGE'"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.historyCleanup"/>
  </delete>

</mapper>