<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.DecisionDefinitionMapper">

  <select id="count" parameterType="io.camunda.db.rdbms.read.domain.DecisionDefinitionDbQuery">
    SELECT COUNT(*) FROM (
      SELECT 1 as col
      FROM ${prefix}DECISION_DEFINITION t
      <include refid="io.camunda.db.rdbms.sql.DecisionDefinitionMapper.maxVersionFilter"/>
      <include refid="io.camunda.db.rdbms.sql.DecisionDefinitionMapper.searchFilter"/>
      ${count.limit}
    ) t
  </select>

  <select id="search" parameterType="io.camunda.db.rdbms.read.domain.DecisionDefinitionDbQuery"
    resultMap="io.camunda.db.rdbms.sql.DecisionDefinitionMapper.searchResultMap">
    SELECT * FROM (
    SELECT DECISION_DEFINITION_KEY,
    DECISION_DEFINITION_ID,
    NAME,
    TENANT_ID,
    VERSION,
    DECISION_REQUIREMENTS_KEY,
    DECISION_REQUIREMENTS_ID,
    DECISION_REQUIREMENTS_NAME,
    DECISION_REQUIREMENTS_VERSION
    FROM ${prefix}DECISION_DEFINITION
    <include refid="io.camunda.db.rdbms.sql.DecisionDefinitionMapper.searchFilter"/>
    ) t
    <include refid="io.camunda.db.rdbms.sql.DecisionDefinitionMapper.maxVersionFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.paging"/>
  </select>

  <sql id="searchFilter">
    <where>
      <!-- authorization filters -->
      <if test="authorizedResourceIds != null and !authorizedResourceIds.isEmpty()">
        AND DECISION_DEFINITION_ID IN
        <foreach collection="authorizedResourceIds" item="resourceId" open="(" separator=","
          close=")">
          #{resourceId}
        </foreach>
      </if>
      <if test="authorizedTenantIds != null and !authorizedTenantIds.isEmpty()">
        AND TENANT_ID IN
        <foreach collection="authorizedTenantIds" item="tenantId" open="(" separator="," close=")">
          #{tenantId}
        </foreach>
      </if>
      <!-- basic filters -->
      <if test="filter.decisionDefinitionKeys != null and !filter.decisionDefinitionKeys.isEmpty()">
        AND DECISION_DEFINITION_KEY IN
        <foreach collection="filter.decisionDefinitionKeys" item="value" open="(" separator=", "
          close=")">#{value}
        </foreach>
      </if>
      <if test="filter.decisionDefinitionIds != null and !filter.decisionDefinitionIds.isEmpty()">
        AND DECISION_DEFINITION_ID IN
        <foreach collection="filter.decisionDefinitionIds" item="value" open="(" separator=", "
          close=")">#{value}
        </foreach>
      </if>
      <if test="filter.names != null and !filter.names.isEmpty()">
        AND name IN
        <foreach collection="filter.names" item="value" open="(" separator=", " close=")">#{value}
        </foreach>
      </if>
      <if test="filter.versions != null and !filter.versions.isEmpty()">
        AND VERSION IN
        <foreach collection="filter.versions" item="value" open="(" separator=", " close=")">
          #{value}
        </foreach>
      </if>
      <if test="filter.tenantIds != null and !filter.tenantIds.isEmpty()">
        AND TENANT_ID IN
        <foreach collection="filter.tenantIds" item="value" open="(" separator=", " close=")">
          #{value}
        </foreach>
      </if>
      <if
        test="filter.decisionRequirementsIds != null and !filter.decisionRequirementsIds.isEmpty()">
        AND DECISION_REQUIREMENTS_ID IN
        <foreach collection="filter.decisionRequirementsIds" item="value" open="(" separator=", "
          close=")">
          #{value}
        </foreach>
      </if>
      <if
        test="filter.decisionRequirementsKeys != null and !filter.decisionRequirementsKeys.isEmpty()">
        AND DECISION_REQUIREMENTS_KEY IN
        <foreach collection="filter.decisionRequirementsKeys" item="value" open="(" separator=", "
          close=")">
          #{value}
        </foreach>
      </if>
      <if
        test="filter.decisionRequirementsNames != null and !filter.decisionRequirementsNames.isEmpty()">
        AND DECISION_REQUIREMENTS_NAME IN
        <foreach collection="filter.decisionRequirementsNames" item="value" open="(" separator=", "
          close=")">
          #{value}
        </foreach>
      </if>
      <if
        test="filter.decisionRequirementsVersions != null and !filter.decisionRequirementsVersions.isEmpty()">
        AND DECISION_REQUIREMENTS_VERSION IN
        <foreach collection="filter.decisionRequirementsVersions" item="value" open="(" separator=", "
          close=")">
          #{value}
        </foreach>
      </if>
    </where>
  </sql>

  <resultMap id="searchResultMap" type="io.camunda.search.entities.DecisionDefinitionEntity">
    <constructor>
      <idArg column="DECISION_DEFINITION_KEY" javaType="java.lang.Long"/>
      <arg column="DECISION_DEFINITION_ID" javaType="java.lang.String"/>
      <arg column="NAME" javaType="java.lang.String"/>
      <arg column="VERSION" javaType="java.lang.Integer"/>
      <arg column="DECISION_REQUIREMENTS_ID" javaType="java.lang.String"/>
      <arg column="DECISION_REQUIREMENTS_KEY" javaType="java.lang.Long"/>
      <arg column="DECISION_REQUIREMENTS_NAME" javaType="java.lang.String"/>
      <arg column="DECISION_REQUIREMENTS_VERSION" javaType="java.lang.Integer"/>
      <arg column="TENANT_ID" javaType="java.lang.String"/>
    </constructor>
  </resultMap>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.DecisionDefinitionDbModel">
    INSERT INTO ${prefix}DECISION_DEFINITION (DECISION_DEFINITION_KEY, DECISION_DEFINITION_ID, NAME, TENANT_ID, VERSION, DECISION_REQUIREMENTS_ID, DECISION_REQUIREMENTS_KEY, DECISION_REQUIREMENTS_NAME, DECISION_REQUIREMENTS_VERSION)
    VALUES (#{decisionDefinitionKey}, #{decisionDefinitionId}, #{name},
            #{tenantId}, #{version}, #{decisionRequirementsId}, #{decisionRequirementsKey}, #{decisionRequirementsName}, #{decisionRequirementsVersion})
  </insert>

  <sql id="maxVersionFilter">
    <if test="filter.isLatestVersion != null and filter.isLatestVersion == true">
      JOIN (
        SELECT dd.DECISION_DEFINITION_ID AS dd_id, dd.TENANT_ID AS t_id, MAX(VERSION) AS max_version
        FROM ${prefix}DECISION_DEFINITION dd
        <include refid="io.camunda.db.rdbms.sql.DecisionDefinitionMapper.searchFilter"/>
        GROUP BY dd.TENANT_ID, dd.DECISION_DEFINITION_ID
      ) lv
      ON t.DECISION_DEFINITION_ID = lv.dd_id
      AND t.VERSION = lv.max_version
      AND (t.TENANT_ID = lv.t_id OR (t.TENANT_ID IS NULL AND lv.t_id IS NULL))
    </if>
  </sql>

  <delete id="deleteByDecisionRequirementsKeys">
    DELETE FROM ${prefix}DECISION_DEFINITION
    WHERE DECISION_REQUIREMENTS_KEY IN
    <foreach collection="decisionRequirementsKeys" item="key" open="(" separator="," close=")">
      #{key}
    </foreach>
    LIMIT #{limit}
  </delete>

  <delete id="deleteByDecisionRequirementsKeys" databaseId="mssql">
    DELETE TOP (#{limit})
    FROM ${prefix}DECISION_DEFINITION
    WHERE DECISION_REQUIREMENTS_KEY IN
    <foreach collection="decisionRequirementsKeys" item="key" open="(" separator="," close=")">
      #{key}
    </foreach>
  </delete>

  <delete id="deleteByDecisionRequirementsKeys" databaseId="oracle">
    DELETE FROM ${prefix}DECISION_DEFINITION
    WHERE rowid IN (SELECT rowid
                    FROM ${prefix}DECISION_DEFINITION
                    WHERE DECISION_REQUIREMENTS_KEY IN
                    <foreach collection="decisionRequirementsKeys" item="key" open="(" separator="," close=")">
                      #{key}
                    </foreach>
                    AND ROWNUM &lt;= #{limit})
  </delete>

  <delete id="deleteByDecisionRequirementsKeys" databaseId="postgresql">
    DELETE FROM ${prefix}DECISION_DEFINITION
    WHERE ctid IN (SELECT ctid
                   FROM ${prefix}DECISION_DEFINITION
                   WHERE DECISION_REQUIREMENTS_KEY IN
                   <foreach collection="decisionRequirementsKeys" item="key" open="(" separator="," close=")">
                     #{key}
                   </foreach>
                   LIMIT #{limit})
  </delete>
</mapper>
