<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.camunda.db.rdbms.sql.DeployedResourceMapper">

  <resultMap id="resourceResultMap" type="io.camunda.search.entities.DeployedResourceEntity">
    <constructor>
      <idArg column="RESOURCE_KEY" javaType="java.lang.Long"/>
      <arg column="RESOURCE_ID" javaType="java.lang.String"
        typeHandler="io.camunda.db.rdbms.sql.typehandler.NullToEmptyStringTypeHandler"/>
      <arg column="RESOURCE_NAME" javaType="java.lang.String"
        typeHandler="io.camunda.db.rdbms.sql.typehandler.NullToEmptyStringTypeHandler"/>
      <arg column="RESOURCE_TYPE" javaType="java.lang.String"/>
      <arg column="VERSION" javaType="int"/>
      <arg column="VERSION_TAG" javaType="java.lang.String"/>
      <arg column="DEPLOYMENT_KEY" javaType="java.lang.Long"/>
      <arg column="TENANT_ID" javaType="java.lang.String"
        typeHandler="io.camunda.db.rdbms.sql.typehandler.NullToEmptyStringTypeHandler"/>
      <arg column="RESOURCE_CONTENT" javaType="java.lang.String"/>
    </constructor>
  </resultMap>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.DeployedResourceDbModel">
    INSERT INTO ${prefix}DEPLOYED_RESOURCE (RESOURCE_KEY, RESOURCE_ID, RESOURCE_NAME, RESOURCE_TYPE,
                                            VERSION, VERSION_TAG,
                                            DEPLOYMENT_KEY, TENANT_ID, RESOURCE_CONTENT)
    VALUES (#{resourceKey}, #{resourceId}, #{resourceName}, #{resourceType}, #{version},
            #{versionTag},
            #{deploymentKey}, #{tenantId}, #{resourceContent})
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    DELETE
    FROM ${prefix}DEPLOYED_RESOURCE
    WHERE RESOURCE_KEY = #{resourceKey}
  </delete>

  <select id="get" parameterType="java.lang.Long"
    resultMap="io.camunda.db.rdbms.sql.DeployedResourceMapper.resourceResultMap">
    SELECT
      RESOURCE_KEY,
      RESOURCE_ID,
      RESOURCE_NAME,
      RESOURCE_TYPE,
      VERSION,
      VERSION_TAG,
      DEPLOYMENT_KEY,
      TENANT_ID,
      RESOURCE_CONTENT
    FROM ${prefix}DEPLOYED_RESOURCE
    WHERE RESOURCE_KEY = #{resourceKey}
  </select>

  <select id="getMetadata" parameterType="java.lang.Long"
    resultMap="io.camunda.db.rdbms.sql.DeployedResourceMapper.resourceResultMap">
    SELECT
      RESOURCE_KEY,
      RESOURCE_ID,
      RESOURCE_NAME,
      RESOURCE_TYPE,
      VERSION,
      VERSION_TAG,
      DEPLOYMENT_KEY,
      TENANT_ID,
      NULL AS RESOURCE_CONTENT
    FROM ${prefix}DEPLOYED_RESOURCE
    WHERE RESOURCE_KEY = #{resourceKey}
  </select>

  <select id="count" parameterType="io.camunda.db.rdbms.read.domain.DeployedResourceDbQuery">
    SELECT COUNT(*) FROM (
      SELECT 1 as col
      FROM ${prefix}DEPLOYED_RESOURCE t
      <include refid="io.camunda.db.rdbms.sql.DeployedResourceMapper.searchFilter"/>
      ${count.limit}
    ) t
  </select>

  <select id="search" parameterType="io.camunda.db.rdbms.read.domain.DeployedResourceDbQuery"
    resultMap="io.camunda.db.rdbms.sql.DeployedResourceMapper.resourceResultMap">
    SELECT * FROM (
    SELECT RESOURCE_KEY,
    RESOURCE_ID,
    RESOURCE_NAME,
    RESOURCE_TYPE,
    VERSION,
    VERSION_TAG,
    DEPLOYMENT_KEY,
    TENANT_ID,
    NULL AS RESOURCE_CONTENT
    FROM ${prefix}DEPLOYED_RESOURCE
    <include refid="io.camunda.db.rdbms.sql.DeployedResourceMapper.searchFilter"/>
    ) t
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.paging"/>
  </select>

  <sql id="searchFilter">
    <where>
      <!-- authorization filters -->
      <if test="authorizedResourceIds != null and !authorizedResourceIds.isEmpty()">
        AND RESOURCE_ID IN
        <foreach collection="authorizedResourceIds" item="resourceId" open="(" separator="," close=")">
          #{resourceId}
        </foreach>
      </if>
      <if test="authorizedTenantIds != null and !authorizedTenantIds.isEmpty()">
        AND TENANT_ID IN
        <foreach collection="authorizedTenantIds" item="tenantId" open="(" separator="," close=")">
          #{tenantId}
        </foreach>
      </if>
      <!-- basic filters -->
      <if test="filter.resourceKeyOperations != null and !filter.resourceKeyOperations.isEmpty()">
        <foreach collection="filter.resourceKeyOperations" item="operation">
          AND RESOURCE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if
        test="filter.resourceNameOperations != null and !filter.resourceNameOperations.isEmpty()">
        <foreach collection="filter.resourceNameOperations" item="operation">
          AND RESOURCE_NAME
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.resourceIdOperations != null and !filter.resourceIdOperations.isEmpty()">
        <foreach collection="filter.resourceIdOperations" item="operation">
          AND RESOURCE_ID
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.resourceTypeOperations != null and !filter.resourceTypeOperations.isEmpty()">
        <foreach collection="filter.resourceTypeOperations" item="operation">
          AND RESOURCE_TYPE
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.versionOperations != null and !filter.versionOperations.isEmpty()">
        <foreach collection="filter.versionOperations" item="operation">
          AND VERSION
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.versionTagOperations != null and !filter.versionTagOperations.isEmpty()">
        <foreach collection="filter.versionTagOperations" item="operation">
          AND VERSION_TAG
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.deploymentKeyOperations != null and !filter.deploymentKeyOperations.isEmpty()">
        <foreach collection="filter.deploymentKeyOperations" item="operation">
          AND DEPLOYMENT_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.tenantIds != null and !filter.tenantIds.isEmpty()">
        AND TENANT_ID IN
        <foreach collection="filter.tenantIds" item="value" open="(" separator=", " close=")">
          #{value}
        </foreach>
      </if>
    </where>
  </sql>

</mapper>
