<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.ExporterPositionMapper">

  <select id="findOne"
    parameterType="java.lang.Integer"
    resultType="io.camunda.db.rdbms.write.domain.ExporterPositionModel">
      SELECT
        PARTITION_ID,
        EXPORTER,
        LAST_EXPORTED_POSITION,
        CREATED,
        LAST_UPDATED
      FROM
        ${prefix}EXPORTER_POSITION
      WHERE PARTITION_ID = #{partitionId}
  </select>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.ExporterPositionModel">
      INSERT INTO ${prefix}EXPORTER_POSITION (PARTITION_ID, EXPORTER, LAST_EXPORTED_POSITION, CREATED, LAST_UPDATED)
      VALUES (#{partitionId}, #{exporter}, #{lastExportedPosition}, #{created}, #{lastUpdated})
  </insert>

  <update id="update" parameterType="io.camunda.db.rdbms.write.domain.ExporterPositionModel">
      UPDATE ${prefix}EXPORTER_POSITION
      SET LAST_EXPORTED_POSITION = #{lastExportedPosition}, LAST_UPDATED = #{lastUpdated}
      WHERE PARTITION_ID = #{partitionId}
  </update>

  <resultMap id="exporterLsnMap" type="io.camunda.db.rdbms.write.domain.ExporterLsnModel">
    <result property="lastExportedPosition" column="last_exported_position"/>
    <result property="lastLsn" column="last_lsn"/>
  </resultMap>

  <select id="findCurrentLsnPostgres" resultType="java.lang.Long">
    SELECT pg_wal_lsn_diff(pg_current_wal_lsn(), '0/0')::bigint last_lsn
  </select>

  <select id="getMinReplicationLsnPostgres" resultType="java.lang.Long">
    SELECT
      COALESCE(MIN(pg_wal_lsn_diff(replay_lsn, '0/0')), 0)::bigint AS min_replication_lsn
    FROM pg_stat_replication;
  </select>

  <select id="findCurrentLsnAuroraPostgres" resultMap="java.lang.Long">
    SELECT DURABLE_LSN AS last_lsn
    FROM aurora_global_db_instance_status()
    WHERE SESSION_ID = 'MASTER_SESSION_ID';
  </select>

  <select id="getMinReplicationLsnAuroraPostgres" resultType="java.lang.Long">
    SELECT
      MIN(DURABLE_LSN) AS min_replication_lsn
    FROM aurora_global_db_instance_status()
    WHERE SESSION_ID != 'MASTER_SESSION_ID';
  </select>

  <select id="findCurrentLsnAuroraMySQL" resultType="java.lang.Long">
    SELECT
      HIGHEST_LSN_WRITTEN AS min_replication_lsn
    FROM information_schema.aurora_global_db_status as last_lsn
    WHERE OLDEST_READ_VIEW_TRX_ID = 0 -- primary instance;
  </select>

  <select id="getMinReplicationLsnAuroraMySQL" resultType="java.lang.Long">
    SELECT
      MIN(HIGHEST_LSN_WRITTEN) AS min_replication_lsn
    FROM information_schema.aurora_global_db_status as last_lsn
    WHERE OLDEST_READ_VIEW_TRX_ID != 0 -- all secondary instances;
  </select>
</mapper>
