<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.ExporterPositionMapper">

  <select id="findOne"
    parameterType="java.lang.Integer"
    resultType="io.camunda.db.rdbms.write.domain.ExporterPositionModel">
      SELECT
        PARTITION_ID,
        EXPORTER,
        LAST_EXPORTED_POSITION,
        CREATED,
        LAST_UPDATED
      FROM
        ${prefix}EXPORTER_POSITION
      WHERE PARTITION_ID = #{partitionId}
  </select>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.ExporterPositionModel">
      INSERT INTO ${prefix}EXPORTER_POSITION (PARTITION_ID, EXPORTER, LAST_EXPORTED_POSITION, CREATED, LAST_UPDATED)
      VALUES (#{partitionId}, #{exporter}, #{lastExportedPosition}, #{created}, #{lastUpdated})
  </insert>

  <update id="update" parameterType="io.camunda.db.rdbms.write.domain.ExporterPositionModel">
      UPDATE ${prefix}EXPORTER_POSITION
      SET LAST_EXPORTED_POSITION = #{lastExportedPosition}, LAST_UPDATED = #{lastUpdated}
      WHERE PARTITION_ID = #{partitionId}
  </update>

  <select id="findCurrentLsnPostgres" resultType="java.lang.Long">
    SELECT pg_wal_lsn_diff(pg_current_wal_lsn(), '0/0')::bigint last_lsn
  </select>

  <select id="getReplicationStatusesPostgres" resultType="io.camunda.db.rdbms.write.ReplicationStatusDto">
    SELECT
      COALESCE(pg_wal_lsn_diff(replay_lsn, '0/0'), 0)::bigint AS lsn,
      pid::text AS replicaId
    FROM pg_stat_replication
    WHERE pid IS NOT NULL;
  </select>

  <select id="findCurrentLsnAurora" resultType="java.lang.Long">
    SELECT DURABLE_LSN AS last_lsn
    FROM aurora_global_db_instance_status()
    WHERE SESSION_ID = 'MASTER_SESSION_ID';
  </select>

  <select id="getReplicationStatusesAurora" resultType="io.camunda.db.rdbms.write.ReplicationStatusDto">
    SELECT
      COALESCE(DURABLE_LSN, 0) AS lsn,
      COALESCE(SERVER_ID, SESSION_ID) AS replicaId
    FROM aurora_global_db_instance_status()
    WHERE SESSION_ID != 'MASTER_SESSION_ID';
  </select>
</mapper>
