<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.camunda.db.rdbms.sql.JobMetricsBatchMapper">

  <resultMap id="GlobalJobStatisticsResultMap"
    type="io.camunda.db.rdbms.read.domain.GlobalJobStatisticsDbResult">
    <constructor>
      <arg column="CREATED_COUNT" javaType="java.lang.Long"/>
      <arg column="LAST_CREATED_AT" javaType="java.time.OffsetDateTime"/>
      <arg column="COMPLETED_COUNT" javaType="java.lang.Long"/>
      <arg column="LAST_COMPLETED_AT" javaType="java.time.OffsetDateTime"/>
      <arg column="FAILED_COUNT" javaType="java.lang.Long"/>
      <arg column="LAST_FAILED_AT" javaType="java.time.OffsetDateTime"/>
      <arg column="INCOMPLETE_BATCH" javaType="java.lang.Boolean"/>
    </constructor>
  </resultMap>

  <select id="globalJobStatistics"
    parameterType="io.camunda.db.rdbms.read.domain.GlobalJobStatisticsDbQuery"
    resultMap="GlobalJobStatisticsResultMap"
    statementType="PREPARED">
    SELECT
      SUM(CREATED_COUNT) AS CREATED_COUNT,
      MAX(LAST_CREATED_AT) AS LAST_CREATED_AT,
      SUM(COMPLETED_COUNT) AS COMPLETED_COUNT,
      MAX(LAST_COMPLETED_AT) AS LAST_COMPLETED_AT,
      SUM(FAILED_COUNT) AS FAILED_COUNT,
      MAX(LAST_FAILED_AT) AS LAST_FAILED_AT,
      CASE WHEN MAX(CASE WHEN INCOMPLETE_BATCH = ${true} THEN 1 ELSE 0 END) = 1 THEN ${true} ELSE ${false} END AS INCOMPLETE_BATCH
    FROM ${prefix}JOB_METRICS_BATCH
    <include refid="io.camunda.db.rdbms.sql.JobMetricsBatchMapper.globalJobStatisticsFilter"/>
  </select>

  <sql id="globalJobStatisticsFilter">
    <where>
      <if test="authorizedTenantIds != null and !authorizedTenantIds.isEmpty()">
        AND TENANT_ID IN
        <foreach collection="authorizedTenantIds" item="tenantId" open="(" separator="," close=")">
          #{tenantId}
        </foreach>
      </if>
      <if test="filter.from != null">
        AND START_TIME &gt;= #{filter.from}
      </if>
      <if test="filter.to != null">
        AND END_TIME &lt;= #{filter.to}
      </if>
      <if test="filter.jobType != null">
        AND JOB_TYPE = #{filter.jobType}
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.JobMetricsBatchDbModel">
    INSERT INTO ${prefix}JOB_METRICS_BATCH (JOB_METRICS_BATCH_KEY,
                                            PARTITION_ID,
                                            START_TIME,
                                            END_TIME,
                                            INCOMPLETE_BATCH,
                                            TENANT_ID,
                                            FAILED_COUNT,
                                            LAST_FAILED_AT,
                                            COMPLETED_COUNT,
                                            LAST_COMPLETED_AT,
                                            CREATED_COUNT,
                                            LAST_CREATED_AT,
                                            JOB_TYPE,
                                            WORKER)
    VALUES (#{key},
            #{partitionId},
            #{startTime, jdbcType=TIMESTAMP},
            #{endTime, jdbcType=TIMESTAMP},
            #{incompleteBatch},
            #{tenantId},
            #{failedCount},
            #{lastFailedAt, jdbcType=TIMESTAMP},
            #{completedCount},
            #{lastCompletedAt, jdbcType=TIMESTAMP},
            #{createdCount},
            #{lastCreatedAt, jdbcType=TIMESTAMP},
            #{jobType},
            #{worker})
  </insert>

  <delete flushCache="true"
          id="cleanupMetrics"
          statementType="PREPARED">
    DELETE
    FROM ${prefix}JOB_METRICS_BATCH
    WHERE PARTITION_ID = #{partitionId}
      AND END_TIME &lt; #{cleanupDate}
    LIMIT #{limit}
  </delete>

  <delete flushCache="true"
          id="cleanupMetrics"
          statementType="PREPARED"
          databaseId="mssql">
    DELETE TOP(#{limit})
    FROM ${prefix}JOB_METRICS_BATCH
    WHERE PARTITION_ID = #{partitionId}
      AND END_TIME &lt; #{cleanupDate}
  </delete>

  <delete flushCache="true"
          id="cleanupMetrics"
          statementType="PREPARED"
          databaseId="oracle">
    DELETE
    FROM ${prefix}JOB_METRICS_BATCH
    WHERE JOB_METRICS_BATCH_KEY IN (SELECT JOB_METRICS_BATCH_KEY
                                    FROM ${prefix}JOB_METRICS_BATCH
                                    WHERE PARTITION_ID = #{partitionId}
                                      AND END_TIME &lt; #{cleanupDate}
                                      AND ROWNUM &lt;= #{limit})
  </delete>

  <delete flushCache="true"
          id="cleanupMetrics"
          statementType="PREPARED"
          databaseId="postgresql">
    DELETE
    FROM ${prefix}JOB_METRICS_BATCH
    WHERE JOB_METRICS_BATCH_KEY IN (SELECT JOB_METRICS_BATCH_KEY
                                    FROM ${prefix}JOB_METRICS_BATCH
                                    WHERE PARTITION_ID = #{partitionId}
                                      AND END_TIME &lt; #{cleanupDate}
      LIMIT #{limit})
  </delete>

</mapper>

