<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.ProcessInstanceMapper">
  <select id="findOne" parameterType="java.lang.Long"
    resultMap="io.camunda.db.rdbms.sql.ProcessInstanceMapper.searchResultMap">
    SELECT pi.PROCESS_INSTANCE_KEY,
           pi.PROCESS_DEFINITION_ID,
           pi.PROCESS_DEFINITION_KEY,
           pi.STATE,
           pi.START_DATE,
           pi.END_DATE,
           pi.TENANT_ID,
           CASE
               WHEN pi.NUM_INCIDENTS = 0 THEN FALSE
               ELSE TRUE
           END AS HAS_INCIDENT,
           pi.PARENT_PROCESS_INSTANCE_KEY,
           pi.PARENT_ELEMENT_INSTANCE_KEY,
           pi.ELEMENT_ID,
           pi.VERSION AS PROCESS_DEFINITION_VERSION,
           pd.NAME        AS PROCESS_DEFINITION_NAME,
           pd.VERSION_TAG AS PROCESS_DEFINITION_VERSION_TAG
    FROM ${prefix}PROCESS_INSTANCE pi
           LEFT JOIN ${prefix}PROCESS_DEFINITION pd ON (pi.PROCESS_DEFINITION_KEY = pd.PROCESS_DEFINITION_KEY)
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </select>

  <select id="count" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM ${prefix}PROCESS_INSTANCE pi
    <!-- TODO: only when definition filters are active -->
    LEFT JOIN ${prefix}PROCESS_DEFINITION pd ON (pi.PROCESS_DEFINITION_KEY = pd.PROCESS_DEFINITION_KEY)
    <include refid="io.camunda.db.rdbms.sql.ProcessInstanceMapper.searchFilter"/>
  </select>

  <!-- default search statement for databases supporting LIMIT/OFFSET-->
  <select id="search" parameterType="io.camunda.db.rdbms.read.domain.ProcessInstanceDbQuery" resultMap="io.camunda.db.rdbms.sql.ProcessInstanceMapper.searchResultMap">
    SELECT * FROM (
    SELECT
    pi.PROCESS_INSTANCE_KEY,
    pi.PROCESS_DEFINITION_ID,
    pi.PROCESS_DEFINITION_KEY,
    pi.STATE,
    pi.START_DATE,
    pi.END_DATE,
    pi.TENANT_ID,
    CASE
        WHEN pi.NUM_INCIDENTS = 0 THEN FALSE
        ELSE TRUE
    END AS HAS_INCIDENT,
    pi.PARENT_PROCESS_INSTANCE_KEY,
    pi.PARENT_ELEMENT_INSTANCE_KEY,
    pi.ELEMENT_ID,
    pi.VERSION PROCESS_DEFINITION_VERSION,
    pd.NAME AS PROCESS_DEFINITION_NAME,
    pd.VERSION_TAG AS PROCESS_DEFINITION_VERSION_TAG
    FROM ${prefix}PROCESS_INSTANCE pi
    LEFT JOIN ${prefix}PROCESS_DEFINITION pd ON (pi.PROCESS_DEFINITION_KEY = pd.PROCESS_DEFINITION_KEY)
    <include refid="io.camunda.db.rdbms.sql.ProcessInstanceMapper.searchFilter"/>
    ) t
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.paging"/>
  </select>

  <sql id="searchFilter">
    WHERE 1 = 1
    <!-- basic filters -->
    <if test="filter.processInstanceKeyOperations != null and !filter.processInstanceKeyOperations.isEmpty()">
      <foreach collection="filter.processInstanceKeyOperations" item="operation">
        AND PROCESS_INSTANCE_KEY <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.processDefinitionIdOperations != null and !filter.processDefinitionIdOperations.isEmpty()">
      <foreach collection="filter.processDefinitionIdOperations" item="operation">
        AND pi.PROCESS_DEFINITION_ID <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.processDefinitionKeyOperations != null and !filter.processDefinitionKeyOperations.isEmpty()">
      <foreach collection="filter.processDefinitionKeyOperations" item="operation">
        AND pi.PROCESS_DEFINITION_KEY <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.parentProcessInstanceKeyOperations != null and !filter.parentProcessInstanceKeyOperations.isEmpty()">
      <foreach collection="filter.parentProcessInstanceKeyOperations" item="operation">
        AND PARENT_PROCESS_INSTANCE_KEY <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.parentFlowNodeInstanceKeyOperations != null and !filter.parentFlowNodeInstanceKeyOperations.isEmpty()">
      <foreach collection="filter.parentFlowNodeInstanceKeyOperations" item="operation">
        AND PARENT_ELEMENT_INSTANCE_KEY <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.stateOperations != null and !filter.stateOperations.isEmpty()">
      <foreach collection="filter.stateOperations" item="operation">
        AND pi.STATE <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.tenantIdOperations != null and !filter.tenantIdOperations.isEmpty()">
      <foreach collection="filter.tenantIdOperations" item="operation">
        AND TENANT_ID <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.hasIncident != null">
      <if test="filter.hasIncident == true">
        AND pi.NUM_INCIDENTS > 0
      </if>
      <if test="filter.hasIncident == false">
        AND pi.NUM_INCIDENTS = 0
      </if>
    </if>

    <!-- date filters -->
    <if test="filter.startDateOperations != null and !filter.startDateOperations.isEmpty()">
      <foreach collection="filter.startDateOperations" item="operation">
        AND START_DATE <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.endDateOperations != null and !filter.endDateOperations.isEmpty()">
      <foreach collection="filter.endDateOperations" item="operation">
        AND END_DATE <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>

    <!-- process definition filters -->
    <if test="filter.processDefinitionNameOperations != null and !filter.processDefinitionNameOperations.isEmpty()">
      <foreach collection="filter.processDefinitionNameOperations" item="operation">
        AND pd.NAME <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.processDefinitionVersionOperations != null and !filter.processDefinitionVersionOperations.isEmpty()">
      <foreach collection="filter.processDefinitionVersionOperations" item="operation">
        AND pd.VERSION <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.processDefinitionVersionTagOperations != null and !filter.processDefinitionVersionTagOperations.isEmpty()">
      <foreach collection="filter.processDefinitionVersionTagOperations" item="operation">
        AND pd.VERSION_TAG <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>

    <!-- Variable filters -->
    <if test="filter.variableFilters != null and !filter.variableFilters.isEmpty()">
      <foreach collection="filter.variableFilters" item="variableFilter"
        open="AND (" separator=" AND " close=")">
        EXISTS (
        SELECT 1
        FROM ${prefix}VARIABLE v
        WHERE v.PROCESS_INSTANCE_KEY = pi.PROCESS_INSTANCE_KEY
        AND v.VAR_NAME = #{variableFilter.name}
        <if
          test="variableFilter.valueOperations != null and !variableFilter.valueOperations.isEmpty()">
          <foreach collection="variableFilter.valueOperations" item="operation">
            AND
            <include refid="io.camunda.db.rdbms.sql.Commons.variableOperationCondition"/>
          </foreach>
        </if>
        )
      </foreach>
    </if>

    <!-- Error message filters -->
    <if test="filter.errorMessageOperations != null and !filter.errorMessageOperations.isEmpty()">
      <foreach collection="filter.errorMessageOperations" item="operation">
        AND EXISTS (
        SELECT 1
        FROM INCIDENT i
        WHERE i.PROCESS_INSTANCE_KEY = pi.PROCESS_INSTANCE_KEY
        AND i.ERROR_MESSAGE <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        )
      </foreach>
    </if>
  </sql>

  <resultMap id="searchResultMap" type="io.camunda.search.entities.ProcessInstanceEntity">
    <constructor>
      <idArg column="PROCESS_INSTANCE_KEY" javaType="java.lang.Long"/>
      <arg column="PROCESS_DEFINITION_ID" javaType="java.lang.String"/>
      <arg column="PROCESS_DEFINITION_NAME" javaType="java.lang.String"/>
      <arg column="PROCESS_DEFINITION_VERSION" javaType="java.lang.Integer"/>
      <arg column="PROCESS_DEFINITION_VERSION_TAG" javaType="java.lang.String"/>
      <arg column="PROCESS_DEFINITION_KEY" javaType="java.lang.Long"/>
      <arg column="PARENT_PROCESS_INSTANCE_KEY" javaType="java.lang.Long"/>
      <arg column="PARENT_ELEMENT_INSTANCE_KEY" javaType="java.lang.Long"/>
      <arg column="START_DATE" javaType="java.time.OffsetDateTime" />
      <arg column="END_DATE" javaType="java.time.OffsetDateTime" />
      <arg column="STATE" javaType="io.camunda.search.entities.ProcessInstanceEntity$ProcessInstanceState"/>
      <arg column="HAS_INCIDENT" javaType="java.lang.Boolean"/>
      <arg column="TENANT_ID" javaType="java.lang.String"/>
    </constructor>

  </resultMap>

  <insert
    id="insert"
    parameterType="io.camunda.db.rdbms.write.domain.ProcessInstanceDbModel"
    flushCache="true">
    INSERT INTO ${prefix}PROCESS_INSTANCE (PROCESS_INSTANCE_KEY, PROCESS_DEFINITION_ID, PROCESS_DEFINITION_KEY, STATE, START_DATE, END_DATE, TENANT_ID, PARENT_PROCESS_INSTANCE_KEY, PARENT_ELEMENT_INSTANCE_KEY,
                                           NUM_INCIDENTS, VERSION, PARTITION_ID, HISTORY_CLEANUP_DATE)
    VALUES (#{processInstanceKey}, #{processDefinitionId}, #{processDefinitionKey}, #{state}, #{startDate, jdbcType=TIMESTAMP}, #{endDate, jdbcType=TIMESTAMP}, #{tenantId}, #{parentProcessInstanceKey},
            #{parentElementInstanceKey}, #{numIncidents}, #{version}, #{partitionId}, #{historyCleanupDate, jdbcType=TIMESTAMP})
  </insert>

  <update
    id="update"
    parameterType="io.camunda.db.rdbms.write.domain.ProcessInstanceDbModel"
    flushCache="true">
    UPDATE PROCESS_INSTANCE
    SET PROCESS_DEFINITION_ID       = #{processDefinitionId},
        PROCESS_DEFINITION_KEY      = #{processDefinitionKey},
        STATE                       = #{state},
        START_DATE                  = #{startDate, jdbcType=TIMESTAMP},
        END_DATE                    = #{endDate, jdbcType=TIMESTAMP},
        TENANT_ID                   = #{tenantId},
        PARENT_PROCESS_INSTANCE_KEY = #{parentProcessInstanceKey},
        PARENT_ELEMENT_INSTANCE_KEY = #{parentElementInstanceKey},
        NUM_INCIDENTS               = #{numIncidents},
        VERSION                     = #{version},
        HISTORY_CLEANUP_DATE        = #{historyCleanupDate, jdbcType=TIMESTAMP}
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </update>

  <update
    id="updateStateAndEndDate"
    statementType="PREPARED"
    parameterType="io.camunda.db.rdbms.sql.ProcessInstanceMapper$EndProcessInstanceDto"
    flushCache="true">
    UPDATE ${prefix}PROCESS_INSTANCE p
    SET STATE    = #{state},
        END_DATE = #{endDate}
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </update>

  <update
    id="incrementIncidentCount"
    statementType="PREPARED"
    parameterType="java.lang.Long"
    flushCache="true">
    UPDATE ${prefix}PROCESS_INSTANCE
    SET NUM_INCIDENTS = NUM_INCIDENTS + 1
    WHERE PROCESS_INSTANCE_KEY = #{id}
  </update>

  <update
    id="decrementIncidentCount"
    statementType="PREPARED"
    parameterType="java.lang.Long"
    flushCache="true">
    UPDATE ${prefix}PROCESS_INSTANCE
    SET NUM_INCIDENTS = NUM_INCIDENTS - 1
    WHERE PROCESS_INSTANCE_KEY = #{id}
  </update>

  <update
    flushCache="true"
    id="updateHistoryCleanupDate"
    statementType="PREPARED">
    UPDATE ${prefix}PROCESS_INSTANCE SET
      HISTORY_CLEANUP_DATE = #{historyCleanupDate, jdbcType=TIMESTAMP}
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </update>

  <delete
    flushCache="true"
    id="cleanupHistory"
    statementType="PREPARED">
    <bind name="tableName" value="'PROCESS_INSTANCE'"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.historyCleanup"/>
  </delete>
</mapper>
