<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.ProcessDefinitionMapper">

  <select id="count" parameterType="io.camunda.db.rdbms.read.domain.ProcessDefinitionDbQuery">
    SELECT COUNT(*)
    FROM ${prefix}PROCESS_DEFINITION pi
    <include refid="io.camunda.db.rdbms.sql.ProcessDefinitionMapper.searchFilter"/>
  </select>

  <select id="search" parameterType="io.camunda.db.rdbms.read.domain.ProcessDefinitionDbQuery"
    resultMap="io.camunda.db.rdbms.sql.ProcessDefinitionMapper.searchResultMap">
    SELECT * FROM (
    SELECT PROCESS_DEFINITION_KEY,
    PROCESS_DEFINITION_ID,
    RESOURCE_NAME,
    BPMN_XML,
    NAME,
    TENANT_ID,
    VERSION_TAG,
    VERSION,
    FORM_ID
    FROM ${prefix}PROCESS_DEFINITION
    <include refid="io.camunda.db.rdbms.sql.ProcessDefinitionMapper.searchFilter"/>
    ) t
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.paging"/>
  </select>

  <sql id="searchFilter">
    WHERE 1 = 1
    <!-- basic filters -->
    <if test="filter.processDefinitionKeys != null and !filter.processDefinitionKeys.isEmpty()">
      AND PROCESS_DEFINITION_KEY IN
      <foreach collection="filter.processDefinitionKeys" item="value" open="(" separator=", "
        close=")">#{value}
      </foreach>
    </if>
    <if test="filter.processDefinitionIds != null and !filter.processDefinitionIds.isEmpty()">
      AND PROCESS_DEFINITION_ID IN
      <foreach collection="filter.processDefinitionIds" item="value" open="(" separator=", "
        close=")">#{value}
      </foreach>
    </if>
    <if test="filter.names != null and !filter.names.isEmpty()">
      AND name IN
      <foreach collection="filter.names" item="value" open="(" separator=", " close=")">#{value}
      </foreach>
    </if>
    <if test="filter.resourceNames != null and !filter.resourceNames.isEmpty()">
      AND RESOURCE_NAME IN
      <foreach collection="filter.resourceNames" item="value" open="(" separator=", " close=")">
        #{value}
      </foreach>
    </if>
    <if test="filter.versions != null and !filter.versions.isEmpty()">
      AND VERSION IN
      <foreach collection="filter.versions" item="value" open="(" separator=", " close=")">
        #{value}
      </foreach>
    </if>
    <if test="filter.versionTags != null and !filter.versionTags.isEmpty()">
      AND VERSION_TAG IN
      <foreach collection="filter.versionTags" item="value" open="(" separator=", " close=")">
        #{value}
      </foreach>
    </if>
    <if test="filter.tenantIds != null and !filter.tenantIds.isEmpty()">
      AND TENANT_ID IN
      <foreach collection="filter.tenantIds" item="value" open="(" separator=", " close=")">
        #{value}
      </foreach>
    </if>
  </sql>

  <resultMap id="searchResultMap" type="io.camunda.search.entities.ProcessDefinitionEntity">
    <constructor>
      <idArg column="PROCESS_DEFINITION_KEY" javaType="java.lang.Long"/>
      <arg column="NAME" javaType="java.lang.String"/>
      <arg column="PROCESS_DEFINITION_ID" javaType="java.lang.String"/>
      <arg column="BPMN_XML" javaType="java.lang.String"/>
      <arg column="RESOURCE_NAME" javaType="java.lang.String"/>
      <arg column="VERSION" javaType="java.lang.Integer"/>
      <arg column="VERSION_TAG" javaType="java.lang.String"/>
      <arg column="TENANT_ID" javaType="java.lang.String"/>
      <arg column="FORM_ID" javaType="java.lang.String"/>
    </constructor>
  </resultMap>

  <select id="flowNodeStatistics"
    parameterType="io.camunda.search.filter.ProcessDefinitionStatisticsFilter"
    resultMap="io.camunda.db.rdbms.sql.ProcessDefinitionMapper.flowNodeStatisticsResultMap">
    SELECT
      fni.FLOW_NODE_ID,
      SUM(CASE WHEN fni.STATE = 'ACTIVE' AND
                    fni.NUM_SUBPROCESS_INCIDENTS = 0 AND
                    fni.INCIDENT_KEY IS NULL THEN 1 ELSE 0 END)
        AS COUNT_ACTIVE,
      SUM(CASE WHEN fni.STATE = 'TERMINATED' THEN 1 ELSE 0 END)
        AS COUNT_CANCELED,
      SUM(CASE WHEN fni.STATE = 'COMPLETED' AND fni.TYPE = 'END_EVENT' THEN 1 ELSE 0 END)
        AS COUNT_COMPLETED,
      SUM(CASE WHEN fni.STATE = 'ACTIVE' AND
                    (fni.NUM_SUBPROCESS_INCIDENTS > 0 OR
                     fni.INCIDENT_KEY IS NOT NULL) THEN 1 ELSE 0 END)
        AS COUNT_INCIDENTS
    FROM ${prefix}PROCESS_DEFINITION pd
      JOIN ${prefix}PROCESS_INSTANCE pi ON (pd.PROCESS_DEFINITION_KEY = pi.PROCESS_DEFINITION_KEY)
      JOIN ${prefix}FLOW_NODE_INSTANCE fni ON (pi.PROCESS_INSTANCE_KEY = fni.PROCESS_INSTANCE_KEY)

    <bind name="filter" value="_parameter" />
    WHERE pd.PROCESS_DEFINITION_KEY = #{filter.processDefinitionKey}
      AND (fni.STATE != 'COMPLETED' OR fni.TYPE = 'END_EVENT')
    <!-- basic filters -->
    <if test="filter.processInstanceKeyOperations != null and !filter.processInstanceKeyOperations.isEmpty()">
      <foreach collection="filter.processInstanceKeyOperations" item="operation">
        AND pi.PROCESS_INSTANCE_KEY <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.parentProcessInstanceKeyOperations != null and !filter.parentProcessInstanceKeyOperations.isEmpty()">
      <foreach collection="filter.parentProcessInstanceKeyOperations" item="operation">
        AND pi.PARENT_PROCESS_INSTANCE_KEY <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.parentFlowNodeInstanceKeyOperations != null and !filter.parentFlowNodeInstanceKeyOperations.isEmpty()">
      <foreach collection="filter.parentFlowNodeInstanceKeyOperations" item="operation">
        AND pi.PARENT_ELEMENT_INSTANCE_KEY <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.stateOperations != null and !filter.stateOperations.isEmpty()">
      <foreach collection="filter.stateOperations" item="operation">
        AND pi.STATE <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.tenantIdOperations != null and !filter.tenantIdOperations.isEmpty()">
      <foreach collection="filter.tenantIdOperations" item="operation">
        AND pi.TENANT_ID <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.hasIncident != null">
      <if test="filter.hasIncident == true">
        AND pi.NUM_INCIDENTS > 0
      </if>
      <if test="filter.hasIncident == false">
        AND pi.NUM_INCIDENTS = 0
      </if>
    </if>

    <!-- date filters -->
    <if test="filter.startDateOperations != null and !filter.startDateOperations.isEmpty()">
      <foreach collection="filter.startDateOperations" item="operation">
        AND pi.START_DATE <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>
    <if test="filter.endDateOperations != null and !filter.endDateOperations.isEmpty()">
      <foreach collection="filter.endDateOperations" item="operation">
        AND pi.END_DATE <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
      </foreach>
    </if>

    <!-- Variable filters -->
    <if test="filter.variableFilters != null and !filter.variableFilters.isEmpty()">
      <foreach collection="filter.variableFilters" item="variableFilter"
        open="AND (" separator=" OR " close=")">
        EXISTS (
        SELECT 1
        FROM ${prefix}VARIABLE v
        WHERE v.PROCESS_INSTANCE_KEY = pi.PROCESS_INSTANCE_KEY
        AND v.VAR_NAME = #{variableFilter.name}
        <if
          test="variableFilter.valueOperations != null and !variableFilter.valueOperations.isEmpty()">
          <foreach collection="variableFilter.valueOperations" item="operation">
            AND
            <include refid="io.camunda.db.rdbms.sql.Commons.variableOperationCondition"/>
          </foreach>
        </if>
        )
      </foreach>
    </if>

    GROUP BY fni.FLOW_NODE_ID
  </select>

  <resultMap id="flowNodeStatisticsResultMap"
    type="io.camunda.search.entities.ProcessDefinitionFlowNodeStatisticsEntity">
    <constructor>
      <idArg column="FLOW_NODE_ID" javaType="java.lang.String"/>
      <arg column="COUNT_ACTIVE" javaType="java.lang.Long"/>
      <arg column="COUNT_CANCELED" javaType="java.lang.Long"/>
      <arg column="COUNT_INCIDENTS" javaType="java.lang.Long"/>
      <arg column="COUNT_COMPLETED" javaType="java.lang.Long"/>
    </constructor>
  </resultMap>

  <insert
    id="insert"
    parameterType="io.camunda.db.rdbms.write.domain.ProcessDefinitionDbModel"
    flushCache="true">
    INSERT INTO ${prefix}PROCESS_DEFINITION (PROCESS_DEFINITION_KEY, PROCESS_DEFINITION_ID, RESOURCE_NAME,
                                    BPMN_XML, NAME, TENANT_ID, VERSION_TAG, VERSION, FORM_ID)
    VALUES (#{processDefinitionKey}, #{processDefinitionId}, #{resourceName}, #{bpmnXml}, #{name},
            #{tenantId}, #{versionTag}, #{version}, #{formId})
  </insert>
</mapper>
