<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.ProcessInstanceMapper">
  <select id="findOne" parameterType="java.lang.Long"
    resultType="io.camunda.db.rdbms.domain.ProcessInstanceModel">
    SELECT PROCESS_INSTANCE_KEY,
           BPMN_PROCESS_ID,
           PROCESS_DEFINITION_KEY,
           STATE,
           START_DATE,
           END_DATE,
           TENANT_ID,
           PARENT_PROCESS_INSTANCE_KEY,
           PARENT_ELEMENT_INSTANCE_KEY,
           ELEMENT_ID,
           VERSION
    FROM PROCESS_INSTANCE
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </select>

  <select id="count">
    SELECT COUNT(*)
    FROM PROCESS_INSTANCE pi
    <include refid="io.camunda.db.rdbms.sql.ProcessInstanceMapper.searchFilter" />
  </select>

  <select id="search" parameterType="io.camunda.db.rdbms.domain.ProcessInstanceFilter"
    resultType="io.camunda.db.rdbms.domain.ProcessInstanceModel">
    SELECT pi.PROCESS_INSTANCE_KEY,
    pi.BPMN_PROCESS_ID,
    pi.PROCESS_DEFINITION_KEY,
    pi.STATE,
    pi.START_DATE,
    pi.END_DATE,
    pi.TENANT_ID,
    pi.PARENT_PROCESS_INSTANCE_KEY,
    pi.PARENT_ELEMENT_INSTANCE_KEY,
    pi.ELEMENT_ID,
    pi.VERSION
    FROM PROCESS_INSTANCE pi
    <include refid="io.camunda.db.rdbms.sql.ProcessInstanceMapper.searchFilter" />
  </select>

  <sql id="searchFilter">
    WHERE 1 = 1
    <if test="bpmnProcessId != null">
      AND BPMN_PROCESS_ID = #{bpmnProcessId}
    </if>
    <if test="variable != null">
      AND pi.PROCESS_INSTANCE_KEY IN (SELECT v.PROCESS_INSTANCE_KEY FROM VARIABLE v WHERE v.VAR_NAME = #{variable.name} AND v.VAR_VALUE IN
      <foreach collection="variable.values" item="variableValue" open="(" separator=", " close=")">
        CAST(#{variableValue} as VARCHAR)
      </foreach>
      )
    </if>
  </sql>

  <insert
    id="insert"
    parameterType="io.camunda.db.rdbms.domain.ProcessInstanceModel"
    flushCache="true">
    INSERT INTO PROCESS_INSTANCE (PROCESS_INSTANCE_KEY, BPMN_PROCESS_ID, PROCESS_DEFINITION_KEY, STATE, START_DATE, END_DATE, TENANT_ID, PARENT_PROCESS_INSTANCE_KEY, PARENT_ELEMENT_INSTANCE_KEY,
                                  VERSION)
    VALUES (#{processInstanceKey}, #{bpmnProcessId}, #{processDefinitionKey}, #{state}, #{startDate}, #{endDate}, #{tenantId}, #{parentProcessInstanceKey}, #{parentElementInstanceKey}, #{version})
  </insert>

  <update
    id="update"
    statementType="PREPARED"
    parameterType="io.camunda.db.rdbms.domain.ProcessInstanceModel"
    flushCache="true"
    timeout="20">
    UPDATE PROCESS_INSTANCE p
    SET STATE    = #{state},
        END_DATE = #{endDate}
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </update>

  <update
    id="updateCurrentElementId"
    statementType="PREPARED"
    parameterType="hashMap"
    flushCache="true"
    timeout="20">
    UPDATE PROCESS_INSTANCE p
    SET ELEMENT_ID = #{elementId}
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </update>
</mapper>
