<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.RoleMapper">

  <select id="count" parameterType="io.camunda.db.rdbms.read.domain.RoleDbQuery">
    SELECT COUNT(*) FROM (
      SELECT 1 as col
      FROM ${prefix}ROLES r
      <include refid="io.camunda.db.rdbms.sql.RoleMapper.searchFilter"/>
      ${count.limit}
    ) t
  </select>

  <select id="countMembers" parameterType="io.camunda.db.rdbms.read.domain.RoleMemberDbQuery">
    SELECT COUNT(*) FROM (
      SELECT 1 as col
      FROM ${prefix}ROLE_MEMBER rm
      JOIN ${prefix}ROLES r ON r.ROLE_ID = rm.ROLE_ID
      <include refid="io.camunda.db.rdbms.sql.RoleMapper.searchMemberFilter"/>
      ${count.limit}
    ) t
  </select>

  <select id="search" parameterType="io.camunda.db.rdbms.read.domain.RoleDbQuery"
    resultMap="io.camunda.db.rdbms.sql.RoleMapper.roleResultMap">
SELECT
    t.ROLE_ID,
    t.ROLE_KEY,
    t.NAME,
    t.DESCRIPTION,
    rm.ROLE_ID AS MEMBER_ROLE_ID,
    rm.ENTITY_ID AS MEMBER_ENTITY_ID,
    rm.ENTITY_TYPE AS MEMBER_ENTITY_TYPE
FROM (
    SELECT * FROM (
    SELECT
    r.ROLE_ID,
    r.ROLE_KEY,
    r.NAME,
    r.DESCRIPTION
    FROM ${prefix}ROLES r
    <include refid="io.camunda.db.rdbms.sql.RoleMapper.searchFilter"/>
    ) t
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.paging"/>
             ) t
    LEFT JOIN ${prefix}ROLE_MEMBER rm ON t.ROLE_ID = rm.ROLE_ID
    <if test="filter.childMemberType != null">
      AND rm.ENTITY_TYPE = #{filter.childMemberType}
    </if>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
  </select>

  <select id="searchMembers" parameterType="io.camunda.db.rdbms.read.domain.RoleMemberDbQuery"
    resultMap="io.camunda.db.rdbms.sql.RoleMapper.roleMemberResultMap">
    SELECT * FROM (
    SELECT
    r.ROLE_ID,
    r.ROLE_KEY,
    r.NAME,
    r.DESCRIPTION,
    rm.ENTITY_ID,
    rm.ENTITY_TYPE
    FROM ${prefix}ROLE_MEMBER rm
    JOIN ${prefix}ROLES r ON r.ROLE_ID = rm.ROLE_ID
    <include refid="io.camunda.db.rdbms.sql.RoleMapper.searchMemberFilter"/>
    ) t
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.paging"/>
  </select>


  <sql id="searchFilter">
    <where>
      <if test="filter.roleId != null">AND r.ROLE_ID = #{filter.roleId}</if>
      <if test="filter.name != null">AND r.NAME = #{filter.name}</if>
      <if test="filter.description != null">AND r.DESCRIPTION = #{filter.description}</if>
      <if
        test="filter.memberIds != null and !filter.memberIds.isEmpty() and filter.childMemberType != null">
        AND r.ROLE_ID IN ( SELECT rmf.ROLE_ID FROM ${prefix}ROLE_MEMBER rmf
        WHERE
        rmf.ENTITY_TYPE = #{filter.childMemberType}
        AND rmf.ENTITY_ID IN
        <foreach collection="filter.memberIds" item="memberId" open="(" separator="," close=")">
          #{memberId}
        </foreach>
        )
      </if>
      <if test="filter.memberIdsByType != null and !filter.memberIdsByType.isEmpty()">
        AND r.ROLE_ID IN ( SELECT rmt.ROLE_ID FROM ${prefix}ROLE_MEMBER rmt
        WHERE 1=1
        <foreach collection="filter.memberIdsByType" index="memberType" item="values" open="AND ("
          separator=" OR " close=")">
          <if test="values != null and !values.isEmpty()">
            rmt.ENTITY_TYPE = #{memberType} AND rmt.ENTITY_ID IN
            <foreach collection="values" item="value" open="(" separator=" , " close=")">
              #{value}
            </foreach>
          </if>
        </foreach>
        )
      </if>
      <if test="filter.tenantId != null">
        AND r.ROLE_ID IN ( SELECT tm.ENTITY_ID FROM ${prefix}TENANT_MEMBER tm
        WHERE tm.ENTITY_TYPE = 'ROLE'
        AND tm.TENANT_ID = #{filter.tenantId})
      </if>
      <if test="authorizedResourceIds != null and !authorizedResourceIds.isEmpty()">
        AND r.ROLE_ID IN
        <foreach collection="authorizedResourceIds" item="resourceId" open="(" separator=","
          close=")">
          #{resourceId}
        </foreach>
      </if>
    </where>
  </sql>

  <sql id="searchMemberFilter">
    <where>
      <if test="filter.roleId != null">
        AND r.ROLE_ID = #{filter.roleId}
      </if>

      <if test="filter.memberType != null">
        AND rm.ENTITY_TYPE = #{filter.memberType}
      </if>
    </where>
  </sql>

  <resultMap id="roleResultMap" type="io.camunda.db.rdbms.write.domain.RoleDbModel">
    <id column="ROLE_ID" property="roleId"/>
    <result column="ROLE_KEY" property="roleKey"/>
    <result column="NAME" property="name"/>
    <result column="DESCRIPTION" property="description"/>
    <collection property="members" ofType="io.camunda.db.rdbms.write.domain.RoleMemberDbModel"
      javaType="java.util.List">
      <constructor>
        <idArg column="MEMBER_ROLE_ID" javaType="java.lang.String"/>
        <idArg column="MEMBER_ENTITY_ID" javaType="java.lang.String"/>
        <arg column="MEMBER_ENTITY_TYPE" javaType="java.lang.String"/>
      </constructor>
    </collection>
  </resultMap>

  <resultMap id="roleMemberResultMap" type="io.camunda.db.rdbms.write.domain.RoleMemberDbModel">
    <constructor>
      <idArg column="ROLE_ID" javaType="java.lang.String"/>
      <arg column="ENTITY_ID" javaType="java.lang.String"/>
      <arg column="ENTITY_TYPE" javaType="java.lang.String"/>
    </constructor>
  </resultMap>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.RoleDbModel">
    INSERT INTO ${prefix}ROLES (ROLE_KEY, ROLE_ID, NAME, DESCRIPTION)
    VALUES (#{roleKey}, #{roleId}, #{name}, #{description})
  </insert>

  <update id="update" parameterType="io.camunda.db.rdbms.write.domain.RoleDbModel">
    UPDATE ${prefix}ROLES
    SET NAME        = #{name},
        DESCRIPTION = #{description}
    WHERE ROLE_ID = #{roleId}
  </update>

  <delete id="delete" parameterType="java.lang.String">
    DELETE
    FROM ${prefix}ROLES
    WHERE ROLE_ID = #{roleId}
  </delete>

  <insert id="insertMember" parameterType="io.camunda.db.rdbms.write.domain.RoleMemberDbModel">
    INSERT INTO ${prefix}ROLE_MEMBER (ROLE_ID, ENTITY_ID, ENTITY_TYPE)
    VALUES (#{roleId}, #{entityId}, #{entityType})
  </insert>

  <delete id="deleteMember" parameterType="io.camunda.db.rdbms.write.domain.RoleMemberDbModel">
    DELETE
    FROM ${prefix}ROLE_MEMBER
    WHERE ROLE_ID = #{roleId}
      AND ENTITY_ID = #{entityId}
      AND ENTITY_TYPE = #{entityType}
  </delete>

</mapper>
