<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.camunda.db.rdbms.sql.SequenceFlowMapper">

  <resultMap id="SequenceFlowResultMap"
    type="io.camunda.db.rdbms.write.domain.SequenceFlowDbModel">
    <result column="FLOW_NODE_ID" property="flowNodeId" />
    <result column="PROCESS_INSTANCE_KEY" property="processInstanceKey" />
    <result column="PROCESS_DEFINITION_KEY" property="processDefinitionKey" />
    <result column="PROCESS_DEFINITION_ID" property="processDefinitionId" />
    <result column="TENANT_ID" property="tenantId" />
  </resultMap>

  <select id="search"
    parameterType="io.camunda.search.query.SequenceFlowQuery"
    resultMap="SequenceFlowResultMap">
    SELECT distinct
      sf.FLOW_NODE_ID,
      sf.PROCESS_INSTANCE_KEY,
      sf.PROCESS_DEFINITION_KEY,
      sf.PROCESS_DEFINITION_ID,
      sf.TENANT_ID
    FROM ${prefix}SEQUENCE_FLOW sf
    WHERE sf.PROCESS_INSTANCE_KEY = #{filter.processInstanceKey}
  </select>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.SequenceFlowDbModel">
    INSERT INTO ${prefix}SEQUENCE_FLOW (FLOW_NODE_ID,
                                        PROCESS_INSTANCE_KEY,
                                        PROCESS_DEFINITION_KEY,
                                        PROCESS_DEFINITION_ID,
                                        TENANT_ID,
                                        PARTITION_ID,
                                        HISTORY_CLEANUP_DATE)
    VALUES (#{flowNodeId},
            #{processInstanceKey},
            #{processDefinitionKey},
            #{processDefinitionId},
            #{tenantId},
            #{partitionId},
            #{historyCleanupDate, jdbcType=TIMESTAMP})
  </insert>

  <insert id="createIfNotExists"
    parameterType="io.camunda.db.rdbms.write.domain.SequenceFlowDbModel" databaseId="postgresql">
    INSERT INTO ${prefix}SEQUENCE_FLOW (FLOW_NODE_ID,
                                        PROCESS_INSTANCE_KEY,
                                        PROCESS_DEFINITION_KEY,
                                        PROCESS_DEFINITION_ID,
                                        TENANT_ID,
                                        PARTITION_ID,
                                        HISTORY_CLEANUP_DATE)
    VALUES (#{flowNodeId},
            #{processInstanceKey},
            #{processDefinitionKey},
            #{processDefinitionId},
            #{tenantId},
            #{partitionId},
            #{historyCleanupDate, jdbcType=TIMESTAMP})
    ON CONFLICT DO NOTHING
  </insert>

  <insert id="createIfNotExists"
    parameterType="io.camunda.db.rdbms.write.domain.SequenceFlowDbModel" databaseId="mariadb">
    INSERT INTO ${prefix}SEQUENCE_FLOW (FLOW_NODE_ID,
                                        PROCESS_INSTANCE_KEY,
                                        PROCESS_DEFINITION_KEY,
                                        PROCESS_DEFINITION_ID,
                                        TENANT_ID,
                                        PARTITION_ID,
                                        HISTORY_CLEANUP_DATE)
    VALUES (#{flowNodeId},
            #{processInstanceKey},
            #{processDefinitionKey},
            #{processDefinitionId},
            #{tenantId},
            #{partitionId},
            #{historyCleanupDate, jdbcType=TIMESTAMP})
    ON DUPLICATE KEY UPDATE FLOW_NODE_ID = FLOW_NODE_ID -- this will not trigger an update
  </insert>

  <insert id="createIfNotExists"
    parameterType="io.camunda.db.rdbms.write.domain.SequenceFlowDbModel" databaseId="h2">
    MERGE INTO ${prefix}SEQUENCE_FLOW sf
      USING dual
      ON (sf.FLOW_NODE_ID = #{flowNodeId} AND sf.PROCESS_INSTANCE_KEY = #{processInstanceKey})
    WHEN NOT MATCHED THEN
    INSERT (FLOW_NODE_ID,
            PROCESS_INSTANCE_KEY,
            PROCESS_DEFINITION_KEY,
            PROCESS_DEFINITION_ID,
            TENANT_ID,
            PARTITION_ID,
            HISTORY_CLEANUP_DATE)
    VALUES (#{flowNodeId},
            #{processInstanceKey},
            #{processDefinitionKey},
            #{processDefinitionId},
            #{tenantId},
            #{partitionId},
            #{historyCleanupDate, jdbcType=TIMESTAMP})
  </insert>

  <insert id="createIfNotExists"
    parameterType="io.camunda.db.rdbms.write.domain.SequenceFlowDbModel" databaseId="oracle">
    MERGE INTO ${prefix}SEQUENCE_FLOW sf
      USING dual
      ON (sf.FLOW_NODE_ID = #{flowNodeId} AND sf.PROCESS_INSTANCE_KEY = #{processInstanceKey})
    WHEN NOT MATCHED THEN
    INSERT (FLOW_NODE_ID,
            PROCESS_INSTANCE_KEY,
            PROCESS_DEFINITION_KEY,
            PROCESS_DEFINITION_ID,
            TENANT_ID,
            PARTITION_ID,
            HISTORY_CLEANUP_DATE)
    VALUES (#{flowNodeId},
            #{processInstanceKey},
            #{processDefinitionKey},
            #{processDefinitionId},
            #{tenantId},
            #{partitionId},
            #{historyCleanupDate, jdbcType=TIMESTAMP})
  </insert>

  <update id="updateHistoryCleanupDate">
    UPDATE ${prefix}SEQUENCE_FLOW
    SET HISTORY_CLEANUP_DATE = #{historyCleanupDate, jdbcType=TIMESTAMP}
    WHERE PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </update>

  <delete id="cleanupHistory">
    <bind name="tableName" value="'SEQUENCE_FLOW'"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.historyCleanup"/>
  </delete>

  <delete id="delete" parameterType="io.camunda.db.rdbms.write.domain.SequenceFlowDbModel">
    DELETE FROM ${prefix}SEQUENCE_FLOW
    WHERE FLOW_NODE_ID = #{flowNodeId}
      AND PROCESS_INSTANCE_KEY = #{processInstanceKey}
  </delete>

</mapper>
