<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.TableMetricsMapper">

  <resultMap id="tableRowCountResultMap" type="io.camunda.db.rdbms.sql.TableMetricsMapper$TableRowCount">
    <constructor>
      <idArg column="TABLE_NAME" javaType="java.lang.String" name="tableName"/>
      <arg column="ROW_COUNT" javaType="java.lang.Long" name="rowCount"/>
    </constructor>
  </resultMap>

  <select id="countTableRows" resultMap="tableRowCountResultMap" databaseId="postgresql">
    SELECT c.relname AS TABLE_NAME, COALESCE(c.reltuples::BIGINT, -1) AS ROW_COUNT
    FROM pg_class c
           JOIN pg_namespace n ON n.oid = c.relnamespace
    WHERE n.nspname = CURRENT_SCHEMA()
      AND c.relkind = 'r'
      AND c.relname IN
      <foreach item="t" collection="tableNames" open="(" separator="," close=")">#{t}</foreach>
  </select>

  <select id="countTableRows" resultMap="tableRowCountResultMap" databaseId="oracle">
    SELECT table_name AS TABLE_NAME, NVL(num_rows, -1) AS ROW_COUNT
    FROM user_tables
    WHERE table_name IN
    <foreach item="t" collection="tableNames" open="(" separator="," close=")">#{t}</foreach>
  </select>

  <select id="countTableRows" resultMap="tableRowCountResultMap" databaseId="mariadb">
    SELECT UPPER(table_name) AS TABLE_NAME, IFNULL(table_rows, -1) AS ROW_COUNT
    FROM information_schema.tables
    WHERE table_schema = DATABASE()
      AND table_name IN
      <foreach item="t" collection="tableNames" open="(" separator="," close=")">#{t}</foreach>
  </select>

  <select id="countTableRows" resultMap="tableRowCountResultMap" databaseId="mysql">
    SELECT UPPER(table_name) AS TABLE_NAME, IFNULL(table_rows, -1) AS ROW_COUNT
    FROM information_schema.tables
    WHERE table_schema = DATABASE()
      AND table_name IN
      <foreach item="t" collection="tableNames" open="(" separator="," close=")">#{t}</foreach>
  </select>

  <select id="countTableRows" resultMap="tableRowCountResultMap" databaseId="mssql">
    SELECT t.name AS TABLE_NAME, ISNULL(SUM(p.rows), -1) AS ROW_COUNT
    FROM sys.tables t
           INNER JOIN sys.partitions p ON t.object_id = p.object_id
    WHERE t.schema_id = SCHEMA_ID()
      AND p.index_id IN (0, 1)
      AND t.name IN
      <foreach item="t" collection="tableNames" open="(" separator="," close=")">#{t}</foreach>
    GROUP BY t.object_id, t.name
  </select>
  
  <select id="countSingleTableRows" resultType="long">
    SELECT COUNT(*) FROM ${tableName}
  </select>

</mapper>
