<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.VariableMapper">

  <select id="count" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM ${prefix}VARIABLE
    <include refid="io.camunda.db.rdbms.sql.VariableMapper.searchFilter"/>
  </select>

  <!-- default search statement for databases supporting LIMIT/OFFSET-->
  <select id="search" parameterType="io.camunda.db.rdbms.read.domain.VariableDbQuery"
    resultMap="io.camunda.db.rdbms.sql.VariableMapper.searchResultMap">
    SELECT * FROM (
    SELECT
      VAR_KEY,
      PROCESS_INSTANCE_KEY,
      ROOT_PROCESS_INSTANCE_KEY,
      SCOPE_KEY,
      VAR_NAME,
      VAR_VALUE,
      VAR_FULL_VALUE,
      TENANT_ID,
      IS_PREVIEW,
      PROCESS_DEFINITION_ID
    FROM ${prefix}VARIABLE
      <include refid="io.camunda.db.rdbms.sql.VariableMapper.searchFilter"/>
      ) t
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.paging"/>
  </select>

  <sql id="searchFilter">
    <where>
      <!-- authorization filters -->
      <if test="authorizedResourceIds != null and !authorizedResourceIds.isEmpty()">
        AND PROCESS_DEFINITION_ID IN
        <foreach collection="authorizedResourceIds" item="resourceId" open="(" separator=","
          close=")">
          #{resourceId}
        </foreach>
      </if>
      <if test="authorizedTenantIds != null and !authorizedTenantIds.isEmpty()">
        AND TENANT_ID IN
        <foreach collection="authorizedTenantIds" item="tenantId" open="(" separator="," close=")">
          #{tenantId}
        </foreach>
      </if>

      <!-- basic filters -->
      <if
        test="filter.processInstanceKeyOperations != null and !filter.processInstanceKeyOperations.isEmpty()">
        <foreach collection="filter.processInstanceKeyOperations" item="operation">
          AND PROCESS_INSTANCE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.scopeKeyOperations != null and !filter.scopeKeyOperations.isEmpty()">
        <foreach collection="filter.scopeKeyOperations" item="operation">
          AND SCOPE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.variableKeyOperations != null and !filter.variableKeyOperations.isEmpty()">
        <foreach collection="filter.variableKeyOperations" item="operation">
          AND VAR_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.tenantIds != null and !filter.tenantIds.isEmpty()">
        AND TENANT_ID IN
        <foreach collection="filter.tenantIds" item="value" open="(" separator=", " close=")">
          #{value}
        </foreach>
      </if>
      <if test="filter.nameOperations != null and !filter.nameOperations.isEmpty()">
        <foreach collection="filter.nameOperations" item="operation">
          AND VAR_NAME
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.isTruncated != null">
        AND IS_PREVIEW = #{filter.isTruncated}
      </if>
      <!-- advanced filters on variable name / values -->
      <if test="filter.valueOperations != null and !filter.valueOperations.isEmpty()">
        <foreach collection="filter.valueOperations" item="operation">
          AND
          <include refid="io.camunda.db.rdbms.sql.Commons.variableOperationCondition"/>
        </foreach>
      </if>
    </where>
  </sql>

  <sql id="variableSortMapper">
    <choose>
      <when test='item.field == "value"'>
        VAR_VALUE
      </when>
      <when test='item.field == "name"'>
        VAR_NAME
      </when>
      <when test='item.field == "tenantId"'>
        TENANT_ID
      </when>
      <when test='item.field == "key"'>
        VAR_KEY
      </when>
      <when test='item.field == "scopeKey"'>
        SCOPE_KEY
      </when>
      <when test='item.field == "processInstanceKey"'>
        PROCESS_INSTANCE_KEY
      </when>
    </choose>
  </sql>

  <resultMap id="searchResultMap" type="io.camunda.search.entities.VariableEntity">
    <constructor>
      <idArg column="VAR_KEY" javaType="java.lang.Long"/>
      <arg column="VAR_NAME" javaType="java.lang.String"/>
      <arg column="VAR_VALUE" javaType="java.lang.String"/>
      <arg column="VAR_FULL_VALUE" javaType="java.lang.String"/>
      <arg column="IS_PREVIEW" javaType="java.lang.Boolean"/>
      <arg column="SCOPE_KEY" javaType="java.lang.Long"/>
      <arg column="PROCESS_INSTANCE_KEY" javaType="java.lang.Long"/>
      <arg column="ROOT_PROCESS_INSTANCE_KEY" javaType="java.lang.Long"/>
      <arg column="PROCESS_DEFINITION_ID" javaType="java.lang.String"/>
      <arg column="TENANT_ID" javaType="java.lang.String"/>
    </constructor>
  </resultMap>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.queue.BatchInsertDto">
    INSERT INTO ${prefix}VARIABLE (VAR_KEY, PROCESS_INSTANCE_KEY, ROOT_PROCESS_INSTANCE_KEY, PROCESS_DEFINITION_ID, SCOPE_KEY, TYPE, VAR_NAME, DOUBLE_VALUE,
                                   LONG_VALUE, VAR_VALUE, VAR_FULL_VALUE, TENANT_ID, IS_PREVIEW,
                                   PARTITION_ID, ELEMENT_INSTANCE_KEY)
    VALUES
    <foreach collection="dbModels" item="variable" separator=",">
      (#{variable.variableKey}, #{variable.processInstanceKey}, #{variable.rootProcessInstanceKey}, #{variable.processDefinitionId}, #{variable.scopeKey}, #{variable.type}, #{variable.name}, #{variable.doubleValue, jdbcType=DOUBLE},
       #{variable.longValue, jdbcType=NUMERIC}, #{variable.value}, #{variable.fullValue}, #{variable.tenantId}, #{variable.isPreview}, #{variable.partitionId}, #{variable.elementInstanceKey})
    </foreach>
  </insert>

  <update id="update" parameterType="io.camunda.db.rdbms.write.domain.VariableDbModel">
      UPDATE ${prefix}VARIABLE
      SET TYPE         = #{type},
          DOUBLE_VALUE = #{doubleValue, jdbcType=DOUBLE},
          LONG_VALUE   = #{longValue, jdbcType=NUMERIC},
          VAR_VALUE  = #{value},
          VAR_FULL_VALUE = #{fullValue},
          IS_PREVIEW     = #{isPreview}
      WHERE VAR_KEY = #{variableKey}
  </update>

  <delete id="deleteRootProcessInstanceRelatedData">
    <bind name="tableName" value="'VARIABLE'"/>
    <bind name="primaryKeyColumn" value="'VAR_KEY'"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.rootProcessInstanceHistoryDeletion"/>
  </delete>

  <delete id="deleteProcessInstanceRelatedData">
    <bind name="tableName" value="'VARIABLE'"/>
    <bind name="primaryKeyColumn" value="'VAR_KEY'"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.processInstanceHistoryDeletion"/>
  </delete>

  <update id="migrateToProcess" parameterType="java.util.Map">
      UPDATE ${prefix}VARIABLE
      SET PROCESS_DEFINITION_ID = #{processDefinitionId}
      WHERE VAR_KEY = #{variableKey}
  </update>
</mapper>
