<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.WaitStateMapper">

  <resultMap id="waitStateResultMap" type="io.camunda.db.rdbms.write.domain.WaitStateDbModel">
    <constructor>
      <idArg column="WAIT_STATE_KEY" javaType="java.lang.Long"/>
      <arg column="ROOT_PROCESS_INSTANCE_KEY" javaType="java.lang.Long"/>
      <arg column="PROCESS_INSTANCE_KEY" javaType="java.lang.Long"/>
      <arg column="ELEMENT_INSTANCE_KEY" javaType="java.lang.Long"/>
      <arg column="ELEMENT_ID" javaType="java.lang.String"/>
      <arg column="ELEMENT_TYPE" javaType="java.lang.String"/>
      <arg column="WAIT_STATE_TYPE" javaType="java.lang.String"/>
      <arg column="DETAILS" javaType="java.lang.String"/>
      <arg column="TENANT_ID" javaType="java.lang.String"/>
      <arg column="PARTITION_ID" javaType="java.lang.Integer"/>
    </constructor>
  </resultMap>

  <select id="findOne" parameterType="java.lang.Long"
    resultMap="io.camunda.db.rdbms.sql.WaitStateMapper.waitStateResultMap">
    SELECT WAIT_STATE_KEY, ROOT_PROCESS_INSTANCE_KEY, PROCESS_INSTANCE_KEY, ELEMENT_INSTANCE_KEY,
           ELEMENT_ID, ELEMENT_TYPE, WAIT_STATE_TYPE, DETAILS, TENANT_ID, PARTITION_ID
    FROM ${prefix}WAIT_STATE
    WHERE WAIT_STATE_KEY = #{waitStateKey}
  </select>

  <select id="count" resultType="java.lang.Long"
    parameterType="io.camunda.db.rdbms.read.domain.WaitStateDbQuery">
    SELECT COUNT(*) FROM (
      SELECT 1 as col
      FROM ${prefix}WAIT_STATE
      <include refid="io.camunda.db.rdbms.sql.WaitStateMapper.searchFilter"/>
      ${count.limit}
    ) t
  </select>

  <select id="search" parameterType="io.camunda.db.rdbms.read.domain.WaitStateDbQuery"
    resultMap="io.camunda.db.rdbms.sql.WaitStateMapper.waitStateResultMap">
    SELECT * FROM (
    SELECT
      WAIT_STATE_KEY,
      ROOT_PROCESS_INSTANCE_KEY,
      PROCESS_INSTANCE_KEY,
      ELEMENT_INSTANCE_KEY,
      ELEMENT_ID,
      ELEMENT_TYPE,
      WAIT_STATE_TYPE,
      DETAILS,
      TENANT_ID,
      PARTITION_ID
    FROM ${prefix}WAIT_STATE
    <include refid="io.camunda.db.rdbms.sql.WaitStateMapper.searchFilter"/>
    ) t
    <include refid="io.camunda.db.rdbms.sql.Commons.keySetPageFilter"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.orderBy"/>
    <include refid="io.camunda.db.rdbms.sql.Commons.paging"/>
  </select>

  <sql id="searchFilter">
    <where>
      <if test="authorizedTenantIds != null and !authorizedTenantIds.isEmpty()">
        AND TENANT_ID IN
        <foreach collection="authorizedTenantIds" item="tenantId" open="(" separator="," close=")">
          #{tenantId}
        </foreach>
      </if>
      <if test="filter.elementInstanceKeyOperations != null and !filter.elementInstanceKeyOperations.isEmpty()">
        <foreach collection="filter.elementInstanceKeyOperations" item="operation">
          AND ELEMENT_INSTANCE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.processInstanceKeyOperations != null and !filter.processInstanceKeyOperations.isEmpty()">
        <foreach collection="filter.processInstanceKeyOperations" item="operation">
          AND PROCESS_INSTANCE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.rootProcessInstanceKeyOperations != null and !filter.rootProcessInstanceKeyOperations.isEmpty()">
        <foreach collection="filter.rootProcessInstanceKeyOperations" item="operation">
          AND ROOT_PROCESS_INSTANCE_KEY
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.elementIdOperations != null and !filter.elementIdOperations.isEmpty()">
        <foreach collection="filter.elementIdOperations" item="operation">
          AND ELEMENT_ID
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.elementTypeOperations != null and !filter.elementTypeOperations.isEmpty()">
        <foreach collection="filter.elementTypeOperations" item="operation">
          AND ELEMENT_TYPE
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
      <if test="filter.waitStateTypeOperations != null and !filter.waitStateTypeOperations.isEmpty()">
        <foreach collection="filter.waitStateTypeOperations" item="operation">
          AND WAIT_STATE_TYPE
          <include refid="io.camunda.db.rdbms.sql.Commons.operationCondition"/>
        </foreach>
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="io.camunda.db.rdbms.write.domain.WaitStateDbModel">
    INSERT INTO ${prefix}WAIT_STATE (WAIT_STATE_KEY, ROOT_PROCESS_INSTANCE_KEY, PROCESS_INSTANCE_KEY,
                                     ELEMENT_INSTANCE_KEY, ELEMENT_ID, ELEMENT_TYPE, WAIT_STATE_TYPE,
                                     DETAILS, TENANT_ID, PARTITION_ID)
    VALUES (#{waitStateKey}, #{rootProcessInstanceKey}, #{processInstanceKey},
            #{elementInstanceKey}, #{elementId}, #{elementType}, #{waitStateType},
            #{details, jdbcType=CLOB}, #{tenantId}, #{partitionId})
  </insert>

  <update id="update" parameterType="io.camunda.db.rdbms.write.domain.WaitStateDbModel">
    UPDATE ${prefix}WAIT_STATE
    SET ELEMENT_INSTANCE_KEY = #{elementInstanceKey},
        ELEMENT_ID           = #{elementId},
        ELEMENT_TYPE         = #{elementType},
        DETAILS              = #{details, jdbcType=CLOB}
    WHERE WAIT_STATE_KEY = #{waitStateKey}
  </update>

  <delete id="delete" parameterType="java.lang.Long">
    DELETE
    FROM ${prefix}WAIT_STATE
    WHERE WAIT_STATE_KEY = #{waitStateKey}
  </delete>

</mapper>
