.Tag {
  padding-left: 9px;
  font-size: 0.875em;
  white-space: nowrap;
  border-radius: 11px;
  color: var(--grey-lighten-50);
  background-color: var(--silver-darken-87);

  .tagText {
    max-width: 220px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 1px;
  }

  &.invalid {
    background-color: var(--red-lighten-85);
  }

  .Button {
    height: 20px;
    width: 22px;
    color: var(--grey-lighten-56);

    .Icon {
      margin: 0 2px 0 0;
    }

    &:hover {
      background-color: inherit;
    }
  }
}
