.FilterForUndefined {
  margin-top: 20px;
}

.FilterForUndefined_Label {
  display: flex;
  flex-direction: row;
}

.FilterForUndefined_Switch {
  margin-right: 10px;
}

.FilterForUndefined_Text {
  line-height: 15px;
}
