.VariableFilter__modal {
  .LabeledTypeahead {
    margin-bottom: 24px;
  }
}

.VariableFilter__valueFields {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.VariableFilter__buttonRow {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}
