$modal-padding-h: 40px;

.Modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: var(--z-modal);
  display: flex;
}

.Modal__scroll-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

.Modal__content-container {
  position: absolute;
  background: var(--white);
  top: 15px;
  left: 50%;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* TODO: make responsive */
  width: 650px;

  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);

  /* remove focus styles since modal receives focus when opened  */
  &:focus {
    outline: none;
  }
}

.Modal__content-container--large {
  width: 950px;
}

.Modal__content-container--max {
  height: 95%;
  width: 95%;
}

.Modal__header {
  height: 60px;
  font-size: 1.4em;
  border-bottom: 1px solid var(--silver-darken-80);
  padding: 17px $modal-padding-h 0;
  position: relative;
}

.Modal__heading {
  font-size: 1em;
  padding-right: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Modal__close-button {
  border: none;
  border-radius: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(./close-large.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  border-radius: 3px;
  background-color: transparent;

  &:hover {
    opacity: 1;
  }
}

.Modal__content {
  padding: 20px $modal-padding-h;
  flex-grow: 1;
  position: relative;
}

.Modal__actions {
  background: var(--silver-base-97);
  padding: 15px 20px;
  border-top: 1px solid var(--silver-darken-80);
  text-align: right;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .Button + .Button {
    margin-left: 12px;
  }
}
