.import-progress {
  text-align: left;

  .glyphicon {
    margin: 0 5px;
  }

  .glyphicon-ok-sign {
    color: #00AA00;
  }

  .glyphicon-minus-sign{
    color: #AA0000;
  }

  .connection-indicators {
    margin: 0 5px;
  }
}
