.SearchInput {
  position: relative;

  .Input {
    border-radius: 15px;
    padding: 6px 30px 6px 15px;
  }

  .Input:valid ~ .searchIcon {
    display: none;
  }

  .searchIcon {
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
    transform: translateY(-50%);
    color: var(--silver-darken-80);
  }
}
