.djs-container {
  // we need the important flags as we need to override the direct style attribute written by diagram-js
  .highlight .djs-outline {
    stroke-width: 2px !important;
    stroke: #276e8c !important;
    fill: rgba(188,211,220,0.4) !important;
    cursor: pointer;
  }

  .hover-highlight .djs-outline,
  .hover.highlight .djs-outline {
    stroke-width: 2px !important;
    stroke: #276e8c !important;
    fill: rgba(48, 116, 142, 0.6) !important;
  }

  .highlight_selected.djs-element .djs-outline {
    stroke-width: 2px !important;
    stroke: rgba(66, 180, 21, 1.0) !important;
    fill: rgba(66, 180, 21, 0.7) !important;
  }
}
.cam-table.end-event-statistics {
  border: 1px solid gray;
  width: 350px;

  tr {
    background-color: white;
  }

  td {
    vertical-align: middle;
  }

  td:first-child {
    font-size: 2rem;
    text-align: right;
  }
}
