.djs-container .highlight .djs-outline {
  // we need the important flags as we need to override the direct style attribute written by diagram-js
  stroke-width: 2px !important;
  stroke: #276e8c !important;
  fill: rgba(188,211,220,0.4) !important;
  cursor: pointer;
}

.cam-table.end-event-statistics {
  td {
    vertical-align: middle;
  }

  td:first-child {
    font-size: 2rem;
    text-align: right;
  }
}
