<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Properties>
    <Property name="LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx</Property>
    <Property name="log.stackdriver.serviceName">${env:OPTIMIZE_LOG_STACKDRIVER_SERVICENAME:-optimize}</Property>
    <Property name="log.stackdriver.serviceVersion">${env:OPTIMIZE_LOG_STACKDRIVER_SERVICEVERSION:-}</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
    <Console name="Stackdriver" target="SYSTEM_OUT" follow="true">
      <StackdriverLayout serviceName="${log.stackdriver.serviceName}"
        serviceVersion="${log.stackdriver.serviceVersion}" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="io.camunda.optimize" level="${env:OPTIMIZE_LOG_LEVEL:-info}" />
    <Logger name="io.camunda.optimize.upgrade" level="${env:UPGRADE_LOG_LEVEL:-info}" />
    <Logger name="org.elasticsearch" level="${env:ES_LOG_LEVEL:-warn}" />

    <Root level="info">
      <AppenderRef ref="${env:OPTIMIZE_LOG_APPENDER:-Console}"/>
    </Root>
  </Loggers>
</Configuration>
