<configuration>
  <conversionRule conversionWord="sanitize" converterClass="io.camunda.optimize.util.LogUtil" />
  <if condition='property("JSON_LOGGING").equals("true")'>
    <then>
      <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
      </appender>
      <logger name="io.camunda.optimize" level="debug" />
      <logger name="org.springframework.boot.SpringApplication" level="info" />
      <logger name="org.springframework.boot.web.embedded" level="info" />
      <logger name="org.springframework.context.support" level="info" />
      <logger name="org.springframework.beans.factory" level="info" />
      <logger name="org.apache.hc" level="debug" />
      <logger name="org.opensearch.client" level="debug" />
      <logger name="io.camunda.optimize.service.db.os" level="debug" />
      <logger name="org.elasticsearch" level="warn" />
      <root level="info">
        <appender-ref ref="STDOUT_JSON"/>
      </root>
    </then>
    <else>
      <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %sanitize(%msg) %n</pattern>
        </encoder>
      </appender>
      <logger name="io.camunda.optimize" level="debug" />
      <logger name="org.springframework.boot.SpringApplication" level="info" />
      <logger name="org.springframework.boot.web.embedded" level="info" />
      <logger name="org.springframework.context.support" level="info" />
      <logger name="org.springframework.beans.factory" level="info" />
      <logger name="org.apache.hc" level="debug" />
      <logger name="org.opensearch.client" level="debug" />
      <logger name="io.camunda.optimize.service.db.os" level="debug" />
      <logger name="org.elasticsearch" level="warn" />
      <root level="info">
        <appender-ref ref="STDOUT"/>
      </root>
    </else>
  </if>
</configuration>
