.ResizeHandle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  cursor: nwse-resize;
  padding: 5px;
}

.ResizeHandle::after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}

.ResizeHandle__dropShadow {
  background-color: #f5f5f5;
  position: absolute;
  transition: 0.2s;
  opacity: 0;
}

.ResizeHandle__dropShadow--active {
  opacity: 1;
}

.ResizeHandle__dropShadow--invalid {
  background-color: #ffe0e0;
}
