[Unit]
Description=Camunda BPM Platform ({{ camunda_server }})
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-{{ java_version }}-oracle/jre
Environment=CATALINA_HOME={{ camunda_server_dir }}
Environment=CATALINA_BASE={{ camunda_server_dir }}
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ camunda_server_dir }}/bin/startup.sh
ExecStop={{ camunda_server_dir }}/bin/shutdown.sh

User={{ camunda_user }}
Group={{ camunda_group }}
UMask=0007
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
