.DefinitionSelection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 500px;

  &.large {
    height: 400px;
  }

  .selectionPanel {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

    .warning {
      font-size: 12px;
      color: #888;
      margin-top: -20px;
      margin-bottom: 15px;
    }

    .dropdowns {
      display: flex;
      flex-direction: row;
      width: 100%;

      .Labeled {
        flex-grow: 1;
        position: relative;
        margin-bottom: 25px;
        margin-right: 20px;
        &:first-child {
          margin-right: 25px;
        }

        .name {
          width: 100%;
          flex-grow: 1;
          margin-right: 20px;

          .activateButton {
            width: 100%;
          }
        }

        .version {
          width: 100%;
          flex-shrink: 0;
          flex-grow: 0;

          .activateButton {
            width: 100%;
            flex-shrink: 0;
            flex-grow: 0;
          }
        }
      }
    }
  }

  .diagram {
    border-top: 1px solid #dfdfdf;

    padding: 10px;
    display: flex;
    flex-grow: 1;
  }
}
