.DefinitionSelection {
  width: 100%;

  .Popover__button {
    padding-left: 20px;
  }

  .container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &.withTenants {
      .selectionPanel .dropdowns .tenant.entry {
        display: inline-block;
      }
    }

    &.large {
      height: 400px;
    }

    &:not(.large) {
      .selectionPanel {
        margin-bottom: 20px;
      }
    }

    .selectionPanel {
      margin-bottom: 40px;

      .InfoMessage {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: -25px;
      }

      .dropdowns {
        display: inline-flex;
        flex-direction: row;

        .entry {
          &:not(:first-child) {
            margin-left: 10px;
          }

          &:first-child {
            margin-left: 0;
            width: 275px;
          }

          &.tenant {
            display: none;
            width: 120px;
          }

          .version {
            width: 120px;
          }
        }
      }
    }

    .diagram {
      border-top: 1px solid #dfdfdf;

      padding: 10px;
      display: flex;
      flex-grow: 1;

      .BPMNDiagram .ZoomControls {
        display: none;
      }
    }
  }
}
