.DefinitionSelection {
  width: 100%;

  .Popover__button {
    padding-left: 20px;
  }

  .label {
    color: #626262;
    font-size: 0.875em;
    margin-bottom: 5px;
    display: block;
  }

  .container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 588px;

    &.large {
      height: 400px;
    }

    .selectionPanel {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 20px;

      .warning {
        font-size: 12px;
        color: #888;
        margin-top: -20px;
        margin-bottom: 15px;
      }

      .dropdowns {
        flex-direction: row;
        width: 100%;

        .entry {
          display: inline-block;
          position: relative;
          margin-bottom: 25px;
          margin-right: 25px;
          width: 110px;

          &.hidden {
            visibility: hidden;
          }

          &:first-child {
            margin-right: 25px;
            width: 250px;
          }

          .Dropdown,
          .Dropdown .activateButton {
            width: 100%;
          }
        }
      }
    }

    .diagram {
      border-top: 1px solid #dfdfdf;

      padding: 10px;
      display: flex;
      flex-grow: 1;

      .BPMNDiagram .ZoomControls {
        display: none;
      }
    }
  }
}
