.TenantPopover {
  .Popover__dialog {
    padding: 10px;
    min-width: 221px;
  }

  .ButtonGroup {
    margin-bottom: 15px;
  }

  fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;

    div {
      margin-bottom: 10px;
    }
  }

  .Switch {
    margin-right: 10px;
    vertical-align: middle;
  }
}
