.VersionPopover {
  .disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .specificVersions {
    margin-left: 2em;

    .tag:not(:empty) {
      font-size: 12px;
      border-radius: 10px;
      height: 20px;
      font-weight: normal;
      background: #e5f6ff;
      color: #1a6ef4;
      padding: 3px 10px;
      margin-left: 5px;
    }
  }
}
