.diagram {
  flex: 1 1 auto;
  position: relative;
}

.diagram__holder {
  position: absolute;
  height: 100%;
  width: 100%;

  .loading_indicator {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    padding-top: 10rem;

    .spinner {
      font-size: 7rem;
    }

    .text {
      font-size: 4rem;
    }
  }
}
