.diagram {
  position: relative;
  height: 70vh;
}

.diagram__holder {
  position: absolute;
  height: 100%;
  width: 100%;
}

.diagram__overlay {
  font-weight: 900;
  color: #00eb00;
  border: 1px solid black;
  border-radius: 100%;
  width: 2rem;
  text-align: center;
  padding: 0.5rem 0;
  background-color: white;
}
