.Header {
  border-bottom: 1px solid var(--silver-darken-87);
  font-size: 15px;
  font-weight: 500;
  padding: 11px 20px;
  padding-bottom: 10px;
  display: flex;
  flex-shrink: 0;

  &.text-light {
    .NavItem {
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      &:last-child {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
      }

      a {
        color: rgba(255, 255, 255, 0.7);
      }

      &.active a {
        color: rgba(255, 255, 255, 0.9);
      }
    }

    .appLink {
      color: rgba(255, 255, 255, 0.9);

      &:visited {
        color: rgba(255, 255, 255, 0.9);
      }
    }

    .Dropdown .activateButton {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  a {
    text-decoration: none;
    white-space: nowrap;
  }

  .appLink {
    color: var(--grey-base-40);
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    white-space: nowrap;

    img {
      width: auto;
      margin-right: 20px;
      height: 26px;
      display: inline-block;
    }
  }

  .appLink:visited {
    color: var(--grey-base-40);
  }
}
