@font-face {
  font-family: 'bpmn';
  src: url('/fonts/bpmn.eot');
  src: url('/fonts/bpmn.eot#iefix') format('embedded-opentype'),
       url('/fonts/bpmn.woff') format('woff'),
       url('/fonts/bpmn.ttf') format('truetype'),
       url('/fonts/bpmn.svg#bpmn') format('svg');
  font-weight: normal;
  font-style: normal;
}

.Header {
  border-top: 3px solid #b5152b;
  box-shadow: 0 2px 10px -4px #555555;
  color: #777777;
  font-size: 21px;
  padding: 10px 15px 12px 15px;
  display: flex;
}

.Header a {
  text-decoration: none;
}

.Header__link {
  color: #333;
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 36px;
}

.Header__brand-logo {
  margin-right: .3em;
}

.Header__brand-logo:before {
  color: #b5152b;
  display: inline-block;
  font-family: "bpmn";
  font-style: normal;
  font-weight: normal;
  content: '\E831';
}

.Header__nav {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.Header__nav li {
  display: inline-block;
  margin-right: .75em;
}

.Header__nav li:last-child {
  margin-right: 0;
}
