@import 'shared-styles/shared-styles.scss';
@import './Header.colors.scss';

.Header {
  border-bottom: 1px solid $silver-darken-87;
  font-size: 15px;
  font-weight: 500;
  padding: 11px 20px;
  padding-bottom: 10px;
  display: flex;
  flex-shrink: 0;

  &.text-light {
    .NavItem {
      border-left: 1px solid $border-light;
      &:last-child {
        border-right: 1px solid $border-light;
      }

      a {
        color: $text-light;
      }

      &.active a {
        color: $text-light-active;
      }
    }

    .appLink {
      color: $text-light-active;

      &:visited {
        color: $text-light-active;
      }
    }

    .Dropdown .activateButton {
      color: $text-light;
    }
  }

  a {
    text-decoration: none;
    white-space: nowrap;
  }

  .appLink {
    color: $grey-base-40;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    white-space: nowrap;

    img {
      width: auto;
      margin-right: 20px;
      height: 26px;
      display: inline-block;
    }
  }

  .appLink:visited {
    color: $grey-base-40;
  }
}
