.LogoutButton {
  flex-shrink: 0;
}

.LogoutButton.hidden {
  display: none;
}

.LogoutButton button {
  display: block;
  padding: 0 6px;
  border: none;
  font-size: inherit;
  color: #666;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}
