.LogoutButton {
  flex-shrink: 0;
}

.LogoutButton.hidden {
  display: none;
}

.LogoutButton .Button {
  display: block;
  padding: 0;
  border: none;
  font-size: inherit;
  color: #666;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}
