.LogoutButton {
  display: flex;

  &.hidden {
    display: none;
  }

  .Button {
    display: block;
    padding: 0;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    color: #666;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
  }
}
