.UserMenu {
  &.Dropdown .activateButton {
    border: none;
    background-color: var(--silver-lighten-99);
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 15px;
    color: var(--grey-lighten-56);
    font-weight: 500;
    white-space: nowrap;
  }

  &.userLabel {
    align-self: center;
    color: var(--grey-lighten-56);
    font-weight: 500;
    white-space: nowrap;
    font-size: 15px;
    vertical-align: middle;
  }

  hr {
    border: none;
    border-top: 1px solid var(--silver-darken-80);
  }
}
