* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

body {
  border-top: 3px solid #ea3f4e;
  margin: 0;
}

p {
  margin: 0;
}

#header {
  padding: 10px 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  box-shadow: 0 2px 10px -4px #555;
}

#header * {
  vertical-align: middle;
}

#header h1 {
  font-size: 21px;
  display: inline;
  font-weight: normal;
  margin-left: 0.2em;
}

#content {
  margin: 0 1em;
}

.tabs {
  width: 100%;
}

.tabs .content {
  position: relative;
}

.tabs .buttons {
  display: flex;
}

.tabs .buttons button {
  flex: 1 0 auto;
  height: 35px;
  background-color: #f0f0f0;
  border: 1px solid gray;
  border-bottom: 2px solid gray;
  cursor: pointer;
}

.tabs .buttons button.active {
  background-color: #fff;
  border-bottom: none;
}

.log {
  white-space: pre;
  font-family: monospace;
  padding: 1em;
  overflow: auto;
  vertical-align: top;
  position: absolute;
  background-color: white;
  z-index: 1;
  height: 500px;
  width: 100%;
  border: 1px solid lightgray;
  border-top: none;
}

.log.active {
  z-index: 2;
}

.actionButton {
  background-color: #0998c8;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.logsHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
