.MenuButton {
	.cds--menu-button__trigger--open svg:not(.cds--btn__icon) {
		transform: none;
	}

	button {
		width: 100%;
		justify-content: flex-start;

		svg:not(:last-of-type) {
			margin-right: 0.5rem;
			transform: none;
		}
	}

	&.hasIconOnly button {
		&.cds--menu-button__trigger:not(.cds--btn--ghost) {
			min-width: 1rem;
			padding-inline-end: calc(
				var(--cds-layout-density-padding-inline-local) + 1.625rem
			);
		}
		svg:not(:last-of-type) {
			margin-right: 0;
		}
	}

	&:not(.hasIconOnly) [role="tooltip"] {
		display: none;
	}
}
