.AlertsDropdown {
  .createNew.bottomBorder {
    border-bottom: 1px solid var(--silver-darken-87);
  }

  .subTitle {
    font-size: 10px;
    padding: 5px 20px;
    color: var(--grey-lighten-56);
  }
}
