$bg: #f8f8f8;
$border: #bbb;
$text: #333;

$bg-hover: #e6e6e6;
$border-hover: #adadad;
$text-hover: #333;

$bg-active: darken(#e6e6e6, 12);
$border-active: 1px solid darken(#adadad, 12);
$text-active: #111;

$border-disabled: #d3d3d3;
$text-disabled: #8e8e8e;

$bg-dark: #000;
$bg-dark-active: #333;
$border-dark: #333;
$text-dark: #ddd;
