.Button,
a.Button {
  color: #333;
  font-size: .875em; /* 14px/16px */
  user-select: none;
  padding: 6px 12px;
  background-color: #f8f8f8;
  border: 1px solid #bbb;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
}

.Button:hover,
a.Button:hover {
  color: #111;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  cursor: pointer;
  transition: background-color .3s, border-color .3s;
}

.Button:focus,
a.Button:focus {
  outline: none;
  border: 1px solid #00a8ff;
  box-shadow: 0 0 5px rgba(#00a8ff, 1);
}

.Button[disabled]:hover,
.Button[disabled="disabled"]:hover,
a.Button[disabled]:hover,
a.Button[disabled="disabled"]:hover {
  color: #333;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}


.Button:active,
a.Button:active {
  color: #111;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
}

.Button[disabled],
.Button[disabled="disabled"],
a.Button[disabled],
a.Button[disabled="disabled"] {
  cursor: not-allowed;
  opacity: .65;
}

.Button--small,
a.Button--small {
  font-size: .75em; /* 12px/16px */
  padding: 4px 8px;
}


.Button--primary,
a.Button--primary {
  font-weight: bold;
}


.Button--blue,
a.Button--blue {
  color: white;
  background-color: #00a8ff;
  border: 1px solid #00a8ff;
}

.Button--blue:focus,
a.Button--blue:focus {
  border: 1px solid darken(#00a8ff, 12);
}

.Button--blue:hover,
a.Button--blue:hover {
  color: white;
  background-color: #008fe6;  /* #00a8ff -> darken 10% */
  border: 1px solid #008fe6;
}

.Button--blue[disabled]:hover,
.Button--blue[disabled="disabled"]:hover,
a.Button--blue[disabled]:hover,
a.Button--blue[disabled="disabled"]:hover {
  color: white;
  background-color: #00a8ff;
  border: 1px solid #00a8ff;

}

.Button--danger,
a.Button--danger {
  color: white;
  background-color: #B5152B;
  border: 1px solid #B5152B;
}

.Button--danger:hover,
a.Button--danger:hover {
  color: white;
  background-color: #9C0012; /* #B5152B -> darken 10% */
  border: 1px solid #9C0012;
}

.Button--danger[disabled]:hover,
.Button--danger[disabled="disabled"]:hover,
a.Button--danger[disabled]:hover,
a.Button--danger[disabled="disabled"]:hover {
  color: white;
  background-color: #B5152B;
  border: 1px solid #B5152B;
}

.Button--green,
a.Button--green {
  color: white;
  background-color: #00c364;
  border: 1px solid #00c364;
}

.Button--green:hover,
a.Button--green:hover {
  color: white;
  background-color: #00AA4B; /* #00c364 -> darken 10% */
  border: 1px solid #00AA4B;
}

.Button--green[disabled]:hover,
.Button--green[disabled="disabled"]:hover,
a.Button--green[disabled]:hover,
a.Button--green[disabled="disabled"]:hover {
  color: white;
  background-color: #00c364;
  border: 1px solid #00c364;
}
