$bg: #f8f8f8;

$bg-hover: #e6e6e6;
$border-hover: #adadad;

$bg-active: darken(#e6e6e6, 12);
$border-active: 1px solid darken(#adadad, 12);
$text-active: #111;

$bg-dark: #000;
$bg-dark-active: #333;
$border-dark: #333;
$text-dark: #ddd;
