@import 'shared-styles/shared-styles.scss';
@import './Button.colors.scss';

.dark {
  .Button {
    color: $text-dark;
    background-color: $bg-dark;
    border: 1px solid $border-dark;

    &:hover,
    &:active,
    &.isActive {
      color: $text-dark;
      background-color: $bg-dark-active;
      border: 1px solid $border-dark;
    }
  }
}

.Button,
a.Button {
  color: $text;
  font-size: 0.875em; /* 14px/16px */
  user-select: none;
  padding: 6px 12px;
  background-color: $bg;
  border: 1px solid $border;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;

  &.link {
    display: inline;
    align-items: normal;
    background-color: transparent;
    color: $blue;
    border-color: $blue;
    border-style: none;
    font: inherit;
    padding: 0;
    perspective-origin: 0 0;
    transform-origin: 0 0;

    &:hover {
      background-color: transparent;
      color: $blue;
      border-color: $blue;
      border-style: none;
      text-decoration: underline;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:not(:disabled):not(.isActive):hover {
    color: $text;
    background-color: $bg-hover;
    border: 1px solid $border-hover;
    transition: background-color 0.3s, border-color 0.3s;
  }

  &[disabled]:hover,
  &[disabled='disabled']:hover {
    color: $text-disabled;
    border: 1px solid $border-disabled;
  }

  &:active,
  &.isActive {
    color: $text-active;
    background-color: $bg-active;
    border: 1px solid $border-active;
    transition: none;
  }

  &[disabled],
  &[disabled='disabled'] {
    color: $text-disabled;
    border-color: $border-disabled;
    cursor: not-allowed;
  }

  &.small {
    font-size: 0.75em; /* 12px/16px */
    padding: 4px 8px;
  }

  &.primary {
    font-weight: bold;
  }

  &.blue {
    color: white;
    background-color: $blue;
    border: 1px solid $blue;

    &:focus,
    &.isActive {
      color: white;
      background-color: darken($blue, 10%);
      border: 1px solid darken($blue, 12%);
    }

    &:hover {
      color: white;
      background-color: darken($blue, 5%);
      border: 1px solid darken($blue, 7%);
    }

    &[disabled],
    &[disabled='disabled'],
    &[disabled]:hover,
    &[disabled='disabled']:hover {
      color: white;
      background-color: lighten($blue, 20%);
      border: 1px solid lighten($blue, 20%);
    }
  }

  &.red {
    color: white;
    background-color: $cam-red;
    border: 1px solid $cam-red;

    &:hover {
      color: white;
      background-color: darken($cam-red, 10%);
      border: 1px solid darken($cam-red, 10%);
    }

    &[disabled]:hover,
    &[disabled='disabled']:hover {
      color: white;
      background-color: $cam-red;
      border: 1px solid $cam-red;
    }
  }

  &.green {
    color: white;
    background-color: $cam-green;
    border: 1px solid $cam-green;

    &:hover {
      color: white;
      background-color: darken($cam-green, 10%);
      border: 1px solid darken($cam-green, 10%);
    }

    &[disabled]:hover,
    &[disabled='disabled']:hover {
      color: white;
      background-color: $cam-green;
      border: 1px solid $cam-green;
    }
  }

  // Modify .Icon when used inside .Button to keep  distance to button label:
  .Icon {
    margin-right: 0.65em;
  }
}
