.AlertModal__label {
  font-size: 0.8em;
  color: gray;
  display: block;
}

.AlertModal__report-selection-note {
  font-size: 12px;
  color: #888;
  text-align: right;
}

.AlertModal__input {
  width: 100%;
  flex-grow: 1;

  input {
    width: 100%;
  }
}

.AlertModal__inputGroup {
  margin-bottom: 16px;
}

.AlertModal__combinedInput {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;

  .Select {
    min-width: 140px;
  }
}

.AlertModal__topSection {
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
}
