<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
>

  <context:annotation-config/>
  <context:component-scan base-package="org.camunda.optimize.service"/>
  <context:component-scan base-package="org.camunda.optimize.rest"/>

  <context:property-placeholder ignore-resource-not-found="true" location="classpath:service.properties,classpath:environment.properties" />

  <bean id="engineClient"  class="org.camunda.optimize.rest.engine.EngineClientFactory"/>

  <!--not declared as annotated component to be able to mock-->
  <bean id="transportClient"  class="org.camunda.optimize.service.es.TransportClientFactory"/>

  <bean id="schemaInitializer"  class="org.camunda.optimize.service.es.ElasticSearchSchemaInitializer"/>

  <bean id="objectMapper"
        class="com.fasterxml.jackson.databind.ObjectMapper"
        factory-method="createDefaultMapper"
        factory-bean="objectMapperFactory"
  />

</beans>