<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  classpath:org/springframework/beans/factory/xml/spring-beans-3.2.xsd
  http://www.springframework.org/schema/context
  classpath:org/springframework/context/config/spring-context-3.2.xsd
  http://www.springframework.org/schema/util
  classpath:org/springframework/beans/factory/xml/spring-util-3.2.xsd
  http://www.springframework.org/schema/tool
  classpath:org/springframework/beans/factory/xml/spring-tool-3.2.xsd
  ">

  <context:annotation-config/>
  <context:component-scan base-package="org.camunda.optimize.service"/>
  <context:component-scan base-package="org.camunda.optimize.rest"/>
  <context:component-scan base-package="org.camunda.optimize.plugin"/>
  <context:component-scan base-package="#{configurationService.getVariableImportPluginBasePackages()}"/>

  <bean id="configurationService" class="org.camunda.optimize.service.util.configuration.ConfigurationService"/>

  <!--not declared as annotated component to be able to mock-->
  <bean id="transportClient"  class="org.camunda.optimize.service.es.TransportClientFactory"/>

  <util:list id="registeredPlugins" value-type="org.camunda.optimize.plugin.importing.variable.VariableImportAdapter"/>

  <bean id="objectMapper"
        class="com.fasterxml.jackson.databind.ObjectMapper"
        factory-method="createOptimizeMapper"
        factory-bean="objectMapperFactory"
  />

</beans>
