.Form {
  .InputGroup {
    display: flex;
    align-items: flex-end;
    > *:not(:first-child) {
      margin-left: 10px;
    }

    > *:not(.Select) {
      flex: 1;
      min-width: 0px;
    }
  }

  input[type='checkbox'],
  input[type='radio'],
  .Switch {
    margin-right: 10px;

    + label:not(.Switch) {
      display: inline-block;
    }
  }

  > fieldset:first-child legend {
    padding: 0;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    legend {
      padding: 10px 0;
      font-weight: bold;
      margin-top: 0;
    }

    > * {
      width: 100%;
      margin-top: 10px;
    }
  }

  &:not(.compact) {
    margin-bottom: 20px;

    .formTitle {
      margin-top: 10px;
      font-weight: bold;
    }

    .formDescription {
      margin-top: 10px;
      font-size: 0.875em;
    }

    .ButtonGroup {
      padding-bottom: 10px;
    }

    .MessageBox {
      margin-bottom: 10px;
    }

    .FormGroup {
      &:not(.noSpacing) {
        padding: 17px 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      .Labeled label .label + * {
        width: 100%;
      }

      input[type='checkbox'],
      input[type='radio'],
      .Switch {
        + label {
          padding: 10px 0px;
        }
      }
    }

    &.horizontal {
      width: 90%;

      .formTitle,
      .formDescription {
        margin-left: 30%;
      }

      .Message,
      .Message {
        margin-left: 30%;
        margin-top: 3px;
      }

      input[type='checkbox'],
      input[type='radio'],
      .Switch {
        margin-left: 30%;
      }

      legend {
        margin-left: 30%;
        .Switch {
          margin-left: 0;
        }
      }

      .FormGroup {
        .Labeled label {
          display: flex;
          align-items: baseline;

          .label.before {
            width: 30%;
            padding-right: 10px;
            margin-bottom: 0;
            text-align: right;

            + * {
              width: 70%;
            }
          }
        }

        > *:not(.Labeled):not(.LabeledInput):not(fieldset):not(label):first-child {
          width: 30%;
          display: inline-block;
          padding-right: 10px;
          margin-bottom: 0;
          text-align: right;

          + * {
            display: inline-flex;
            width: 70%;
          }
        }

        > span:first-child {
          font-size: 0.875em;
        }

        > label,
        > .LabeledInput .label.after {
          display: block;
          padding: 10px 0px;
        }
      }

      .MessageBox {
        width: 110%;
      }
    }
  }

  &.compact {
    font-size: 0.875em;

    .formTitle {
      font-weight: bold;
    }

    .formDescription {
      margin-top: 5px;
      font-size: 0.875em;
    }

    > fieldset:first-child legend,
    > div:first-child > fieldset:first-child legend {
      border: none;
      padding: 0;
    }

    fieldset {
      padding: 0 0 20px 0;

      legend {
        border-top: 1px solid var(--silver-darken-80);
        padding: 14px 0 0 0;
      }
    }

    .FormGroup {
      &:not(.noSpacing) {
        padding: 5px 0 20px 0;
        &:not(:first-child) {
          border-top: 1px solid var(--silver-darken-80);
          padding-top: 14px;
        }
      }

      &.noSpacing > .Switch:only-child {
        margin: 5px 0 14px 0;
      }

      > label,
      > .LabeledInput {
        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }

    .Labeled {
      .label {
        margin-bottom: 5px;
        + * {
          width: 100%;
        }
      }
    }
  }
}
