.diagram-loading {
  font-size: 3rem;
  width: 100%;
  height: 100%;
  top: calc(50% - 6rem);
  text-align: center;
}

.zoom-in.btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.zoom-out.btn {
  position: absolute;
  bottom: 10px;
  right: 51px;
}

.reset-zoom.btn {
  position: absolute;
  bottom: 45px;
  right: 10px;
}
