.DeleteButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  height: 32px;
  width: 32px;
  background-image: url(./close-x.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;
  min-width: 0;
  box-shadow: none;

  &:hover,
  &:active {
    background-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
  }
}
