@import 'shared-styles/shared-styles.scss';

.Input.name-input {
  font-size: 2em;
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;

  @include placeholder {
    font-weight: normal;
    color: #bdbdbd;
  }
}
