.Badge {
  font-size: 12px;
  border-radius: 10px;
  height: 20px;
  font-weight: normal;
  background: var(--silver-base-97);
  color: var(--blue-darken-55);
  padding: 3px 10px;
  margin-left: 5px;
  white-space: nowrap;
}
