.DateFilter__Dashboard {
  width: 190px;
  &.fixed {
    width: max-content;
  }

  .Dropdown {
    width: 100%;
  }

  .to {
    color: var(--silver-darken-80);
  }

  .CarbonPopover .popoverContent {
    padding: 0;
    max-width: max-content;
  }

  .DateFields {
    padding: 10px 20px 0;
    margin: 0;

    .PickerDateInput {
      &::after {
        display: none;
      }

      .PickerDateInputWarning {
        top: 35px;
        font-size: 10px;
      }
    }
    .dateRangeContainer {
      position: relative;
      box-shadow: none;
      border: none;
      top: 0;
      background-color: initial;

      .rdrCalendarWrapper {
        background-color: initial;
      }

      &::before,
      &::after {
        display: none;
      }
    }
  }
}
