.dark .FiltersView {
  border-color: var(--grey-darken-36);

  > .Button {
    color: var(--silver-darken-87);

    &:hover {
      border: none;
      background: none;
    }
  }

  > * > .title {
    color: var(--silver-darken-87);
  }

  .Popover {
    .ButtonGroup .Button {
      background-color: var(--grey-base-40);
      border-color: var(--grey-darken-33);

      &:hover {
        background-color: var(--grey-lighten-50);
      }

      &.active {
        background-color: var(--blue);
      }
    }
  }
}

.FiltersView {
  border-top: 1px solid var(--silver-darken-80);
  border-bottom: 1px solid var(--silver-darken-80);
  padding: 15px 40px 20px 40px;
  margin-bottom: 20px;

  h3 {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  > * {
    min-width: 190px;
    width: max-content;
    max-width: 350px;
    margin-right: 14px;
    display: inline-block;

    > .title {
      font-size: 14px;
      color: var(--grey-base-40);
      margin-bottom: 7px;
    }
  }

  > .Button {
    background: none;
    border: none;
    width: max-content;
    font-size: 13px;
    text-decoration: underline;
    color: var(--grey-darken-13);
    padding: 0;
  }

  > .VariableFilter__Dashboard {
    .DateFilter__Dashboard {
      width: 100%;
    }
  }

  .Dropdown .activateButton {
    padding-left: 12px;
  }

  .indicator {
    vertical-align: middle;
    color: var(--silver-darken-80);
    &.active {
      color: var(--blue-darken-55);
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--cds-border-subtle);
    margin: 8px 0;
  }
}
