.FiltersEdit {
  .title {
    position: relative;
    padding-right: 40px;

    .deleteButton,
    .editButton {
      position: absolute;
      font-size: 16px;
      width: 16px;
      height: 16px;

      &:hover,
      &:active {
        background: none;
      }

      .Icon {
        margin: 0;
        vertical-align: baseline;
      }
    }

    .deleteButton {
      right: 0;
    }

    .editButton {
      right: 21px;
    }
  }

  .Popover,
  .Dropdown {
    opacity: 0.31;
    pointer-events: none;
  }
}

.dashboardVariableFilter {
  .BooleanInput,
  .DateInput {
    display: none;
  }

  .preText {
    margin-bottom: 22px;
  }

  .customValueCheckbox {
    display: inline-block;
    font-size: 14px;

    .label {
      padding-left: 10px;
    }
  }

  .StringInput {
    &:not(.containMode) + .customValueCheckbox {
      transform: translate(100px, -25px);
    }
    .customValueButtonRow .notification {
      display: none;
    }
  }

  .NumberInput,
  .StringInput.containMode {
    & + .customValueCheckbox {
      display: block;
      &::before {
        content: '';
        width: 100%;
        transform: translateY(-10px);
        display: block;
        border-top: 1px solid var(--silver-darken-87);
      }
    }
  }
}
