.FiltersEdit {
  .title {
    position: relative;
    padding-right: 40px;

    .deleteButton,
    .editButton {
      position: absolute;
      font-size: 16px;
      width: 16px;
      height: 16px;

      &:hover,
      &:active {
        background: none;
      }

      .Icon {
        margin: 0;
        vertical-align: baseline;
      }
    }

    .deleteButton {
      right: 0;
    }

    .editButton {
      right: 21px;
    }
  }
}

.dashboardVariableFilter {
  .BooleanInput,
  .DateInput {
    display: none;
  }

  .customValueCheckbox {
    display: inline-block;
  }

  .StringInput {
    .notification {
      display: none;
    }
  }

  .NumberInput,
  .StringInput.containMode {
    & + .customValueCheckbox {
      display: block;
      &::before {
        content: '';
        width: 100%;
        transform: translateY(-10px);
        display: block;
        border-top: 1px solid var(--cds-border-subtle);
      }
    }
  }
}
