@import 'shared-styles/shared-styles.scss';

.InstanceStateFilter {
  .Popover {
    .Popover__dialog {
      box-shadow: none;
      border-radius: 0;
      margin-top: 4px;
      padding: 0;
    }

    .Popover__dialog-arrow-border,
    .Popover__dialog-arrow {
      display: none;
    }

    .Popover__button {
      .indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $silver-darken-80;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 0.7em;

        &.active {
          background-color: $blue-darken-55;
        }
      }
    }

    .Form {
      > fieldset {
        padding: 10px 20px;
      }
    }
  }
}
