.dark .SelectionFilter {
  .hint {
    color: var(--silver-darken-80);
  }
}

.SelectionFilter {
  .hint {
    font-size: 12px;
    color: var(--grey-lighten-56);
    margin: 0;
    padding: 5px 0;
  }

  .customValue {
    display: flex;

    .Switch {
      margin-right: 0;
    }

    .Typeahead {
      min-width: 200px;

      &.invalid .typeaheadInput {
        border-color: var(--red-base-62);
      }
    }

    > .Button:hover {
      background: none;
    }
  }

  .customValueAddButton {
    width: auto;
    margin-bottom: 5px;
  }

  .PreviewItemValue {
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    border: none;
    display: inline;
    vertical-align: baseline;
  }
}
