.VariableFilter__Dashboard {
  > .cds--popover-container {
    width: 100%;
  }

  .title > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
  }
}
