.ColumnSelection {
  .columnSelectionSwitch .label {
    white-space: nowrap;
  }

  .includeNew {
    font-size: 12px;
    color: var(--grey-lighten-50);
    margin-bottom: 20px;

    .Labeled .label {
      align-self: center;
      margin-bottom: 0;
    }
  }
}
