.CountTargetInput .LabeledInput {
  width: 50%;
  display: inline-block;
  vertical-align: top;

  input {
    width: 100%;
  }

  &:first-child input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}
