.DurationTargetInput .LabeledInput {
  margin-bottom: 12px;

  .Labeled {
    width: 40%;
    display: inline-block;

    label {
      margin-bottom: 0;
    }

    .Input {
      font-size: 14px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .Select {
    width: 60%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
  }
}
