# === OAuth endpoint ============================================================
AUTH_URL=https://${TEST_INGRESS_HOST}/auth/realms/camunda-platform/protocol/openid-connect/token

# === Venom test client ========================================================
# TODO: Use a dedicated client for playwright tests
TEST_CLIENT_ID=venom

# === Public base URLs (Ingress) ==============================================
CONSOLE_BASE_URL=https://${TEST_INGRESS_HOST}
CONNECTORS_BASE_URL=https://${TEST_INGRESS_HOST}/connectors/inbound
TASKLIST_BASE_URL=https://${TEST_INGRESS_HOST}/orchestration/tasklist
OPERATE_BASE_URL=https://${TEST_INGRESS_HOST}/orchestration/operate
OPTIMIZE_BASE_URL=https://${TEST_INGRESS_HOST}/optimize
KEYCLOAK_BASE_URL=https://${TEST_INGRESS_HOST}/auth
IDENTITY_BASE_URL=https://${TEST_INGRESS_HOST}/identity/
WEBMODELER_BASE_URL=https://${TEST_INGRESS_HOST}/modeler
ZEEBE_GATEWAY_GRPC=zeebe-${TEST_INGRESS_HOST}:443
ZEEBE_GATEWAY_REST=https://${TEST_INGRESS_HOST}:26501/

# === Login URLs =============================================================
CONSOLE_LOGIN_PATH=/
KEYCLOAK_LOGIN_PATH=/
IDENTITY_LOGIN_PATH=
OPERATE_LOGIN_PATH=/
OPTIMIZE_LOGIN_PATH=/
TASKLIST_LOGIN_PATH=/
WEBMODELER_LOGIN_PATH=/
CONNECTORS_LOGIN_PATH=/

# === zbctl extras (optional) ===================================================
ZBCTL_EXTRA_ARGS=
# === feature toggles ===========================================================
SKIP_TEST_INGRESS=false    # set true to skip all ingress checks
SKIP_TEST_WEBMODELER=false # set true to skip WebModeler test
