.CopyToClipboard {
  display: flex;
}

.Input.CopyToClipboard__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  flex-grow: 1;
}

.CopyToClipboard__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-shrink: 0;
}
