[Unit]
Description=Camunda Optimize
Requires=camunda-bpm.service
After=camunda-bpm.service

[Service]
Type=simple
Environment=JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64/jre
PIDFile={{ camunda_optimize_dir }}/run/optimize.pid

ExecStart={{ camunda_optimize_dir }}/start-optimize.sh
ExecStop=/bin/pkill -TERM -P$MAINPID

User={{ camunda_user }}
Group={{ camunda_group }}
UMask=0007
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
