$cam-red: #b5152b;
$cam-blue: #00a8ff;
$cam-green: #00c364;
$blue: #1a6ef4;
$cam-orange: #ffa533;

$text: #333;
$border: #bbb;
$text-disabled: #8e8e8e;
$border-disabled: #d3d3d3;

// --- new design colors:
$silver-lighten-99: #fcfcfc;
$silver-base-97: #f8f8f8;
$silver-darken-94: #efefef;
$silver-darken-87: #dedede;
$silver-darken-80: #cdcdcd;
$grey-lighten-56: #909090;
$grey-lighten-50: #7f7f7f;
$grey-base-40: #666666;
$grey-darken-36: #5d5d5d;
$grey-darken-33: #4c4c4c;
$grey-darken-23: #3b3b3b;
$blue-lighten-93: #dbe9ff;
$blue-lighten-82: #a2c5ff;
$blue-lighten-75: #80b0ff;
$blue-base-65: #4d90ff;
$blue-darken-62: #3c85ff;
$blue-darken-55: #1a70ff;
$blue-darken-48: #005df7;
$green-base-44: #10d070;
$orange-base-60: #ffa533;
$red-base-62: #ff3d3d;
