*.tgz
Chart.lock
.idea
*.tmp
.DS_Store
**/.helm_ls_cache

# exceptions
!scripts/*.tgz
.env
**/*.png

node_modules/
**/node_modules/

test-results/
**/test-results/

test/test_helper

playwright-report/
**/playwright-report/

.release-please-config.json
.release-please-manifest.json
.release-please-release-notes.md

scripts/camunda-deployer/camunda-deployer
scripts/prepare-helm-values/prepare-helm-values

scripts/deploy-camunda/deploy-camunda
scripts/deploy-camunda/.env
.env.86
.env.88
.env.87

charts/camunda-platform*/test/e2e/package-lock.json
