
!/.github
!/.circleci
!/.*
!/node_modules/@actions
!/node_modules/argparse
!/node_modules/bindings
!/node_modules/chevrotain
!/node_modules/file-uri-to-path
!/node_modules/github-actions-parser
!/node_modules/graceful-fs
!/node_modules/js-yaml
!/node_modules/proper-lockfile
!/node_modules/regexp-to-ast
!/node_modules/retry
!/node_modules/signal-exit
!/node_modules/tunnel
!/node_modules/yaml-ast-parser
!/node_modules/Joined.s

/_*
/build
/builder
/binding
/node_modules
/.module
/package-lock.json

-*
.module
.warchive*
*.log
*.db
*.tmp
*.build
