@use '@carbon/styles/scss/spacing' as *;

.RenameVariablesModal {
  .modalContainer {
    height: 100%;
    gap: $spacing-04;
  }

  .cds--modal-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
      display: flex;

      .guidelines {
        list-style: initial;
        padding-left: 40px;
      }
    }
  }
}
