.Login {
  display: block;
  margin: 4rem auto;
  width: 340px;
}

.Login__heading {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 36px;
  text-align: center;
}

.Login__heading:before {
  color: #b5152b;
  display: inline-block;
  font-family: "bpmn";
  font-style: normal;
  font-weight: normal;
  content: '\E831';
  margin-right: .3em;
}

.Login__controls {
  margin-bottom: 42px;
}

.Login__label {
  display: block;
}

.Login__row {
  margin-bottom: 1.5em;
}

.Input.Login__input {
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 8px 6px;
}

.Login__button {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 8px 14px 9px;
}
