.Login {
  display: block;
  margin: 4rem auto;
  padding: 1rem 3rem;
  width: 40vw;
  border: 1px solid lightgray;
}

.Login .error-message {
  color: red;
}

.Login .error-message.hidden {
  display: none;
}

.Login label {
  display: block;
  font-variant: small-caps;
}

.Login div {
  margin-bottom: 1em;
}

.Login input {
  border: 1px solid lightgray;
  padding: 4px;
}