@import 'shared-styles.scss';

.Login {
  display: block;
  margin: 128px auto 0 auto;
  width: 340px;
}

.Login__heading {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 36px;
  text-align: center;
}

.Login__logo {
  margin-right: 0.3em;
  width: 21px;
  height: 21px;
  vertical-align: baseline;
  position: relative;
  top: 2px;
}

.Login__controls {
  margin-bottom: 42px;
}

.Login__label {
  @include visually-hidden;
  display: block;
}

.Login__row {
  margin-bottom: 1.5em;
}

.Input.Login__input {
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 8px 6px;
}

.Login__button {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 8px 14px 9px;
}
