.Login {
  display: block;
  margin: 4rem auto;
  padding: 1rem 3rem;
  width: 40vw;
  border: 1px solid lightgray;
}

.Login__label {
  display: block;
  font-variant: small-caps;
}

.Login__row {
  margin-bottom: 1em;
}
