@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-Regular.woff');
}

* {
  box-sizing: border-box;
}

html,
textarea {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-basis: 0%;
}

header {
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  padding: 8px 20px;
  display: flex;
  flex-shrink: 0;
  z-index: 2;
  height: 41px;
  align-items: center;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #333;
}

a img {
  display: inline-block;
  margin-right: 20px;
  width: 16px;
  height: 16px;
  vertical-align: baseline;
  position: relative;
  top: 2px;
}

.alert a {
  color: #00a8ff;
}

.alert a:hover {
  text-decoration: underline;
}

.site-wrap {
  padding: 36px 20px 0px 20px;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;

  max-width: 1024px;
  margin: auto;
  position: relative;
}

footer {
  line-height: 24px;
  font-size: 0.875em;
  border-top: 1px solid #eeeeee;
  color: #777777;
  cursor: default;
  flex-shrink: 0;
  padding: 0 20px;
  text-align: right;
}

.alert {
  font-size: 0.875em;
  background-color: #f2f2f2;
  padding: 8px 16px;
  margin: 0;
  border-radius: 3px;
  margin-bottom: 1em;
  border: 1px solid #dddddd;
}

.alert-danger {
  border: 1px solid #b5152b;
  background-color: #f9d0d5;
}

.alert-success {
  border: 1px solid #00c364;
  background-color: #c3ffe2;
}

label {
  font-size: 0.8em;
  color: gray;
  display: block;
}

textarea {
  width: 100%;
  color: #333;
  border: 1px solid lightgray;
  font-size: 0.875em;
  padding: 6px 12px;
  border-radius: 3px;
}

button {
  margin: 0;
  color: #333;
  font-size: 0.875em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 12px;
  background-color: #f8f8f8;
  border: 1px solid #bbb;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  color: #111;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

button:active {
  color: #111;
  background-color: #c7c7c7;
  border: 1px solid #8e8e8e;
  -webkit-transition: none;
  transition: none;
}
