@import 'shared-styles/shared-styles.scss';

.Checklist {
  font-size: 0.875em;

  .itemsList {
    max-height: calc(100vh - 415px);

    &:not(:only-child) {
      margin-top: 8px;
      padding-top: 8px;
      border-top: 1px solid #d3d3d3;
    }

    @include scrollable;
  }
}
