@import 'shared-styles/shared-styles.scss';

.MultiEmailInput {
  border: 1px solid #bbb;
  padding: 6px 10px 0px;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .placeholder {
    position: absolute;
    font-size: 0.875em;
    top: 50%;
    transform: translateY(-50%);
    color: $grey-lighten-56;
    pointer-events: none;
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    cursor: text;
  }

  &:focus-within {
    box-shadow: #2b7bff 0px 0px 0px 1px, #8cb7ff 0px 0px 0px 4px;
    transition: box-shadow 0.05s ease-out 0s;
  }

  .tag {
    display: flex;
    padding: 2px 0 0 9px;
    font-size: 0.875em;
    white-space: nowrap;
    border-radius: 11px;
    color: $grey-lighten-50;
    background-color: $silver-darken-87;
    margin-right: 6px;
    margin-bottom: 6px;
    order: 1;

    .tagText {
      max-width: 220px;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.error {
      background-color: $red-lighten-85;
    }

    .Button {
      height: 20px;
      width: 22px;
      color: $grey-lighten-56;

      .Icon {
        margin: 0 2px 0 0;
      }

      &:hover {
        background-color: inherit;
      }
    }
  }

  .Input {
    border: none;
    padding: 0;
    margin-bottom: 6px;
    max-width: 100%;
    order: 2;

    &:focus {
      box-shadow: none;
    }

    &:disabled {
      visibility: hidden;
    }

    &:not(:valid) ~ .searchClear {
      display: block;
    }
  }

  .searchClear {
    right: 5px;
  }

  .sizer {
    padding: 5px;
    font-size: 0.875em;
    display: none;
  }
}
