@use '@carbon/styles/scss/utilities' as *;

.SourcesModal {
  .Table {
    height: 500px;

    .tenantsSelector {
      margin-right: auto;

      .cds--combo-box {
        max-height: 3rem;
        height: 100%;

        input {
          background-color: transparent;
        }
      }
    }

    .cds--search {
      max-width: 300px;
    }

    thead input[type='checkbox'].hidden {
      visibility: hidden;
    }
  }
}
