@use '@carbon/styles/scss/utilities' as *;

.SourcesModal {
  .Table {
    height: 500px;

    .tenantsSelector {
      align-self: center;
      width: auto;
      margin-right: auto;
      margin-left: 10px;
      flex-shrink: 0;
    }

    .cds--search {
      max-width: 300px;
    }

    thead input[type='checkbox'].hidden {
      visibility: hidden;
    }
  }
}
