.Input.DateInput {
  flex: 1 0 auto;
  font-size: 1em;
  text-align: center;
  padding: 8px 6px;
}

.Input.DateInput__start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Input.DateInput__end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Input.DateInput__start--highlight {
  border-color: rgb(0, 145, 255);
  background-color: rgba(0, 145, 255, 0.1);
}

.Input.DateInput__end--highlight {
  border-color: rgb(0, 145, 255);
  background-color: rgba(0, 145, 255, 0.1);
}
