.VariableFilter__modal {
  width: 650px;
}


.VariableFilter__valueFields {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}


.VariableFilter__valueList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 90%;
  
  input[type="checkbox"] {
    margin-right: .75em;
  }
  
}

.VariableFilter__valueList--inputs {
  width: 50%;
  
  input[type="text"] {
    width: 100%;
  }
  
}

.VariableFilter__valueListItem {
  margin-bottom: 8px;
}

.VariableFilter__valueListButton {
  text-align: center;
}

.VariableFilter__addValueButton {
  width: 100%;
}



.VariableFilter__operatorButton--active {
  color: #111;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
}

.VariableFilter__operatorButtons {
  width: 90%;
  margin: 0 auto 24px;
  display: flex;
  justify-content: center;
  
  &:empty {
    margin-bottom: 0;
  }
  
  .Button {
    flex: 1;
    border-right-width: 0;
    border-radius: 0;
    
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right-width: 1px;
    }
    
  } 
  
}
