.DateFilter {
  .Form {
    padding-inline: 10%;

    .selectGroup {
      .PickerDateInput input {
        width: 100%;
        min-width: 110px;
      }
    }

    .previewContainer {
      min-height: 50px;
    }
  }

  .DateFilterPreview {
    font-size: 0.875em;
    align-items: center;
    white-space: nowrap;

    .filterText {
      display: inline-block;
    }
  }
}
