.DateFilter {
  .Form {
    padding-left: 20%;
    padding-right: 10%;

    .previewContainer {
      min-height: 50px;
    }
  }

  .DateFilterPreview {
    font-size: 0.875em;
    align-items: center;
    white-space: nowrap;

    .filterText {
      display: inline-block;
    }
  }
}
