.ActionItem {
  display: inline-flex;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
  background: #fbfbfb;

  .Button,
  .Button:hover,
  .Button:active {
    border: 1px solid transparent;
    border-radius: 0;
    border-right: 1px solid #ccc;
  }

  .content {
    padding: 0 4px;
    font-size: 0.875em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
