.ActionItem {
  display: inline-flex;
  border: 1px solid var(--silver-darken-80);
  background-color: var(--white);
  border-radius: 3px;
  background: var(--white);
  width: 100%;
  position: relative;
  min-height: 32px;
  width: max-content;

  &.highlighted {
    background: var(--blue-base-65);
    color: var(--white);
  }

  > .Message.error {
    padding: 5px 10px;
  }

  .Button,
  .Button:hover,
  .Button:active {
    border: 1px solid transparent;
    border-radius: 0;
    position: absolute;
    background: var(--white);
    right: 0;
    top: 0;
    height: 30px;
  }

  .content {
    padding: 0 10px;
    font-size: 0.875em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-right: 35px;
  }
}
