.DateFilter__inputs {
  margin-bottom: 36px;
  text-align: center;

  .Select {
    width: 110px;
  }
}
.DateFilter__modal {
  .Labeled .label {
    font-size: 0.875em;
    color: #626264;
    display: block;
    text-align: center;
    margin-bottom: 12px;
  }
}

.DateFilter__mode-buttons {
  margin-bottom: 24px;
}

.DateFilter__rolling-input {
  text-align: right;
}
