.DateFilter {
  .Form {
    padding-left: 20%;
    padding-right: 10%;

    .selectGroup {
      align-items: flex-start;
      position: relative;
    }

    .unitSelection {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .Input.number {
        max-width: 50px;
        margin: 0 10px;
      }

      .Select {
        flex: 1;
      }

      .customDate {
        border-top: 1px solid #bbb;
      }
    }

    .Message {
      margin-top: 10px;
    }

    .previewContainer {
      min-height: 50px;
    }
  }

  .DateFilterPreview {
    font-size: 0.875em;
    align-items: center;
    white-space: nowrap;
  }
}
