@import 'shared-styles/shared-styles.scss';

.ReportDetails {
  .nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .modalsButtons .Button {
    font-size: 12px;
    margin-right: 22px;
  }

  hr {
    border: none;
    border-bottom: 1px solid $silver-darken-87;
    margin: 20px 0;

    &:first-child {
      display: none;
    }
  }
}
