.ReportControlPanel {
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  padding: 12px 12px 0 12px;
  margin-bottom: 1em;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;

    > li {
      display: inline-block;
      position: relative;
      padding-right: 20px;
      margin-bottom: 24px;

      &.select {
        width: 15%;
        min-width: 200px;
      }

      &.filter {
        display: inline;
        padding-top: 27px;
      }

      .Labeled .label {
        color: #626262;
        font-size: 0.875em;
        margin-bottom: 5px;
      }
    }
  }

  .processDefinitionPopover {
    width: 100%;
  }

  .configDropdown {
    width: 100%;

    .activateButton {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .variablesGroupby {
      min-width: 130px;
      cursor: default;

      .inputContainer {
        padding: 3px;
        background-color: #f4f4f4;
        border-top: 1px solid #bbbbbb;
        border-bottom: 1px solid #bbbbbb;

        input {
          width: 100%;
        }

        &:first-child,
        & + .ReportControlPanel__variableInputContainer {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        .Button {
          width: 100%;
          display: block;
        }

        &.loadMore {
          box-shadow: 0px -4px 9px -6px black;

          > span {
            text-align: center;
            font-size: 12px;
            display: inline-block;
            width: 100%;
            vertical-align: top;
            color: #333333;
            margin-bottom: 3px;
          }
        }
      }

      .variableOptionsList {
        box-shadow: inset 1px 4px 9px -6px black;
        .DropdownOption {
          background-color: transparent;

          &:hover {
            background-color: #008fe6;
          }
        }
      }
    }
  }
}
