@import 'shared-styles/shared-styles.scss';

.ReportDetails {
  dl {
    margin: 0;

    dt {
      font-size: 12px;
      color: $grey-lighten-56;
    }

    dd {
      margin: 3px 0 10px;
      font-size: 14px;
      color: $grey-darken-33;

      &.nowrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid $silver-darken-87;
    margin: 20px 0;

    &:first-child {
      display: none;
    }
  }
}
