@import 'shared-styles/shared-styles.scss';

.Report-container {
  padding: 30px 40px 0 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.Report {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.Report__header {
  margin-bottom: 20px;

  .head {
    display: flex;
  }

  .tools {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-shrink: 0;

    .tool-button {
      margin-right: 6px;
    }

    .tool-button:last-child {
      margin-right: 0;
    }
  }
}

.Report__heading {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.Report__view {
  display: flex;
  flex-grow: 1;
  margin-bottom: 24px;
  overflow: auto;
}

.Report__content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
}
