.Report__header {
  display: flex;
  margin-bottom: 32px;
}

.Report__name-container {
  flex-grow: 1;
  padding-right: 48px;
}

.Report__heading {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.Report__metadata {
  font-size: 14px;
  color: #666666;
  margin-top: 6px;
}

.Input.Report__name-input {
  font-size: 2em;
  width: 100%;
  font-weight: bold;
}

.Report__tools {
  flex-shrink: 0;
  margin-top: 8px;
}

.Report__tool-button {
  margin-right: 6px;
}

.Report__tool-button:last-child {
  margin-right: 0;
}
