.ReportControlPanel {
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  padding: 12px 12px 0 12px;
  display: table;
  width: 100%;
}

.ReportControlPanel__popover {
  width: 100%;
}

.ReportControlPanel__dropdown {
  width: 100%;

  .Dropdown__button {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ReportControlPanel__variablesDropdown {
  min-width: 130px;
}

.ReportControlPanel__variableInputContainer {
  padding: 3px;
  background-color: #f4f4f4;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;

  &:first-child,
  & + .ReportControlPanel__variableInputContainer {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  .Button {
    width: 100%;
  }
}

.ReportControlPanel__variableOptionsList {
  box-shadow: inset 1px 4px 9px -6px;
  .DropdownOption {
    background-color: transparent;
  }
}

.ReportControlPanel__moreItemsLabel {
  text-align: center;
  font-size: 12px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.ReportControlPanel__loadMoreContainer {
  box-shadow: 0px -4px 9px -6px;
}

.ReportControlPanel__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.ReportControlPanel__item {
  display: inline-block;
  position: relative;
  padding-top: 22px;
  padding-right: 20px;
  margin-bottom: 24px;
}

.ReportControlPanel__item--select {
  width: 15%;
  min-width: 200px;
}

.ReportControlPanel__item--filter {
  display: inline;
  padding-top: 27px;
}

.ReportControlPanel__label {
  color: #626262;
  font-size: 0.875em;
  position: absolute;
  top: 0;
  left: 0;
}
