.Report.ReportView {
  .reportHeader {
    margin-bottom: 40px;

    .InstanceCount {
      margin-top: 0;
    }
  }

  .Report__content {
    padding-right: 40px;
  }

  .share-button .popoverContent {
    padding: 30px;
    padding-bottom: 10px;
  }

  .ShareEntity .includeFilters {
    display: none;
  }

  .IncompleteReport {
    font-size: 20px;

    p {
      top: 25%;
    }
  }
}
