.Report-container {
  padding-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.Report {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  &.ReportEdit {
    .Report__header {
      .headerTopLine {
        .RunPreviewButton {
          margin-left: 6px;
          min-width: auto;
        }
      }

      .headerBottomLine {
        justify-content: space-between;
      }

      .updatePreview {
        margin-top: 0.625rem;
        display: flex;
        .Switch {
          font-size: 0.875rem;
        }
      }
    }
    .Report__view {
      margin-top: 10px;
      border-top: 1px solid var(--silver-darken-87);

      .Heatmap > .Select {
        transform: translateY(-42px);
      }
    }
  }
}

.Report__header {
  margin-bottom: 20px;
  margin: 0 40px;

  .headerTopLine,
  .headerBottomLine {
    display: flex;
  }

  .head {
    display: flex;
    flex-grow: 1;
  }

  .tools {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-shrink: 0;

    .tool-button {
      margin-right: 6px;
    }

    .tool-button:last-child {
      margin-right: 0;
    }
  }
}

.Report__heading {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.Report__view {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  padding-left: 40px;
}

.Report__content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
  margin-bottom: 24px;

  .visualization {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .select {
      min-width: 200px;
      margin-right: 80px;

      > .label {
        color: var(--grey-base-40);
        font-size: 0.875em;
        margin-bottom: 5px;
        display: block;
      }
    }

    .Configuration {
      position: absolute;
    }

    .select,
    .Configuration {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}
