.Report.ReportView {
  .reportHeader {
    margin-bottom: 40px;

    .InstanceCount {
      margin-top: 0;
    }
  }

  .Report__content {
    padding-right: 40px;
  }

  .share-button .popoverContent {
    padding: 30px;
    padding-bottom: 10px;
  }

  .ShareEntity .includeFilters {
    display: none;
  }

  .IncompleteReport {
    font-size: 20px;

    p {
      top: 25%;
    }
  }

  .bottomPanel {
    height: 348px;
    transition: height 0.25s;

    &.minimized {
      height: 48px;
      overflow: hidden;
    }

    &.maximized {
      height: 100%;
      overflow: hidden;
    }

    .toolbar {
      background-color: var(--cds-layer);
      display: flex;
      justify-content: space-between;
      height: 48px;
      align-items: center;
      padding-left: 16px;
      font-size: 14px;
    }

    .bottomPanelTable {
      height: calc(100% - 48px);
    }
  }
}
