.ReportView {
  .Report__header {
    margin-bottom: 40px;

    .InstanceCount {
      margin-top: 0;

      .Popover {
        .countString,
        .filterListHeading {
          display: none;
        }
      }
    }
  }

  .share-button .Popover__dialog {
    padding: 30px;
    padding-bottom: 10px;
  }

  .ShareEntity .includeFilters {
    display: none;
  }

  .IncompleteReport {
    font-size: 20px;

    p {
      top: 25%;
    }
  }
}
