.TargetValueComparison__Table {
  max-height: 250px;
}

.TargetValueComparison__settingsIcon {
  vertical-align: bottom;
}

.TargetValueComparison__DiagramContainer {
  height: 250px;
  display: flex;
}
