.ErrorPage {
  padding: 36px 20px 15px 20px;
}
.ErrorPage__content {
  text-align: center;
}
.ErrorPage__maledicta {
  font-size: 96px;
  color: #dcdcdc;
  margin-bottom: 24px;
}
.ErrorPage__error-message {
  font-size: 32px;
}
