.Button.AddDefinition {
  position: absolute;
  right: 48px;
  top: 10px;
  padding-right: 6px;
}

.AddDefinitionModal {
  .cds--modal-container {
    height: 100%;
  }

  .MessageBox {
    font-size: 12px;
  }
}
