.Button.AddDefinition {
  position: absolute;
  right: 48px;
  top: 10px;
  padding-right: 6px;
}

.AddDefinitionModal {
  .MessageBox {
    font-size: 12px;
  }

  .Checklist {
    .selectAllInView {
      display: none;
    }
  }
}
