.Measure {
  .SelectionPreview {
    border: 1px solid var(--silver-darken-80);
    background-color: var(--silver-base-97);
    width: 180px;
    height: 32px;
    position: relative;

    .Button {
      position: absolute;
      right: 0;

      &:hover {
        border-top: 1px solid var(--silver-darken-80);
        border-bottom: 1px solid var(--silver-darken-80);
      }
    }
  }
}
