@import 'shared-styles/shared-styles.scss';

.ReportControlPanel {
  background-color: var(--silver-base-97);
  border-left: 1px solid var(--silver-darken-87);
  border-bottom: 1px solid var(--silver-darken-87);
  margin-left: 20px;
  flex-shrink: 0;
  width: 300px;
  display: flex;
  flex-direction: column;

  .sectionTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875em;
    margin-bottom: 15px;
    color: var(--grey-darken-33);
  }

  .source,
  .reportSetup,
  .filter {
    padding: 20px;
    border-bottom: 1px solid var(--silver-darken-87);
  }

  .reportSetup > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    margin-top: 20px;

    > li {
      margin-bottom: 20px;

      &.select {
        min-width: 200px;
      }

      > .label {
        color: var(--grey-base-40);
        font-size: 0.875em;
        margin-bottom: 5px;
        display: block;
      }
    }
  }

  .filter {
    overflow: auto;
    flex-grow: 1;
    @include scrollable;
  }

  .instanceCount {
    text-align: center;
    padding: 10px;
    font-size: 0.875em;
    color: var(--grey-base-40);
  }
}
