@import 'shared-styles/shared-styles.scss';

.ReportControlPanel {
  background-color: var(--silver-darken-94);
  border-left: 1px solid var(--silver-darken-87);
  border-bottom: 1px solid var(--silver-darken-87);
  margin-left: 20px;
  flex-shrink: 0;
  width: 308px;
  display: flex;
  flex-direction: column;

  .scrollable {
    @include scrollable;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.withDivider {
      border-top: 1px solid var(--silver-darken-87);
    }
  }

  .filter.header {
    padding: 12px 20px;
    border-top: 1px solid var(--silver-darken-87);

    .sectionTitle {
      margin: 0;
    }
  }

  .sectionTitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    margin-bottom: 15px;
    color: var(--grey-darken-13);

    .Icon {
      color: var(--black);
      margin-right: 5px;
    }

    .sectionToggle {
      color: var(--grey-darken-23);
      float: right;
      width: 16px;
      height: 16px;
      margin-left: 10px;

      .Icon {
        margin: 0;
      }
    }
  }

  .hidden .sectionTitle {
    margin-bottom: 0;
  }

  section {
    padding: 20px;
    padding-top: 12px;
    border-top: 1px solid var(--silver-darken-87);

    &.hidden {
      padding-bottom: 12px;

      ul,
      &.filter,
      .DefinitionSelection {
        display: none;
      }
    }
  }

  .source,
  section.filter {
    border-top: none;
  }

  .filterCount {
    float: right;
    padding: 1px 8px 2px;
    margin-top: -1px;
    border-radius: 11.5px;
    background-color: var(--blue-base-65);
    font-size: 14px;
    color: var(--white);
    font-weight: normal;
  }

  .reportSetup > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    margin-top: 20px;

    > li {
      margin-bottom: 10px;

      &.select {
        min-width: 200px;
      }

      > .label {
        color: var(--grey-base-40);
        font-size: 12px;
        display: inline-block;
        width: 80px;
        vertical-align: middle;
      }

      > .Select {
        width: 180px;

        .activateButton {
          padding-left: 10px;
        }
      }
    }
  }

  .instanceCount {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    font-size: 11px;
    color: var(--grey-darken-23);
    border-top: 1px solid var(--silver-darken-87);
  }
}
