@import 'shared-styles/shared-styles.scss';

.ReportControlPanel {
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  padding: 12px 12px 0 12px;
  margin-bottom: 1em;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;

    > li {
      display: inline-block;
      position: relative;
      padding-right: 20px;
      margin-bottom: 24px;

      &.select {
        width: 15%;
        min-width: 200px;
      }

      &.filter {
        display: inline;
        padding-top: 27px;
      }

      .label {
        color: #626262;
        font-size: 0.875em;
        margin-bottom: 5px;
        display: block;
      }
    }
  }
}
