@import 'shared-styles/shared-styles.scss';

.FilterList {
  padding: 0;
  margin: 0;

  .listItem {
    list-style-type: none;
    margin: 5px 0;
    width: 100%;

    .ActionItem {
      .content,
      .Message.error,
      .header .type {
        font-size: 10px;
      }

      .content > span.note {
        display: block;
        margin-top: 5px;
      }
    }

    .parameterName {
      @include highlighted;
      max-width: 230px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 11px;
    }

    .previewList {
      padding: 0;
      .previewItem {
        list-style-type: none;
      }
    }

    .filterText {
      display: block;
    }

    .appliedTo {
      margin-top: 6px;
      margin-bottom: 0;
      color: var(--blue-darken-55);
    }

    .OrOperator {
      margin: 10px 0;
      text-transform: uppercase;
    }
  }

  .listItemConnector {
    list-style-type: none;
    display: inline-block;
    margin: 0 0.5em;
  }
}

.dark .FilterList .ActionItem {
  color: var(--grey-darken-13);
}
