@import 'shared-styles/shared-styles.scss';

.FilterList {
  padding: 0;
  margin: 0;

  .listItem {
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;

    &.notEditable {
      cursor: default;
    }

    .ActionItem {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      .content {
        padding: 0 35px 0 10px;
      }

      * {
        white-space: pre-wrap;
      }

      .parameterName {
        font-style: italic;
        font-weight: bold;
      }

      .previewList {
        padding: 0;
        .previewItem {
          list-style-type: none;
          display: inline-block;
        }
      }
    }
  }

  .listItemConnector {
    list-style-type: none;
    display: inline-block;
    margin: 0 0.5em;
  }
}

.Tooltip .filterValues .previewItemValue,
.FilterList .ActionItem .previewItemValue {
  @include highlighted;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}

.dark .FilterList .ActionItem {
  color: var(--grey-darken-13);
}
