.Filter {
  display: inline;

  .filterHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .Filter__dropdown .activateButton {
      padding-left: 12px;
    }

    .dropdownLabel {
      font-size: 12px;
      font-weight: 500;
      color: var(--grey-darken-13);
      margin-top: -2px;
    }

    .explanation {
      margin-left: 7px;
      flex-grow: 1;
      color: var(--grey-darken-23);

      .Icon {
        opacity: 0.26;
        vertical-align: top;
        margin-top: 2px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .emptyMessage {
    color: var(--grey-lighten-50);
    font-size: 12px;
    margin: 10px 0 0;
  }

  .linkingTip {
    color: var(--grey-lighten-50);
    font-size: 12px;
  }
}

.filterLevelTooltip {
  width: 363px;
}
