{{! Custom override of the upstream beanValidation.mustache template.
  Diff: wraps the @NotNull emission in an isNullable check so that properties
  marked as both required and nullable in the OpenAPI spec do not get @NotNull.
  The upstream template unconditionally emits @NotNull for all required fields,
  which is incorrect for nullable properties. OpenAPI required means the key
  must be present, not that the value must be non-null.
  Upstream issue: https://github.com/OpenAPITools/openapi-generator/issues/21050
}}{{#required}}{{^isReadOnly}}{{^isNullable}}@NotNull
{{/isNullable}}{{/isReadOnly}}{{/required}}{{#isContainer}}{{^isPrimitiveType}}{{^isEnum}}@Valid
{{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}@Valid
{{/isPrimitiveType}}{{/isContainer}}{{^openApiNullable}}{{>beanValidationCore}}{{/openApiNullable}}{{#openApiNullable}}{{^useOptional}}{{>beanValidationCore}}{{/useOptional}}{{/openApiNullable}}{{#useOptional}}{{#openApiNullable}}{{#isContainer}}{{^required}}{{>beanValidationCore}}{{/required}}{{/isContainer}}{{/openApiNullable}}{{#openApiNullable}}{{#required}}{{>beanValidationCore}}{{/required}}{{/openApiNullable}}{{/useOptional}}