.DashboardReport__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.DashboardReport__visualization {
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 10px;
}

.DashboardReport__header {
  position: absolute;
  top: 0;
  height: 2em;
  left: 0;
  right: 0;
  line-height: 2em;
  font-weight: bold;
  padding-left: 10px;
}

.DashboardReport__heading {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}

.DashboardReport__heading:active,
.DashboardReport__heading:visited {
  color: #333333;
}

.DashboardReport__visualization {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .Table {
    table-layout: fixed;
    min-width: 100%;
  }
}
