.DashboardReport__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .BPMNDiagram {
    .ZoomControls {
      display: none;
    }

    &:hover .ZoomControls {
      display: block;
    }
  }
}
