.OptimizeReport__visualization {
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 10px;
}

.OptimizeReport__visualization--unscrollable {
  overflow: hidden;
}

.OptimizeReport__header {
  position: absolute;
  top: 0;
  height: 2em;
  left: 0;
  right: 0;
  line-height: 2em;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.OptimizeReport__heading {
  font-size: 21px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  color: #6c737f;
}

.OptimizeReport__heading:active,
.OptimizeReport__heading:visited {
  color: #6c737f;
}

.OptimizeReport__visualization {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .Table {
    table-layout: fixed;
    min-width: 100%;
  }
}

.dark {
  .OptimizeReport__heading,
  .OptimizeReport__heading:active {
    color: #ddd;
  }
}
